[2020-04-16 17:34] ghost commented on #600
[Comment](https://meta.trac.wordpress.org/ticket/3309#comment:14) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587058496159400)._

[2020-04-16 17:35] ghost commented on #599
[Comment](https://meta.trac.wordpress.org/ticket/3306#comment:6) by @iandunn:

In the bug scrub today, we talked about maybe creating a child theme w/ the extra styles, or a new theme w/ updated markup, or making a Gutenberg full-site-editing theme.

. More discussion is needed, probably on the Community Team p2.

[2020-04-16 17:49] ghost commented on #573
[Comment](https://meta.trac.wordpress.org/ticket/3493#comment:10) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587059350175600)._

[2020-04-16 17:51] ghost commented on #601
[Comment](https://meta.trac.wordpress.org/ticket/3494#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587059480177800)._

[2020-04-16 21:44] #425 closed, assigned to coreymckrill

[2020-04-16 22:32] coreymckrill opened #440 "Speaker Feedback: Should single session posts show a link/button to access the feedback form when applicable?"
Right now an attendee can access the feedback form for a session by either going to the Feedback page where they can select a session in a form and redirect to it, or by manually adding `/feedback` to the end of the single session URL. It seems like it would be intuitive to have a "Leave feedback" button at the bottom of the content of a single session, that only appears when `post_accepts_feedbac

[2020-04-17 16:43] ryelle opened #442 "Sessions: Look into how timestamps handle DST"
Now that we're using a real UTC value for the session time, we're not "magically" handling DST. The time is displayed according to the site or browser timezone, so if the sessions are added before DST is in effect, when DST happens, all sessions will appear an hour later.

This issue is to investigate whether this is true, and how we can work around it.

[2020-04-22 14:15] #430 closed, assigned to ryelle

[2020-04-22 19:09] #414 closed, assigned to coreymckrill

[2020-04-22 19:20] coreymckrill opened #447 "Speaker Feedback: Add row actions for marking/unmarking feedback as inappropriate"
In #433 the `inappropriate` custom comment status was introduced. It can be applied to feedback comments via the Bulk Actions select in the Feedback list table, but there currently aren't any row actions for it, because I couldn't figure out how to get around the limitations of the normal comments row actions script. However, the approach in #443 might help, so we should look at this again.

[2020-04-22 20:13] #317 closed, assigned to nobody

[2020-04-23 22:51] #422 closed, assigned to coreymckrill

[2020-04-24 00:56] coreymckrill opened #448 "Migrate skip feature flag data from each site's options table to the blogmeta table"
Currently we add skip feature flags to an array that lives at the `wordcamp_skip_features` key in a site's options table. Then we use `wcorg_skip_feature( $flag )` as a conditional in the context of the current site that the function is executing on to determine whether or not to skip a particular chunk of code. This works fine for the purpose actually skipping a feature on a specific site, but it

[2020-04-24 16:22] ryelle commented on #448
Related (but broader scope): https://github.com/WordPress/wordcamp.org/issues/287

Overall agree, I think this is a good idea 👍

[2020-04-24 16:30] ryelle commented on #448
There was also [this ticket (closed)](https://meta.trac.wordpress.org/ticket/1403) that mentioned updating the places we check against min site IDs, if feature flags are being updated maybe updating these checks could also get rolled in? It could be a good devex thing to clean up.

From ticket:

[2020-04-24 17:48] #432 closed, assigned to nobody

[2020-04-24 20:37] iandunn commented on #396
I'm seeing some pre-planning camps in the widget too, like Buffalo.

I'm working on some related changes, so I'll take a look.

[2020-04-25 01:14] coreymckrill commented on #287
I think I would prefer to skip the UI for now. When someone wants to opt in to a beta, we can just add the appropriate blogmeta value via wp-cli.

If we have a feature that we want to be broadly available but we're still calling it a beta, that's when I think we might build a UI for opting in. But then again, assuming it's a new plugin, we could just make the plugin available to organizers for act

[2020-04-27 16:40] ryelle commented on #287
I wasn't thinking anything fancy, just a list of checkboxes like [the gutenberg experiments page.](https://2017.testing.wordcamp.org/wp-admin/admin.php?page=gutenberg-experiments)

When I suggested it, it seemed like we'd be beta-ing more things, but now it seems like only the schedule block fits into that framework (since SFT is a regular plugin).

[2020-04-27 18:32] coreymckrill commented on #287
@ryelle with #449 merged, can I close this issue, or would you prefer to leave it open until Beta flags and/or UI are figured out?

[2020-04-27 18:38] ryelle commented on #287
I don't think we need a UI to consider this closed, but we do need a different beta solution — like for the schedule block, we might want to put that on WCUS, which wouldn't be a "test site".

[2020-04-27 19:31] coreymckrill commented on #287
So for that case, I think we could add a blogmeta key to WCUS, something like `wordcamp_beta_schedule-block`, and then just use a conditional like

[code]

Or we could add another helper function similar to `is_wordcamp_test_site`, maybe something like:

[code]

Thoughts?

[2020-04-27 21:37] ryelle commented on #287
I like the helper function approach 👍

[2020-04-28 17:03] #447 closed, assigned to ryelle

[2020-04-28 17:17] iandunn commented on #396
https://meta.trac.wordpress.org/changeset/9786 removes camps from the Events Widget API if they're no longer scheduled. That removed Houston, Moscow, and Detroit.

I'm also not seeing Buffalo anymore, or any of the others in the spreadsheet. That's possibly because of one of the other commits recently.

I'll go ahead and close, but please re-open if you notice any other problems.

[2020-04-28 17:17] #396 closed, assigned to iandunn

[2020-04-28 20:37] #440 closed, assigned to coreymckrill

[2020-04-28 23:26] coreymckrill opened #454 "Speaker Feedback: Daily notification for organizers when there's unapproved feedback?"
Similar to the [daily notification to speakers](https://github.com/WordPress/wordcamp.org/pull/441) when there's new feedback, what if we had a daily notification get sent to the WordCamp's Speaker Organizer's email, with a fallback to the main `city@wordcamp.org` address, that just tells how many unapproved feedback comments there are with a link? (And obviously don't send the email when there ar

[2020-04-29 00:07] coreymckrill commented on #344
Since we currently allow a user to submit feedback to the same session multiple times (logged in or otherwise), we might need to take this a step further and say `Count of users who left feedbacks per session`

[2020-04-29 17:49] coreymckrill opened #455 "Speaker Feedback: Add visual indication for feedback form inputs that are required"
The required fields in the feedback form have the `required` HTML attribute, but there isn't a visual indication that they are required until you try to submit the form. Multiple people doing user testing noted this.

Elsewhere in the WordCamp codebase we do something like this:

[code]

But I'm not sure if this is considered best practice.

[2020-04-29 18:02] coreymckrill opened #456 "Speaker Feedback: Revise the wording of the feedback form questions"
The current wording is:

Several people have noted that this wording may cause a negative skewing of submitted feedback. @0aveRyan had some suggested improvements [here](https://make.wordpress.org/community/2020/01/27/speaker-feedback-tool-final-outline/#comment-27756).

@andreamiddleton suggested this simplified wording:

[2020-04-29 18:18] coreymckrill opened #457 "Speaker Feedback: Allow organizers to access the feedback view on the front end as well as the form"
Currently only speakers can access the front end view of approved feedback comments, and only for their own sessions. Organizers (i.e. site admins) just see the feedback submission form like everyone else, because they may want to submit feedback as well.

Suggestion from @dd32:

So perhaps we should let organizers see _both_ the feedback form and the approved comments. Maybe just append the comme

[2020-04-29 18:30] coreymckrill opened #458 "Speaker Feedback: Finding the right session in the dropdown is difficult when there are more than a few sessions"
From @iandunn:

One solution might be to use Select2, which would allow the user to search through the list. We already use it in other parts of the WordCamp codebase, although I've heard that it has some a11y issues.

[2020-04-29 18:37] coreymckrill opened #459 "Speaker Feedback: The feedback form and its status messages are sometimes rendered outside of the viewport"
From @iandunn:

For both of these situations we could programmatically scroll the viewport to the appropriate element. In the case of error messages, we would want to do it without changing the currently focused element if possible, as my understanding is that this causes confusion and frustration for screen reader users.

[2020-04-29 18:44] coreymckrill opened #460 "Speaker Feedback: Give more explicit information about the bounds of the form fields"
If someone fills in one of the feedback question fields and exceeds the character limit, the error message just says "This answer is too long", without providing a specific number. We should probably do one or both of these things:

* Update the error message to say something like "This answer is too long. It must be between 0 and 5,000 characters"
* Add help text near the field saying what the li

[2020-04-29 19:01] iandunn commented on #458
SelectWoo is a drop-in replacement that solves the a11y issues.

[2020-04-29 19:03] coreymckrill opened #461 "Speaker Feedback: The "organizer note" content on the Leave Feedback page is visible in meta data used by crawlers"
The "Leave Feedback" page gets created automatically by the plugin when it is activated on a site. The content added to the page is intended only as a note to organizers:

However, since that content is still stored in the database, it's still used in other contexts, so it shows up in places like Slack when you post a link to the page, and presumably in search engine results.

One idea would be to

[2020-04-29 19:54] 0aveRyan commented on #456
@coreymckrill @andreamiddleton I definitely think those are improved!

I'd still recommend tweaking the 2nd question, as I think an even more neutral phrasing could invite a wider spectrum of feedback.

`Needed` prescribes something went _wrong_, was _below standard_, was an _error of omission_, etc. "Needed improvement" still leads the question with a (slightly) negative skew.

Maybe nothing _nee

[2020-04-29 21:46] andreamiddleton commented on #456
I agree, that's even more neutral and is an improvement on my suggestion!

[2020-04-29 22:27] coreymckrill commented on #456
cc @mrwweb who also had [some suggestions](https://make.wordpress.org/community/2019/10/22/proposal-update-speaker-feedback-tool/#comment-27468) about the wording.

[2020-04-29 23:53] coreymckrill commented on #456
So, updating Andrea's revised questions with Dave's suggestion, we have:

[2020-04-29 23:59] andreamiddleton commented on #454
Oof, *daily* sounds really spammy to me. Is the annoyance of daily reminder emails worth the reward there? I would worry about people marking those reminders spam after a while?

[2020-04-30 00:02] coreymckrill commented on #454
Here's a rough idea for the wording of the notification:

[code]

[2020-04-30 00:09] coreymckrill commented on #454
Perhaps it _sounds_ spammy, but it is only the _possibility_ of getting an email daily. If the organizers stay on top of the queue, it probably wouldn't be every day after the first two or three days, because the email would only send when there is feedback waiting.

If the goal is to help speakers improve, and (as mentioned in my suggested text above) feedback is most effective when it's timely,

[2020-04-30 01:23] dd32 commented on #457
That seems reasonable to me.

Agreed.

[2020-04-30 16:17] ryelle opened #462 "Speaker Feedback: Update helpfulness UI"
Keep it as a checkbox for semantics, but style it like a button.

![image-2](https://user-images.githubusercontent.com/541093/80733961-6e86fd00-8adc-11ea-9813-dabf682db8ee.png)
[Figma file](https://href.li/?https://www.figma.com/file/dr7KQkJUxg5HbaJ1i13zmG/Speaker-Feedback?node-id=44%3A14)

[2020-04-30 17:03] ghost commented on #573
[Comment](https://meta.trac.wordpress.org/ticket/3493#comment:11) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1588266216202400)._

[2020-04-30 17:31] ghost commented on #603
[Comment](https://meta.trac.wordpress.org/ticket/3784#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1588267903222200)._

[2020-04-30 17:32] ghost commented on #659
[Comment](https://meta.trac.wordpress.org/ticket/3817#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1588267975223000)._

[2020-04-30 17:43] ghost commented on #604
[Comment](https://meta.trac.wordpress.org/ticket/3835#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1588268592231700)._

[2020-04-30 17:49] ghost commented on #660
[Comment](https://meta.trac.wordpress.org/ticket/3841#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1588268971236900)._

[2020-04-30 17:59] timiwahalahti opened #464 "Jetpack: Don't delete old contact form "spam" until a camp is over"
_[Original ticket in Trac](https://meta.trac.wordpress.org/ticket/3524)_

 Jetpack contact forms use Akismet to catch spam, and then delete the spam periodically. Sometimes there are false positives, though, which can mean that sponsor requests, etc get deleted before the organizers manually check the spam folder.

We could solve that by adding something to the jetpack-tweaks mu-plugin that would

[2020-04-30 19:15] #455 closed, assigned to ryelle

[2020-04-30 19:31] hlashbrooke commented on #456
I really like the simple questions that Andrea suggests there - they're short and direct, which makes them easier to parse and answer.

[2020-04-30 20:29] #462 closed, assigned to ryelle

[2020-04-30 21:43] coreymckrill opened #468 "Speaker Feedback: Character encoding issues in email notifications"
HTML entities should be converted to plaintext characters in the email, which is text-only.

![image-3-2](https://user-images.githubusercontent.com/916023/80762217-eb23d680-8af0-11ea-997f-eab14510a05d.png)

[2020-04-30 22:35] mrwweb commented on #456
This seems like a fabulous evolution of the questions. :)

I almost wonder if the first two questions remove the need for the third question, but having a catch-all at the end is often a good safety valve. If we got reports of a lot of ranting in it, maybe that would be worth revisiting, but I'd say go with these 3!

[2020-05-01 07:58] ghost commented on #660
[Comment](https://meta.trac.wordpress.org/ticket/3841#comment:2) by @ePascalC:

Please consider adding a public link to 'validated' slides in the API so WordPress.tv can find them easily and publish them directly with the video.
Maybe only to become visible after the WordCamp is over, to not spoil the fun...

[2020-05-01 07:59] ghost commented on #660
[Comment](https://meta.trac.wordpress.org/ticket/3841#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by casiepa. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1588319993254600)._

[2020-05-01 15:32] harishankerr commented on #454
I think this would be a lovely idea, as it would help the speaker wranglers stay on top of the speaker feedback queued. I see how useful it might be on a feedback point of view, especially if the speaker requests are not approved.

However, I'm not sure if this would be useful in the format you suggested might seem a little spammy, as @andreamiddleton had suggested. Perhaps we could tweak the timi

[2020-05-01 17:16] 2ndkauboy opened #471 "Speakers block: read more link not visible in frontend"
**Describe the bug**

When you set the "Content settings | Biography Length" to "Excerpt", it will show the "Continue reading" in the block editor, but not in the frontend. It seems to be an issue with the block and not the theme (tested it with TwentyTwenty using the Customizer and saw the same issue).

**To reproduce**

Steps to reproduce the behavior:
1. Create a page and add the speakers block

[2020-05-01 17:49] ryelle commented on #461
Rather than changing the page content, we could override the `og:description` with the `jetpack_open_graph_tags` filter.

We need a blurb for social embeds, since this is what currently displays:
![Screen Shot 2020-05-01 at 1 45 21 PM](https://user-images.githubusercontent.com/541093/80827481-0a366d00-8bb2-11ea-9131-dab66008a26e.png)

Also suggested was injecting "a short blurb that linked to a ha

[2020-05-01 17:50] ryelle commented on #461
Should that "how to give feedback" blurb also be on the individual session pages? Not everyone will come to the form by way of the main `/feedback/` page.

[2020-05-01 21:25] coreymckrill commented on #471
@2ndkauboy the Speakers block [pulls the Excerpt content](https://github.com/WordPress/wordcamp.org/blob/455fbd35b549c363623e9c9e2efe63838e7679a5/public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-list.js#L173) from the Core endpoint, and doesn't append anything extra. So the "Continue Reading" link must be added by the theme via the `excerpt_more` filter. I just checked Twent

[2020-05-01 22:08] coreymckrill commented on #461
This is a good point, and it makes me think that we should actually put the blurb at the top of the feedback form on individual sessions _instead_ of on the Leave Feedback page. That way it's closer to the source. We should probably open a separate issue for this, though.

Generally I'm not a fan of having "invisible" content that is not editable showing up in social embeds. But perhaps that's the

[2020-05-01 22:42] coreymckrill opened #474 "WC Central: Indicate which events on the schedule page are "online" events"
Some events are putting "online" in their event title or event location, which appears on the [Schedule page](https://central.wordcamp.org/schedule/). However, it would be better to show this in a consistent manner, especially since WordCamp posts have a checkbox for virtual events, making it easy to identify them.

Possible mockup:

![online-event](https://user-images.githubusercontent.com/916023

[2020-05-01 23:26] #456 closed, assigned to coreymckrill

[2020-05-01 23:28] #468 closed, assigned to coreymckrill

[2020-05-04 15:36] #460 closed, assigned to ryelle

[2020-05-04 17:03] #458 closed, assigned to ryelle

[2020-05-04 18:58] #457 closed, assigned to coreymckrill

[2020-05-04 22:26] coreymckrill opened #477 "Speaker Feedback: Status of feedback comments isn't clear in the "All" list table view"
Currently the status of the feedback comments is differentiated in two ways:

* A stripe of color along the left border of the list table row. Red is unapproved, orange is "inappropriate". Approved comments do not have an extra colored border.
* Which row actions are available. Since row actions make changes to the current state, looking at which ones are present for a comment help the user deduce

[2020-05-04 22:36] coreymckrill opened #478 "Speaker Feedback: Jetpack's "Feedback" menu item for contact form submissions is a naming collision, creates confusion"
If an organizer is trying to find the speaker feedback submissions screen, the first thing they will see in the Dashboard is a top-level item in the left menu called "Feedback" That is the natural place to go, but it's actually submissions from Jetpack's Contact Form module, not the speaker feedback tool.

The actual list table for speaker feedback is buried under the Sessions item in the left men

[2020-05-04 22:51] coreymckrill opened #479 "Speaker Feedback: Change the sender name in notification emails to be the name of the WordCamp event"
Currently, the sender is just "WordPress". It seems like it would be more helpful, and more likely to be opened if the email came from the specific WordCamp.

[2020-05-04 22:59] coreymckrill opened #480 "Speaker Feedback: Add help text blurb to front end feedback view for speakers"
When speakers click the link in the notification email to see their approved feedback comments, they may not understand what they're seeing. It would be nice to provide them with a blurb that explains some or all of the following:

* This is a list of feedback submitted by people who watched your talk, and reviewed/approved by the event organizers
* Only you and the organizers can see this
* Marki

[2020-05-05 00:29] coreymckrill opened #481 "WCPT: Icon in notice on application page is missing for logged out users"
The COVID online events warning uses a Dashicon, but that’s only enqueued if the toolbar is active, which is only for logged in users.

![missing-icon](https://user-images.githubusercontent.com/916023/81025792-b08da700-8e2c-11ea-9f97-c3aa4d79fa10.jpg)

[2020-05-05 01:24] dd32 commented on #454
Something worth noting here, is that the proposed email would be going to city@wordcamp not to individual organisers (AFAIK), so I don't think it being marked as spam or it being overwhelming would be a problem.

It'd be more like a task to be assigned to someone rather than a spammy nag.
I also assume some email clients would probably nest follow-on notifications under the first - at least I thin

[2020-05-05 17:21] #459 closed, assigned to ryelle

[2020-05-05 17:24] ryelle commented on #478
I like the red badge idea — renaming Jetpack's menu item would probably cause more trouble for support requests than it's worth

[2020-05-05 20:01] #477 closed, assigned to ryelle

[2020-05-05 21:17] iandunn opened #485 "Attach calendar invitations to personalized schedule emails"
Feature request from WCEU:

We could probably copy/paste some stuff from `WordCamp_API_ICS`, or refactor it for general use

[2020-05-05 22:11] ryelle commented on #461
Added the `og:description` in #484

If a camp doesn't have Jetpack sharing active, the embed should read the content, which right now is a bit sparse:

![Screen Shot 2020-05-05 at 3 53 27 PM](https://user-images.githubusercontent.com/541093/81120815-68898580-8efb-11ea-9059-9784921f1c78.png)

Is this a problem? We could fix it by adding that same blurb to the feedback page like this:

![Screen Shot

[2020-05-05 22:42] coreymckrill commented on #461
Are you thinking this would replace the admin advisory, or be part of the content that overwrites it?

[2020-05-05 22:49] ryelle commented on #461
Overwrites it - the admin notice would stay

[2020-05-05 23:10] coreymckrill commented on #461
👍 Sounds good to me.

[2020-05-05 23:52] #478 closed, assigned to ryelle

[2020-05-06 00:38] coreymckrill commented on #454
@harishankerr @andreamiddleton I understand that getting the same email notification a few days in a row is kind of annoying, but in this case, I think it's a feature, not a bug. We've created a system where the organizers must be gatekeepers for feedback before speakers get to see it. Moderating the feedback in a timely fashion should not be considered optional. That would be unfair to the intend

[2020-05-06 02:16] coreymckrill commented on #344
Here's an idea for capturing the total spam stat without having to keep it all in the database:

I said earlier that I don't think static snapshots are the correct solution here, but they could be for the spam count. We could hook into the routine that clears out the spam bucket (I presume) and save an option to the database of how many were deleted. Then when a report is run for all of these stat

[2020-05-06 02:30] andreamiddleton commented on #454
You make some good points. Let’s try it your way and see what kind of feedback we get. We can reassess in 6 months or sooner, if complaints start piling up.

[2020-05-06 16:51] coreymckrill opened #488 "Speaker Feedback: Add UI for speakers to opt out of email notifications about approved feedback"
In #441 I introduced a usermeta value to check whether a speaker has opted out of email notifications before sending the email about new approved feedbacks. However, that PR didn't include any UI additions where a speaker could actually set that value.

Storing the value in usermeta means that the opt out will apply for _all_ WordCamps. This way the speaker doesn't need to re-opt out if they speak

[2020-05-06 17:01] hlashbrooke commented on #488
Could we do a combination of both the options you mentioned, so that it can be managed by the speakers as well as the organisers? If only one then the front-end UI for speakers would be the priority.

If it's on the page where speakers view their feedback then the organisers could let the speakers know about it before the event so they choose to opt-out beforehand if they like.

[2020-05-06 17:06] hlashbrooke commented on #488
In terms of a good UI, I was thinking just a button on the page for viewing feedback would be good since it would just be one click to trigger (as opposed to selecting a checkbox and then clicking submit). The button text could change depending on the action - "Click to opt-out of receiving session feedback" or "Click to opt-in to receiving session feedback"

[2020-05-06 17:46] coreymckrill opened #489 "Speaker Feedback: Add more context to the session select on the Leave Feedback page"
Some feedback:

Sorting by time without any context might make it look random. But if we also prepended the day/time of the session to each select option, it would then be clear how it was sorted.

So here's a first draft of what a complete select option might look like:

![session-select](https://user-images.githubusercontent.com/916023/81210434-bac3b880-8f86-11ea-846e-494d5673346a.jpg)

[2020-05-06 19:49] varlese commented on #480
Here's a blurb with some suggested language here. Happy to tweak further if it needs to be shorter (or any other changes)!

[2020-05-08 23:03] coreymckrill commented on #481
The styles for that notification were just in the CSS control in the Customizer. I removed the references to Dashicon characters, since we're only using it on that one page. It doesn't seem worth it to load the Dashicons stylesheet for all logged out users for the one use case.

[2020-05-08 23:03] #481 closed, assigned to coreymckrill

[2020-05-11 19:55] #474 closed, assigned to coreymckrill

[2020-05-11 20:05] #461 closed, assigned to ryelle

[2020-05-11 21:09] ryelle opened #492 "Sessions Block & Schedule Block: Clarify session times with timezones"
Now that there are more online events, you might see a session list or schedule that lists times, but not have the context for knowing which timezone a camp is in. For example, [the WCUS 2019 sessions](https://2019.us.wordcamp.org/sessions/) show 9:15am, but you need to know that St Louis is in Central US time, whether it's DST, before you know what time that is "for real".

Some ideas
- Add a tim

[2020-05-12 17:10] coreymckrill opened #493 "Speaker Feedback: Explain wp.org login in speaker notification email"
Based on some feedback:

The link takes the speaker directly to a login screen, where there isn't any explanation of which login to use or where they're going. This info should go into the email above the links.

[2020-05-12 18:09] coreymckrill opened #494 "Jetpack: Which modules should be activated by default for new WordCamp sites?"
I recently saw a report that the Sharing module was off on a new WordCamp site. That seems like one that should definitely be on for new sites. It made me wonder what the default states are for other modules.

In **mu-plugins/jetpack-tweaks/new-sites.php** we've got the `default_jetpack_modules()` function hooked to `jetpack_get_default_modules`, which modifies the set that Jetpack turns on by def

[2020-05-12 19:07] iandunn commented on #494
My bad, I should have left a comment with the reason `widget-visibility` was disabled. I don't remember the reason, but performance was probably at least part of it. My instinct would be to disable everything by default, unless it meets one of these conditions:

* Used by WordCamp code (Remote CSS, Coming Soon, etc)
* Used by 80% of camps

That keeps the UI cleaner, and the site faster. Organizers

[2020-05-12 19:23] andreamiddleton commented on #494
I agree that these would be good to turn on by default. I'm also inclined to turn on:

WP.me Shortlinks
Lazy Images
Likes
Comment Likes

Per @iandunn's thought about

Are we able to identify which modules are used most often, on the network?

[2020-05-12 19:35] coreymckrill commented on #494
I think this one actually breaks something for us. Which makes me think that there are some modules here that we should actually _prevent_ from being activated as well.

We can write a script to get a count of how many sites have each module activated.

[2020-05-12 19:57] ryelle commented on #494
It _did_ break the blocks, but that was fixed. I don't think it breaks anything else, unless you've seen something different?

[2020-05-13 16:49] coreymckrill opened #496 "Organizer Reminders: Messages with a "send X days after the camp ends" trigger shouldn't send if the camp didn't happen"
The routing that sends messages with a time trigger (before the camp, after the camp, etc.) queries for all camps that have either a public status (scheduled, closed) or one of the pre-planning statuses. In the case of the "X days after the camp ends" trigger, it then sends to the camp based on whether the current date is beyond X days from the camp's Start Date. However, this means that camps tha

[2020-05-13 17:13] coreymckrill opened #497 "WCPT: Use a different code of conduct template during site creation for online events"
The suggested Code of Conduct for online events is different than the in-person one:
https://make.wordpress.org/community/handbook/virtual-events/online-code-of-conduct/

During site creation, we can change the content of the Code of Conduct page stub as long as the event has the "Virtual event only" box checked on its WordCamp post in Central.

[2020-05-13 17:16] coreymckrill opened #498 "WCPT: Add input to WordCamp application form that can prepopulate the "online only" setting"
At this point most aspiring WordCamp organizers will know if their event is going to be "online only" when they fill out the application. Adding a checkbox to the application form that pre-populates the existing "Virtual event only" checkbox on the WordCamp post type helps streamline the process for both application vetters and for organizers once they are in pre-planning.

[2020-05-13 21:46] coreymckrill commented on #494
Nope, same thing. I just couldn't remember if it got fixed or we just turned off the module.

[2020-05-13 21:48] coreymckrill commented on #494
I compiled module usage for all sites that successfully completed an event since the beginning of 2016. The year is somewhat arbitrary, but that's when we started modifying the default set of modules that start activated.

_Updated to show the module name rather than the sometime-misleading slug._

[code]

[2020-05-13 22:00] coreymckrill commented on #494
I actually don't think these numbers are particularly meaningful because A) some of the modules haven't been available for the entire time period, and B) I suspect Jetpack has changed what is on by default over the time period.

Also, C) Jetpack used to hide the ability to toggle individual modules behind an obscure "debug" link, so a lot of organizers probably never discovered the available funct

[2020-05-13 22:02] coreymckrill commented on #494
I think we should pick a set of modules that are generally useful to events and make sure those are on by default so that their functionality is immediately discoverable. That's the best UX for organizers and attendees.

Then there are some that we might want to prevent from being turned on, and some that we might want to prevent from being turned off.

[2020-05-14 00:01] iandunn commented on #494
`Subscriptions`, `Contact Form`, and `Custom CSS` are used by Coming Soon and Remote CSS, so I think they should always be on.

On by default: I guess `Stats`, since you can't gather that data retroactively if it's off by default. `Protect` seems fine. `Publicize`/`Sharing` is probably something most teams want. The `CDN` ones and `Markdown` might be nice. I don't see a compelling use case for the

[2020-05-15 10:56] timiwahalahti opened #500 "Camptix Notify: "is not" filter is not working correctly"
It's not possible to segment email for attendees that have not answered specific question while registration. The "is not" filter only takes into account the question if attendee has some kind of answer in it.

For example: we have non-mandatory question with two radio options "Yes" and "No".  Some attendees haven't selected option and the answer is left empty, in summarize these are shown as "Non

[2020-05-15 12:35] pravinparmar2404 opened #501 "Central: About wordcamps page in logo section not showing properly on small screen"
In About WordCamps page in logos section not showing properly. It is due to added width in (#content .logos).

![wordcamp-logo-section-not-showing-properly-on-small-screen](https://user-images.githubusercontent.com/37802271/82050905-8d89af80-96d6-11ea-8ab8-aad650bd464b.png)

[2020-05-15 14:16] ryelle commented on #500
Good catch— would a new condition called "is empty" work? That way it can be used for all question types, not just yes/no. You could filter by `[question] is no or [question] is empty`

Edit: I do think it makes sense to keep "is not" matching only answers, since it's "people who answered this question with not yes".

[2020-05-15 14:31] timiwahalahti commented on #500
👍

[2020-05-16 00:03] #488 closed, assigned to coreymckrill

[2020-05-22 16:59] #309 closed, assigned to iandunn

[2020-05-22 16:59] #310 closed, assigned to iandunn

[2020-05-22 18:21] coreymckrill opened #505 "Speaker Feedback: Allow access to front end views prior to the event for theme styling"
The front end views, including the "select session" form on the `/feedback` page, the feedback forms on individual sessions, and the approved feedback shown to speakers are currently not accessible, even to organizers who are trying to style the site's theme, until the event has started. This is obviously too late for theming efforts.

One potential solution would be to show these elements when in

[2020-05-22 19:51] #454 closed, assigned to coreymckrill

[2020-05-22 23:23] coreymckrill commented on #501
Thanks for the report @pravinparmar2404

[2020-05-22 23:28] coreymckrill commented on #464
I like this idea. It could also be used to avoid deleting spammed speaker feedback comments for some amount of time after the event is over so organizers have a chance to go through it looking for false positives.

[2020-05-22 23:32] coreymckrill commented on #418
Closing this in favor of the upstream issues.

[2020-05-22 23:32] #418 closed, assigned to nobody

[2020-05-22 23:40] coreymckrill commented on #397
Hi @rocket-martue

This repository on GitHub is now the correct source of the WordCamp.org codebase, rather than meta.svn. It includes a [Docker config](https://github.com/WordPress/wordcamp.org/tree/production/.docker) that you can use to set up a local environment that is more up to date than that found on meta.svn (although it might still be a little bit outdated).

If you're trying to set up a

[2020-05-22 23:40] #397 closed, assigned to nobody

[2020-05-22 23:42] coreymckrill commented on #377
It sounds like this would be a good candidate for the Organizer Reminders functionality we have on WordCamp Central. It's probable that we wouldn't even need to write any code for this, the existing functionality would probably be sufficient.

[2020-05-22 23:49] coreymckrill commented on #318
We have now upgraded to ACME v2. I just tried the example URL and did not see an SSL error. It just redirects to central.wordcamp.org.

I'm going to call this one closed, but please reopen if you think there's still an issue here.

[2020-05-22 23:49] #318 closed, assigned to nobody

[2020-05-23 00:07] coreymckrill commented on #286
At one point I think there was some discussion of having a "random" sort option for some of the WordCamp blocks. I'm not sure where that discussion is now.

I suspect we opted not to do it because trying to have a different random order with every page load is kind of problematic because of the caching that we have set up on WordCamp sites. The cached version with the same order would continue to

[2020-05-23 00:10] coreymckrill commented on #278
There's [an open issue](https://github.com/WordPress/meta-environment/issues/144) to update the Meta Environment to use this GitHub repo instead of meta.svn.

[2020-05-23 10:06] pravinparmar2404 commented on #501
Thank you @coreymckrill for reviewing it. Here's the I have submitted PR.

https://github.com/WordPress/wordcamp.org/pull/503

[2020-05-25 14:33] #489 closed, assigned to ryelle

[2020-05-26 21:50] coreymckrill commented on #411
Now that we have the [email notification](https://github.com/WordPress/wordcamp.org/pull/504) for organizers when there are unapproved feedbacks, do we need this one-time organizer reminder? It seems kind of redundant.

[2020-05-27 17:30] coreymckrill opened #508 "CampTix: Too many emails about special accommodations for large events"
Perhaps this is an edge case that only applies to large online events with free tickets. But when the tickets number in the thousands, and some percentage of the attendees are saying "yes" to the question about special accommodations, it's a lot of email notifications for organizers.

One way to mitigate this might be to set up a cron job and batch the email notifications, instead of sending a sep

[2020-05-28 17:18] ghost commented on #605
[Comment](https://meta.trac.wordpress.org/ticket/3862#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590686331326000)._

[2020-05-28 17:23] ghost commented on #606
[Comment](https://meta.trac.wordpress.org/ticket/3914#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590686582329600)._

[2020-05-28 17:30] ghost commented on #607
[Comment](https://meta.trac.wordpress.org/ticket/3964#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590687017336600)._

[2020-05-28 17:37] ghost commented on #608
[Comment](https://meta.trac.wordpress.org/ticket/3989#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590687451342100)._

[2020-05-28 17:42] ghost commented on #609
[Comment](https://meta.trac.wordpress.org/ticket/4011#comment:8) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590687751344100)._

[2020-05-28 17:44] ghost commented on #606
[Comment](https://meta.trac.wordpress.org/ticket/3914#comment:3) by [@kraftbj](https://profiles.wordpress.org/kraftbj/):

There is a `grunion_after_message_sent` action that passes the following params:
$post_id, $to, $subject, $message, $headers, $all_values, $extra_values

See https://developer.jetpack.com/hooks/grunion_after_message_sent/

That action can be used to add a hooked function that s

[2020-05-28 17:55] ghost commented on #661
[Comment](https://meta.trac.wordpress.org/ticket/4047#comment:8) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590688545350000)._

[2020-05-28 17:56] ghost commented on #610
[Comment](https://meta.trac.wordpress.org/ticket/4048#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590688592350600)._

[2020-05-28 17:58] ghost commented on #611
[Comment](https://meta.trac.wordpress.org/ticket/4054#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590688704351500)._

[2020-05-28 19:23] coreymckrill opened #510 "Mail: Set the default sender in email from a WordCamp site to the name of the WordCamp"
Based on [this conversation](https://github.com/WordPress/wordcamp.org/pull/506#pullrequestreview-419577114).

There are a lot of different places in the WordCamp codebase where we send email to someone using `wp_mail`. These emails are often notifications or reminders. The default sender is usually `WordPress <wordpress@year.city.wordcamp.org>`, though in some of these places, we are already manu

[2020-05-28 19:25] #479 closed, assigned to coreymckrill

[2020-05-28 19:31] #493 closed, assigned to coreymckrill

[2020-05-29 08:04] ghost commented on #605
[Comment](https://meta.trac.wordpress.org/ticket/3862#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by sippis. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1590739467355700)._

[2020-05-29 16:50] iandunn commented on #510
I like the idea 👍
<br>

I think so, except for edge cases like Central, Plan, etc. `get_wordcamp_name()` might already gracefully handle those, but `get_bloginfo( 'name' )` might be a bit safer 🤷‍♂️
<br>

That'd be good, but we'd have to be careful to not trigger anti-spam filters. It might be safer to leave `From` in tact, and set `Reply-To` to the `city@` instead (via `phpmailer_init` && `addCus

[2020-05-29 18:36] #501 closed, assigned to nobody

[2020-05-29 21:19] andreamiddleton commented on #508
It might have been an edge case before we started organizing online WordCamps, but I think it's likely to crop up more often now. I think you're right that one email notification per accommodation flag is probably too vulnerable to abuse right now.

The "con" that worries me most is the potential to "bury" real accommodation requests and make them harder for organizers to respond to. Is there a wa

[2020-05-29 21:28] coreymckrill commented on #508
I was wondering if we should do something like this for _all_ free tickets, since there's no financial transaction to "confirm" that the ticket requester is real. That would also be more fair than only requiring people who have accessibility needs to prove they're a human.

[2020-05-29 23:04] andreamiddleton commented on #508
Oh gosh, you're completely right. Should this be elevated to a discussion on make.wordpress.org/community? Seems like an idea for a consequential change that should be discussed more widely.

[2020-06-01 22:36] #505 closed, assigned to coreymckrill

[2020-06-02 17:38] iandunn commented on #311
Done in 0141ba45e06ddd135690f6a12495a6ae1177bd30.

There weren't any UX/design changes, it's just some minor tweaks so that the code can support both the block and the shortcode.

[2020-06-02 17:38] #311 closed, assigned to iandunn

[2020-06-02 17:49] ryelle commented on #311
Can this stay open to track the accessibility issues? or can you open a followup issue?

[2020-06-02 18:14] iandunn commented on #311
Aren't they already being tracked in https://meta.trac.wordpress.org/ticket/4247 ?

[2020-06-02 18:16] ryelle commented on #311
yeah, I suppose that'll get moved over when we migrate all the tickets.

[2020-06-04 14:32] ryelle opened #516 "Post Types: Meta (session duration, etc) doesn't save when custom field panel is open"
Sometimes it seems like session meta doesn't save. I think the meta fields in the panel are overriding our custom inputs.

To reproduce:

1. Edit a session
2. In the kebab menu, click Options and turn on Custom fields
3. Page will reload, and custom fields panel will display
4. Edit the session date, time, etc. Save.
5. It appears to have saved, but reload the page
5. (if this is the first time sa

[2020-06-05 17:31] coreymckrill opened #517 "Speaker Feedback: Add containers around data parts in session select dropdown"
Feedback from a designer who worked on styling the SFT views for WCEU. This is in regard to the information about each session that is shown in the dropdown on the `/feedback` page, which was added in #495:

[2020-06-05 21:31] ryelle commented on #442
Tested this a bit today, and I _think_ this will handle the dates correctly if the timezone is set based on location in wp-admin, because the date is converted into the right UTC value for saving. Getting #492 fixed will help flag any issues, and we should keep an eye on this on real schedules.

[2020-06-08 18:54] #516 closed, assigned to ryelle

[2020-06-09 18:25] timiwahalahti commented on #508
I'm planning to write soon(ish) P2 post about these notifications :)

Adding one idea: what if dashboard would support filtering attendees based on these questions, marking if orhanisers have already reached out and as well place to add notes if needed.

[2020-06-10 05:50] ghost commented on #595
[Comment](https://meta.trac.wordpress.org/ticket/3259#comment:15) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by casiepa. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591768219401800)._

[2020-06-10 06:19] ghost commented on #595
[Comment](https://meta.trac.wordpress.org/ticket/3259#comment:16) by @dd32:

Is this still an issue? Gmail updated in early 2019 to require the `References:` or `In-Reply-To:` headers to be set in order for threading to kick in: https://gsuiteupdates.googleblog.com/2019/03/threading-changes-in-gmail-conversation-view.html (That references GSuite, but every article I can find says it's "gmail")

[2020-06-11 13:51] ghost commented on #596
[Comment](https://meta.trac.wordpress.org/ticket/3277#comment:14) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #community-team by casiepa. [View the logs](https://wordpress.slack.com/archives/community-team/p1591883471255600)._

[2020-06-11 17:02] ghost commented on #612
[Comment](https://meta.trac.wordpress.org/ticket/4055#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591894977406100)._

[2020-06-11 17:05] ghost commented on #662
[Comment](https://meta.trac.wordpress.org/ticket/4056#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591895107408600)._

[2020-06-11 17:07] ghost commented on #663
[Comment](https://meta.trac.wordpress.org/ticket/4058#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591895226410700)._

[2020-06-11 17:32] ghost commented on #574
[Comment](https://meta.trac.wordpress.org/ticket/4108#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591896745433200)._

[2020-06-11 17:37] ghost commented on #663
[Comment](https://meta.trac.wordpress.org/ticket/4058#comment:3) by @ePascalC:

Adding some privacy thoughts here:
- If you did not CLEARLY ask for permission in the old WordCamp for it, you cannot contact them from the new WordCamp (opt-in)
- You probably have to indicate in the old WordCamp how long you want to keep the email addresses (until the next WordCamp? If this is not done, not sure you

[2020-06-11 17:38] ghost commented on #590
[Comment](https://meta.trac.wordpress.org/ticket/2027#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by casiepa. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591897110435300)._

[2020-06-11 17:41] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:10) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591897285438200)._

[2020-06-11 17:43] ghost commented on #614
[Comment](https://meta.trac.wordpress.org/ticket/4241#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591897393441300)._

[2020-06-11 17:50] ghost commented on #615
[Comment](https://meta.trac.wordpress.org/ticket/4247#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591897854445100)._

[2020-06-11 17:52] ghost commented on #616
[Comment](https://meta.trac.wordpress.org/ticket/4274#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591897966446300)._

[2020-06-11 17:57] ghost commented on #606
[Comment](https://meta.trac.wordpress.org/ticket/3914#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1591898248449600)._

[2020-06-11 18:15] timiwahalahti opened #519 "Application tracker improvements"
Some improvements to application tracker could be made. From [this P2 discussion](https://make.wordpress.org/community/2020/04/04/request-for-feedback-revising-application-tracker-back-end/), at least:

- Improving the “Original application” section and making it friendlier to read
- Moving the “Add private note” text field from sidebar or adding a second one in the main area to make writing long

[2020-06-11 18:23] timiwahalahti opened #520 "Camptix: Clarify Payment Gateway Account Settings"
_[Original ticket in Trac.](https://meta.trac.wordpress.org/ticket/4243)_

The option "None" for Tickets >> Setup >> Predefined Account is unclear - this seems like there would be no payment gateway if that setting is chosen, which makes it unclear how you can access the custom gateway settings.

Changing this label to "Custom Account" or "Local Payment Account" would be clearer.

[2020-06-12 00:34] timiwahalahti opened #522 "Update wcorg_login_message function"
Currently `wcorg_login_message` returns old forums address for login. That address has been deprecated and it redirects to login.wordpress.org. We should update the address for login.

At the same time, the message could be tweaked a little bit.

The function should also return a link to the login itself, as it is used also outside of wp-login.php view (for example submission forms and soon to com

[2020-06-12 01:02] ghost commented on #590
[Comment](https://meta.trac.wordpress.org/ticket/2027#comment:6) by @dd32:

Users really shouldn't edit their User profile via WordCamp (But I realise the need to, since most organisers might not know where else to change their Display Name, etc), but disabling that page is probably more trouble than it's worth.

This would probably be fixed by my recent charset HyperDB fixes once ported to WordCa

[2020-06-12 18:04] #344 closed, assigned to coreymckrill

[2020-06-12 20:46] ghost commented on #615
[Comment](https://meta.trac.wordpress.org/ticket/4247#comment:4) by @ryelle:
 * Keywords set to `Needs Patch` `Good First Bug` `Needs Design`

[2020-06-15 17:00] timiwahalahti commented on #375
Couldn't reproduce this anymore. If someone can check and confirm before closing the ticket, would be much appreciated :)

[2020-06-16 22:50] coreymckrill commented on #411
Closing this is `maybelater` for now.

[2020-06-16 22:50] #411 closed, assigned to nobody

[2020-06-17 17:35] #464 closed, assigned to timiwahalahti

[2020-06-17 19:47] #287 closed, assigned to coreymckrill

[2020-06-18 17:55] #448 closed, assigned to coreymckrill

[2020-06-25 17:25] ghost commented on #606
[Comment](https://meta.trac.wordpress.org/ticket/3914#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1593105907479700)._

[2020-06-25 17:26] ghost commented on #617
[Comment](https://meta.trac.wordpress.org/ticket/4302#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1593105992480700)._

[2020-06-25 17:43] ghost commented on #618
[Comment](https://meta.trac.wordpress.org/ticket/4351#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1593106995494200)._

[2020-06-25 17:47] ghost commented on #619
[Comment](https://meta.trac.wordpress.org/ticket/4353#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1593107276497300)._

[2020-06-25 18:02] #520 closed, assigned to timiwahalahti

[2020-06-25 18:53] ePascalC commented on #302
When implemented, https://central.wordcamp.org/wp-json/wp/v2/wordcamps/3087353 should show an AV name

[2020-06-25 19:38] coreymckrill commented on #302
There aren't currently fields for the usernames of other organizers besides the lead. Only name and email address, and we obviously can't expose the email address in the API.

If we are going to expose the A/V organizer's name in the API, we should expose the other organizer roles as well, for consistency.

[2020-06-25 23:05] #498 closed, assigned to coreymckrill

[2020-06-26 08:51] ePascalC commented on #302
As the organizer name is already exposed, I would indeed love to see also the name of the AV wrangler so, from WordPress.tv, we can reach out directly to the correct person for discussion on the videos. Even with just the name, we normally find the person on slack or in a different way.

[2020-06-28 13:18] timiwahalahti opened #533 "Vendor payment request form: use select2 for all country fields"
_[Original ticket in Trac](https://meta.trac.wordpress.org/ticket/4303)_

In vendor payment request form there are few country fields that are set up to use select2 for better UX (select2 has a search). There are also country select fields that do not use select2. Select2 should be enabled to all country select fields.

[2020-06-29 18:33] #522 closed, assigned to timiwahalahti

[2020-06-29 19:17] #497 closed, assigned to coreymckrill

[2020-06-30 19:21] #370 closed, assigned to coreymckrill

[2020-07-02 15:49] #533 closed, assigned to timiwahalahti

[2020-07-02 16:05] ghost commented on #606
[Comment](https://meta.trac.wordpress.org/ticket/3914#comment:6) by @ryelle:

https://meta.trac.wordpress.org/ticket/4299 was marked as a duplicate.

[2020-07-06 22:52] ghost commented on #618
[Comment](https://meta.trac.wordpress.org/ticket/4351#comment:2) by @iandunn:

[3ea4ae7a](https://github.com/WordPress/wordcamp.org/commit/3ea4ae7a6465efd9f33af88f6003e3d0b0b23df2) fixes this for new sites, but old sites would still need to be changed.

[2020-07-09 17:01] ghost commented on #620
[Comment](https://meta.trac.wordpress.org/ticket/4374#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594314115047600)._

[2020-07-09 17:04] ghost commented on #621
[Comment](https://meta.trac.wordpress.org/ticket/4375#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594314290051300)._

[2020-07-09 17:08] ghost commented on #622
[Comment](https://meta.trac.wordpress.org/ticket/4389#comment:7) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594314493052900)._

[2020-07-09 17:10] ghost commented on #623
[Comment](https://meta.trac.wordpress.org/ticket/4390#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594314649055200)._

[2020-07-09 17:21] ghost commented on #624
[Comment](https://meta.trac.wordpress.org/ticket/4392#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594315314068300)._

[2020-07-09 17:26] ghost commented on #625
[Comment](https://meta.trac.wordpress.org/ticket/4432#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594315563070800)._

[2020-07-09 17:26] ghost commented on #626
[Comment](https://meta.trac.wordpress.org/ticket/4433#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594315615071800)._

[2020-07-09 17:27] ghost commented on #627
[Comment](https://meta.trac.wordpress.org/ticket/4434#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594315635072600)._

[2020-07-09 17:27] ghost commented on #628
[Comment](https://meta.trac.wordpress.org/ticket/4435#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594315655073400)._

[2020-07-09 17:33] ghost commented on #600
[Comment](https://meta.trac.wordpress.org/ticket/3309#comment:15) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by sippis. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594316017078400)._

[2020-07-09 17:39] ghost commented on #633
[Comment](https://meta.trac.wordpress.org/ticket/4524#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1594316382083400)._

[2020-07-09 18:33] timiwahalahti opened #539 "WordCamp Planning Checklist: Add an "In Progress" status for tasks"
[Original ticket on Trac](https://meta.trac.wordpress.org/ticket/4426).

Suggested by @meaganhanes:
Could we perhaps add an "In Progress" status to the Planning Checklist items on WordCamp Dashboards? right now i cannot filter by currently-being-worked-on tasks.

[2020-07-09 18:38] timiwahalahti opened #540 "Add notice about visibility in feeds to post edit screen when site is in Coming Soon mode"
When Coming Soon mode is on and post is published, it shows on feed and profile activity feed. Add a notice to make organisers aware of this when the site is in Coming Soon mode.

See:
Trac ticket [#4494](https://meta.trac.wordpress.org/ticket/4494)
Trac ticket [#3309](https://meta.trac.wordpress.org/ticket/3309)
[Slack discussion](https://wordpress.slack.com/archives/C08M59V3P/p1594315916077700)

[2020-08-06 17:06] ghost commented on #664
[Comment](https://meta.trac.wordpress.org/ticket/4564#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596733574123800)._

[2020-08-06 17:17] ghost commented on #634
[Comment](https://meta.trac.wordpress.org/ticket/4568#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596734229132500)._

[2020-08-06 17:17] ghost commented on #635
[Comment](https://meta.trac.wordpress.org/ticket/4569#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by sippis. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596734262132900)._

[2020-08-06 17:22] ghost commented on #636
[Comment](https://meta.trac.wordpress.org/ticket/4636#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596734578136200)._

[2020-08-06 17:24] ghost commented on #637
[Comment](https://meta.trac.wordpress.org/ticket/4642#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596734677137000)._

[2020-08-06 17:27] ghost commented on #638
[Comment](https://meta.trac.wordpress.org/ticket/4675#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596734833139100)._

[2020-08-06 17:29] ghost commented on #639
[Comment](https://meta.trac.wordpress.org/ticket/4690#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596734979141200)._

[2020-08-06 17:52] ghost commented on #640
[Comment](https://meta.trac.wordpress.org/ticket/4710#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596736349170800)._

[2020-08-06 17:54] ghost commented on #641
[Comment](https://meta.trac.wordpress.org/ticket/4757#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596736460171600)._

[2020-08-06 17:58] ghost commented on #575
[Comment](https://meta.trac.wordpress.org/ticket/4803#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1596736715176200)._

[2020-08-06 18:01] ghost commented on #575
[Comment](https://meta.trac.wordpress.org/ticket/4803#comment:5) by @iandunn:

xref https://make.wordpress.org/community/2020/03/03/proposal-for-wordcamp-sites-seo-fixes/

[2020-08-06 18:09] timiwahalahti opened #541 "Call for sponsors default form content"
_[Original ticket in Trac](https://meta.trac.wordpress.org/ticket/4590)._

I have a suggestion for some of the default content on the WordCamp sites.

The “Call for Sponsors” form asks for things like company name, sponsorship level, etc. But, when I go to the Add New Sponsor page in the dashboard, there are a number of fields that are listed as required that don’t exist on the form. Mainly the co

[2020-08-06 18:14] timiwahalahti opened #542 "Relevant Meetup and WordCamp links in reports listings"
[Original ticket in Trac](https://meta.trac.wordpress.org/ticket/4655).

Reports tool in the central dashboard is awesome! What would make it even better, is having relevant links near meetup and WordCamp name in the listings like Meetup Status (https://central.wordcamp.org/wp-admin/index.php?page=wordcamp-reports&report=meetup-status).

Meetup could have a link to post in tracker and meetup.com a

[2020-08-06 18:34] timiwahalahti opened #543 "Hide WordCamp dates and Jetpack subscription in Coming Soon page if WordCamp is Cancelled [COVID-19 response]"
[Discussion in Slack](https://wordpress.slack.com/archives/C037W5S7X/p1596578955116500).

With a handful of WordCamps cancelled that had sites created, they still have active landing pages since they are set in “Coming Soon” mode. Community Team does not want to take those sites offline for now.

The first thing you see when you go to the site is the date - I’d (Cami Kaos) like to see that gone as

[2020-08-06 18:34] ghost commented on #639
[Comment](https://meta.trac.wordpress.org/ticket/4690#comment:4) by @coreymckrill:

We discussed this during our ticket scrub today. It seems like the crux of the issue is:

[2020-08-06 23:23] ghost commented on #639
[Comment](https://meta.trac.wordpress.org/ticket/4690#comment:5) by [@Ipstenu](https://profiles.wordpress.org/Ipstenu/):

The impetus for this ticket is the former.

The latter would be nifty, but basically if I lose the link there is no way to 'recover' it or figure out if I had a ticket. But if I could, as a logged in Mika, go to arizona.wordcamp.org and see an account page with my ticket deets,

[2020-08-07 20:26] timiwahalahti opened #547 "Trusted deputy not able to see Coming Soon mode settings"
When the user is a trusted deputy, they are not able to see or modify Coming Soon mode settings.

Settings aren’t visible when using wordpress.org proxy (which gives trusted deputy capabilities) but turning off the proxy fixes that. [See Slack discussion](https://wordpress.slack.com/archives/C037W5S7X/p1596825593350200?thread_ts=1596581360.144100&cid=C037W5S7X).

**Expected behavior**

Trusted dep

[2020-08-07 20:52] timiwahalahti commented on #320
Closing as this is not valid anymore after we started requiring WordPress.org login before submitting an application on #523

[2020-08-07 20:52] #320 closed, assigned to nobody

[2020-08-14 20:06] #543 closed, assigned to timiwahalahti

[2020-08-17 19:02] timiwahalahti opened #550 "Profile badges for WordCamp volunteers"
As per the conclusion of [this proposal on Community Team P2](https://make.wordpress.org/community/2020/07/03/proposal-recognition-for-event-volunteers-and-attendees-in-wordpress-org-profile/), Community Team would like to start handing out badges for volunteers at WordCamp.

Technical aspects are still wide open and need consideration about what is the best approach for this. From a dev time poin

[2020-08-17 19:17] iandunn commented on #550
🤔 those are good questions.

If we use CampTix, we could maybe have some conditional logic where it would only ask for their username if they're using a volunteer coupon code.

Another approach would be to have a Call for Volunteers page, similar to speakers. Submitting that form could automatically create drafts of a Volunteers CPT.

[2020-08-17 19:39] timiwahalahti commented on #550
Call for Volunteers page 🙌

IIRC we actually have one already, but it's not asking WordPress.org username nor (clearly) prefilling any CPT. I'm actually unsure how many camps do use the form in that page or are they replacing it with something other. To determine this, would it be easy to run a query that checks how many 2019 events have "WordCamp Volunteer Application" feedback?

If most of the c

[2020-08-20 14:24] CdrMarks commented on #550
I do like both of these suggestions:

I can think of a few scenarios where a CampTix solution alone may not address the following:
* volunteers who may volunteer after a ticket has been purchased and will not want a refund or will not want to go through the hassle of having their ticket refunded and registering again using a coupon code.
* volunteers who don't want the perk of a discounted ticket.

[2020-08-20 15:54] #547 closed, assigned to timiwahalahti

[2020-08-20 16:08] ryelle opened #551 "Subroles: Investigate trusted deputy capabilities"
It looks like trusted deputies are not _actually_ given all the same capabilities as Administrators, because caps added by filters are not included in administrator role's capabilities property.

See https://github.com/WordPress/wordcamp.org/issues/547 & https://github.com/WordPress/wordcamp.org/pull/548#issuecomment-675037830 (quoted below)

#355 "Omit user caps that have been added via usermeta

[2020-08-20 17:05] ghost commented on #642
[Comment](https://meta.trac.wordpress.org/ticket/4893#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1597943158005200)._

[2020-08-20 17:11] ghost commented on #643
[Comment](https://meta.trac.wordpress.org/ticket/4912#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1597943491009700)._

[2020-08-20 17:14] ghost commented on #644
[Comment](https://meta.trac.wordpress.org/ticket/4914#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1597943652012700)._

[2020-08-20 17:15] ghost commented on #644
[Comment](https://meta.trac.wordpress.org/ticket/4914#comment:5) by @iandunn:
 * Status set to `closed`
 * Resolution set to `fixed`

It looks like this is fixed now, but please reopen if you can still reproduce it.

[2020-08-20 17:16] ghost commented on #644
[Comment](https://meta.trac.wordpress.org/ticket/4914#comment:6) by @iandunn:

xref https://github.com/WordPress/wordcamp.org/commit/807101548d6ca097c79697848c8b705037ffefd2#diff-e26543cdd01aa82dd8046f4318707550

[2020-08-20 17:21] ghost commented on #644
[Comment](https://meta.trac.wordpress.org/ticket/4914#comment:7) by @iandunn:
 * Status set to `reopened`
 * Resolution cleared

Looks like there is a different one that's similar:

https://wordpress.slack.com/archives/C08M59V3P/p1597943870015700

[2020-08-20 17:38] ghost commented on #645
[Comment](https://meta.trac.wordpress.org/ticket/4926#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1597945108040700)._

[2020-08-20 17:48] coreymckrill opened #552 "WordCamp Central: The slideshows on the homepage are broken without the jquery migrate script"
WP 5.5 deprecated the jquery migrate script, which causes the aged jquery cycle plugin running the two slideshows on the homepage to break.

One idea for fixing the logos slideshow is to just randomly show a different logo with each page load.

![central-homepage-broke](https://user-images.githubusercontent.com/916023/90806999-b2438380-e2d2-11ea-8c57-8956bfa3533e.jpg)

[2020-08-20 17:59] timiwahalahti opened #553 "WordCamp.org has a mix of Canceled and Cancelled"
_[Original Track ticket](https://meta.trac.wordpress.org/ticket/4925)_

While translating I found instances of both Canceled and Cancelled in the wordcamp.org translations. As en_US is the base locale these should all be Canceled.

[2020-08-20 19:47] #519 closed, assigned to timiwahalahti

[2020-08-20 20:30] timiwahalahti commented on #372
Fixed in #536 so closing.

[2020-08-20 20:30] #372 closed, assigned to nobody

[2020-08-21 20:40] #552 closed, assigned to nobody

[2020-08-22 03:38] CdrMarks opened #557 "Local Environment yarn "Cannot find the root of your workspace""
**Describe the bug**
I am following the instructions to setup my local environment at https://github.com/WordPress/wordcamp.org/blob/production/.docker/readme.md

I am getting an error:

yarn workspaces v1.22.4
error Cannot find the root of your workspace - are you sure you're currently in a workspace?
info Visit https://yarnpkg.com/en/docs/cli/workspaces for documentation about this command.

**T

[2020-08-22 15:19] jorgeatorres opened #558 "Session start time is not getting saved correctly"
**Describe the bug**

After editing time information for any session on [our WordCamp site](https://colombia.wordcamp.org/2020/), the start time doesn't get updated on the schedule or the list of posts (on the backend).

Initially [reported in Slack](https://wordpress.slack.com/archives/C08M59V3P/p1598107426068400).

**To reproduce**

Steps to reproduce the behavior:
1. Go to 'Sessions' on the bac

[2020-08-22 15:27] jorgeatorres opened #559 "Schedule block shows dates 1 day in the past"
**Describe the bug**

We're using the [schedule block on our site](https://colombia.wordcamp.org/2020/agenda/), but dates inside this block appear to be 1 day in the past. For instance, our sessions are on Sept 10, 11 and 12, but the schedule block displays them as being on Sept 09, 10 and 11.
The site timezone is correctly configured.

**To reproduce**

Steps to reproduce the behavior:
1. Create

[2020-08-24 04:08] jorgeatorres opened #560 "Organizer meta apparently not "in sync" or missing"
**Describe the bug**

It appears that with recent changes (maybe 73e8d65440f8b754a842a7fa67c34799ee87765b?) the wp.org username associated to an organizer is not being shown inside the organizer info block, unless you set it again. This isn't critical, and more of a nitpick, but is a bit confusing 😅.

**Context:** we added some organizers to our WordCamp site a while ago and with their correct wp.

[2020-08-24 15:05] rocket-martue commented on #558
After August 21, when we edit the time information for any session on the WordCamp site, the value will be saved in Link to slides.

[2020-08-24 16:29] ryelle commented on #558
Thanks for reporting this.

This was fixed with https://github.com/WordPress/wordcamp.org/commit/257773969d6ebb381a075b397d706e50dff8d09e, caused by an issue introduced in #512.

[2020-08-24 16:29] #558 closed, assigned to nobody

[2020-08-24 18:13] ryelle commented on #559
I've been investigating this and I think it has to do with timezones, but I'm not totally sure about the logic _why._

- The session times are correct when editing, and the sessions are broken into day-buckets correctly. The `date` passed into `<ScheduleDay />` is `20200910`.
- The timezone of the site is using a named zone, "America/Bogota", which is UTC-5.
- When viewed with a more positive UTC

[2020-08-24 18:20] jorgeatorres commented on #559
@ryelle: Thanks for looking into this. I didn't think my timezone would make a difference but what you said above makes sense and explains why I was seeing "Sept 9" (as the site's UTC-5 but I'm in UTC-3). I'm glad there's at least a workaround and that switching to UTC, while not ideal, fixes the issues. 🙇

[2020-08-24 19:28] #560 closed, assigned to nobody

[2020-08-24 23:12] CdrMarks opened #561 "Meetup organizer application prompt to login is confusing"
**Describe the bug**

It's not clear that the `wcorg-login-message` has clickable links in the message.
![image](https://user-images.githubusercontent.com/3489003/91104732-ef41aa00-e633-11ea-9e37-31a557b618bf.png)

This was reported during [Community Team office hours in Slack](https://wordpress.slack.com/archives/C02RQC7RN/p1598307873034600) today.

**To reproduce**
Steps to reproduce the behavio

[2020-08-24 23:31] CdrMarks commented on #561
Relates #321.

[2020-08-25 16:34] jorgeatorres opened #562 "Sessions in schedule block overlap when viewing from certain locations/timezones"
**Describe the bug**

This might be related to #559. When visiting [our WC site](https://colombia.wordcamp.org/2020/agenda/) from certain locations (for instance, London (UK) or Barcelona (Spain)), some sessions start to overlap making the whole thing unreadable.
These sessions seem to be the ones that fall near the time the day changes (in that timezone), but I'm not sure if that's the real reaso

[2020-08-25 17:12] iandunn commented on #562
Note to self: another way to test the time zone is with `TZ="Europe/London" open /Applications/FirefoxDeveloperEdition.app` in terminal, and verify with `Intl.DateTimeFormat().resolvedOptions().timeZone` and `wp.date.format('P')` in browser console. That might avoid unintended side-effects from changing the OS timezone.

[2020-08-27 22:04] iandunn commented on #562
I'm hoping to have this fixed soon, but in the mean time you can switch to the block's `Single Column Layout` style.

[2020-08-31 17:31] ghost commented on #590
[Comment](https://meta.trac.wordpress.org/ticket/2027#comment:7) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1598895073004500)._

[2020-08-31 17:33] ghost commented on #590
[Comment](https://meta.trac.wordpress.org/ticket/2027#comment:8) by @ryelle:

@dd32 Do you know if the HyperDB changes you mentioned above were ported to WordCamp.org?

I'm still seeing this bug, and we had another report of the name "Levänen" not displaying correctly (not totally sure if it's the same issue).

[2020-09-01 00:10] ghost commented on #590
[Comment](https://meta.trac.wordpress.org/ticket/2027#comment:8.9) by @dd32:

Replying to @ryelle:

They haven't been ported to WordCamp.org - In order to do that, WordCamp needs to drop the public HyperDB plugin in favour of the WordPress.org variant.
In my testing, it was a drop-in replacement, but I wasn't willing to change it at the time due to inability to test some changes.

[2020-09-02 08:08] timiwahalahti commented on #561
Taking a look at this soon.

[2020-09-02 10:15] Glorialchemica opened #563 "Clone another WordCamp doesn't work"
**Describe the bug**
We are customizing the theme for WordCamp Italia. From _Administration screens > Apparence > Customize > Clone another WordCamp_ the cloning button appears disabled, preventing the cloning of styles.
We have tried with several browsers, but the problem remains.

**Screenshots**

![image](https://imgur.com/DT0XpnT.png)

**WordCamp**

https://2020.italia.wordcamp.org/

[2020-09-02 15:19] #563 closed, assigned to ryelle

[2020-09-02 15:23] ryelle commented on #563
Thanks for reporting this, @Glorialchemica! There was a bug with the site list request. It should be fixed now.

[2020-09-02 16:34] #539 closed, assigned to timiwahalahti

[2020-09-03 06:19] darrenchaker opened #564 "WordpressCamp by Darren Chaker"
Wanted to thank everyone here, especially after March, where I have seen nothing well meaning, talented professionals here giving a lot of time and effort to cure issues often found on WP. Thank you and keep up the good work!

[2020-09-03 17:08] #564 closed, assigned to nobody

[2020-09-03 17:54] ryelle commented on #375
I also can't reproduce this, so I think it can be closed.

[2020-09-03 17:54] #375 closed, assigned to timiwahalahti

[2020-09-04 10:32] javiercasares opened #565 "Agenda: Local Time / UTC Time / Timezones?"
I have been looking at the agenda of several WordCamps and depending on the time zone you are in it is a bit complex to know what the "real" time of the event is.

In some cases the time is that of the place where it takes place (country, usually) and it is usually indicated as being in "Local Time / UTC-9", in others it indicates that it is in "your local time" which means "my time".

In the firs

[2020-09-04 15:35] manzwebdesigns opened #566 "Expanded filtering for the Meetup Applications page"
The current filter on the page, while nice and works well, needs more options.  I think being able to filter by Nation, State/Province/??? would make it easier to use.  I am not sure it would be appropriate for this page but it might be useful to have sub-filters such as Area(s).

[2020-09-04 15:39] timiwahalahti commented on #566
I think this would be great thing to do at the same time with WordCamp Central redesign.

[2020-09-04 21:40] iandunn commented on #565
Which events were you looking at other than Colombia? It should be consistent between camps 🤔

In some ways I like the idea of adding the TZ identifier, but it also seems like we're [moving away from online WordCamps](https://make.wordpress.org/community/2020/07/23/moving-forward-with-online-events/). So when we switch back to a context where camps are local events, I'm not sure it makes sense.

R

[2020-09-04 23:30] iandunn commented on #565
Also related: #492

[2020-09-04 23:59] iandunn opened #567 "Add start/end Unix timestamps to `wordcamp` API endpoint"
### Background

meta:#4480 is updating `api.w.org/events` to include a true Unix timestamp for meetups. Once that's done, core:#51130 will update the Events Widget to display them in the user's local time.

That's mostly for learn.w.org discussion groups, but it'd be confusing if the Events Widget displayed some events in the user's local timezone, and others in the venue timezone.

So, we should

[2020-09-05 01:42] CdrMarks commented on #567
Regarding WordCamp start times, could we look for the earliest session on the first day of the WordCamp in case the organizers happened to include an event on their schedule on the night before the first day.  It's possible, though, the event start day and time should include this night before event.

[2020-09-05 06:36] javiercasares commented on #565
I found it in events where UTC-something (something +5 more or less). I checked the Asheville also, and some others... but in general was on the events on the "right side of the map" from UK/France/Spain ;)

I know the goal is not to have online events (I think we will have them also, in a mix with RL events). Also, for example, in Spain we have 2 timezones, so it's also useful for that.

I think

[2020-09-05 14:11] iandunn commented on #567
Er, I was overthinking that. It'd be much simpler to just add a `wp_timezone_choice()` dropdown to the `wordcamp` post type, and make it a required field before moving to any public statuses. We should also add SelectWoo to it, since core:#31696 is still stalled.

We could also use that to set the site tz when during site creation.

[2020-09-05 14:21] iandunn commented on #567
🤔 , that's a good question. I don't feel too strongly either way. It might be simplest to start with the earliest session (on any day). We can always add checks to restrict it to the `wordcamp` post's start day if needed.

[2020-09-05 14:22] iandunn commented on #567
For reusing `session_start_time`, we'll probably need to adjust the early return in the callback. Maybe leave it as-is for this field, but remove it for the new field. We could modularize the `get_posts()` part into a reusable function that both fields call, but the individual fields can wrap it with whatever specific logic they need.

[2020-09-05 15:43] CdrMarks commented on #567
I like this approach.  Some in-person WordCamps will still livestream and having a good representation of the time will be important.

[2020-09-07 16:55] iandunn commented on #562
@jorgeatorres, it looks like we might need to wait for https://github.com/WordPress/gutenberg/issues/25078 and https://github.com/WordPress/gutenberg/issues/22193 to be fixed & released before we can fix this.

The next Gutenberg released isn't scheduled until after Colombia is over, so I'd recommend switching to the `Single Column Layout` block style in the meantime. That should prevent the overl

[2020-09-08 00:23] iandunn commented on #562
It looks like the above 2 PRs will solve this, but only when using _string_ timezones 😆 🤷🏻 .

Keeping open until we upgrade to v9 (or possibly later if https://github.com/WordPress/gutenberg/pull/25083 is in a later version).

[2020-09-08 00:35] iandunn commented on #559
WordPress/gutenberg#25078 and WordPress/gutenberg#22193 alone aren't enough to fix this. After those are installed, though, we can work around this by replacing the `YYYYMMDD` value with the timestamp of the first session, though. e.g.,

[code]

There's 1 other place in the function that needs a similar change, and possibly a few others throughout the block's code.

[2020-09-08 22:34] iandunn commented on #559
Er, nevermind, I think the proper solution here is to use `wp.date.format()` when displaying those `YYYYMMDD` values, because they've _already_ been converted to the local/site/venue timezone. Using `datei18n()` et al would add the offset a 2nd time, which can make it cross a date boundary.

[2020-09-09 16:22] ryelle opened #569 "Participation Notifier: Organizers and Speakers aren't getting badges"
**Describe the bug**

The participation notifier is what tells profiles.w.org to give badges to speakers & organizers. It watches these posts in WordCamp sites, and when they're updated, it sends a request to update the user profile. After #512, Speakers & Organizers were updated to use Gutenberg, and this code can't find those user IDs anymore.

The code used to add badges to organizers & speaker

[2020-09-09 19:17] #567 closed, assigned to nobody

[2020-09-09 19:21] iandunn commented on #567
I ended up adding the timezone to the API, instead of a Unix timestamp, since the Events API database expects a WP timestamp + UTC offset. Receiving a Unix timestamp would mean that `parse_wordcamp_events()` would have to do extra steps.

[2020-09-10 21:17] iandunn commented on #567
Er, nevermind, [we're already doing that check](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/plugins/official-wordpress-events/official-wordpress-events.php?rev=10244&marks=416-433#L412) :)

[2020-09-14 16:52] #569 closed, assigned to ryelle

[2020-09-19 16:20] iandunn opened #571 "Upcoming camps missing from Central schedule map"
https://central.wordcamp.org/schedule/

The only events showing up on the map are in 2021, even though there are 8 with the `scheduled` status now. It may have something to do with them being online events, or that could just be a coincidence.

cc september maintenance dev - @ryelle

[2020-09-21 14:52] ryelle commented on #571
Yeah, it's because they're online events. I think that's to be expected, since virtual camps don't have a venue - so they don't have `_venue_coordinates` for the map to use.

Maybe we could update the coordinate encoding in `update_venue_address` to use the Location field if no venue address, and backfill the currently-scheduled events. Do you think that would have any unexpected consequences anyw

[2020-09-21 15:05] iandunn commented on #571
Ah, yeah, good point.

That sounds like a good plan to me. What do you think about using the `Host Region` field? IIRC that's what the Official Events plugin pulls for the Events Widget.

[2020-09-21 15:32] ryelle commented on #571
Oh nice, I see that's encoded into `_host_coordinates` for online events 👍

I'll update the markers on central to use that if venue_* doesn't exist.

[2020-09-21 16:17] #571 closed, assigned to ryelle

[2020-09-29 12:48] #559 closed, assigned to nobody

[2020-09-30 21:54] ryelle commented on #664
It looks like the canonical link on central is working correctly now. I think the lack of 301 redirect on `/page/*` links is a core issue (I can reproduce it on other sites). I'm going to close this issue, but please comment or open a new issue if there's still a problem with Central.

[2020-09-30 21:54] #664 closed, assigned to nobody

[2020-09-30 22:04] ryelle commented on #663
Comments from the linked slack convo:

My idea— this could be a post that's automatically posted to the previous year's site, maybe when the WordCamp post hits a certain status (like scheduled)? Then any organizer who might try to manually post would see the automated post on the site, and we can rely on Jetpack's subscriptions to send the email to people who've already opted in to contact from th

[2020-09-30 22:13] #659 closed

[2020-09-30 22:19] ryelle commented on #658
It looks like we've asked for user feedback on this issue twice with no responses (Oct 2018 & Jan 2019) — maybe this isn't an issue that needs a technical solution?

[2020-09-30 22:41] ryelle commented on #653
This is still a good idea, but it's been a while a now the WordCamp blocks exist. Does that change the approach here at all? Could we drop in the block, or maybe use the `WordCamp\Blocks\Sessions\render` function?

[2020-09-30 22:46] ryelle commented on #650
This was done in https://github.com/WordPress/wordcamp.org/pull/531 🎉

[2020-09-30 22:46] #650 closed

[2020-09-30 22:55] CdrMarks commented on #663
Can the automated post on the old site be posted a day of more after the new site is scheduled and there hasn't been a recent post on it?  As an organizer, I have on our launch day to-do item a bullet point to post on the old site.

Maybe the delay is achieved using WP-CRON.

[2020-09-30 22:58] ryelle commented on #663
I like that, give the organizers a chance to post something original 👍

[2020-10-01 18:09] timiwahalahti commented on #658
Yeah, closing this for reasons ryelle mentioned above.

[2020-10-01 18:09] #658 closed

[2020-10-08 17:54] marcochiesi opened #665 "Text rendering issues in "Favorite sessions" emails when special characters are present"
Hi there,
I am a member of the organizing team for the upcoming WordCamp Italy. We have discovered an issue regarding the "Favorite sessions" feature.
In the "Favorite sessions" emails, there's a text rendering issue occurring when session titles contain special characters like `'`, `-`, `&` because they are translated to the corresponding HTML entities and look ugly and unreadable in the (plain-t

[2020-10-08 19:51] iandunn commented on #665
That all makes sense, thanks for catching that 👍🏻

[2020-10-20 16:18] #665 closed, assigned to nobody

[2020-10-29 17:21] coreymckrill opened #668 "Tooling: Update wordcamp_dev.sql"
The test database file is out-of-date, especially now that the URL structure has been changed. This will also require updating the domains mentioned in the .docker/readme.md file.

- [x] Migrate WordCamp sites to new URL structure
- [x] Update domains in `.docker/readme.md`
- [x] Update DB for new Events network - create the network, root site, and 2 example sites
- [ ] Add examples post etc for c

[2020-11-05 19:54] timiwahalahti opened #669 "Pre-fill sponsor agreement details from sponsor CPT"
We already usually have needed details about sponsor in the sponsor post, because those are used for invoicing. When creating an invoice, details are pre-filled from that post. Sponsor agreements should have the pre-fill functionality as well.

[2020-11-18 14:15] jonoalderson opened #670 "Requests to robots.txt files on wordcamp domains should not redirect"
Requests to `/robots.txt` on wordcamp domains, such as https://sevilla.wordcamp.org/robots.txt and https://mexico.wordcamp.org/robots.txt should not trigger a redirect.

They should return the robots.txt contents (when a file is present, or when WordPress responds with robots content), or otherwise, return a 404 HTTP status and template.

[2020-11-25 17:47] iandunn opened #671 "Coming Soon: Preview pane doesn't show Coming Soon template when opened manually"
If you open the Coming Soon panel in the Customizer via the link in the wp-admin `Tools > Coming Soon` menu, it will show a preview of the logged-out Coming Soon template. The link used is:

https://testing.wordcamp.org/2019/wp-admin/customize.php?autofocus[section]=wccsp_live_preview&url=https%3A%2F%2Ftesting.wordcamp.org%2F2019%3Fwccsp-preview

If you just open the Customizer manually, though, a

[2020-12-01 00:08] coreymckrill opened #672 "Remote CSS: Add note explaining how to use with web fonts"
_Inspired by [this conversation](https://wordpress.slack.com/archives/C08M59V3P/p1606764518125800)._

WordCamp sites have an admin page at Appearance > Fonts for enabling Dashicons and other web fonts on the front end, for use with Remote CSS and the "Additonal CSS" field in the Customizer. However, the documentation for it is easy to miss. One suggestion to increase awareness is to add a line to

[2020-12-01 00:20] iandunn commented on #672
We could easily add it into the built-in help pages.

If it'd be an admin notice, though, then I think it'd be ideal if we only add it when the these conditions are met:

1) the locally cached CSS contains a recognized keyword (e.g., `dashicon`, `typekit`, etc`).
2) the corresponding font system is disabled

Otherwise I worry it'd clutter the page too much, and contribute to people ignoring notice

[2020-12-08 17:36] ryelle commented on #645
This was likely due to not having the PWA plugin installed. Both the docker environment and the VVV meta-environment install the PWA plugin on provision now. I'm going to close this issue – if anyone else runs into this, check that the PWA plugin is active. If that doesn't help, you can open a new issue.

[2020-12-08 17:36] #645 closed, assigned to nobody

[2020-12-08 17:56] #644 closed, assigned to nobody

[2020-12-08 18:19] #643 closed, assigned to nobody

[2020-12-08 21:35] ryelle commented on #646
This was added in https://github.com/WordPress/wordcamp.org/commit/6baf59fa8dd017c6a207391145e0d60dcfbae0ab & https://github.com/WordPress/wordcamp.org/commit/aaf4d733882c35dbd4e8c99e0d53c17941505f2f. Thanks for the initial patch, @WPStagecoach!

[2020-12-08 21:35] #646 closed

[2020-12-08 22:09] ryelle commented on #634
Duplicate of #651, which has a bit more activity.

[2020-12-08 22:09] #634 closed, assigned to nobody

[2020-12-08 22:30] ryelle commented on #621
If anyone wants to take this on from an accessibility perspective, the dialog should probably also trap focus until it's closed, and closing should reset the focus back to the clicked attendee.

[2020-12-08 22:37] ryelle commented on #618
I spot-checked a number of WordCamps, and it looks like the URL restructure fixed this. Now all sites use the format `city.wordcamp.org/year/` (and the few that don't still have a trailing slash).

[2020-12-08 22:37] #618 closed

[2020-12-08 22:42] ryelle commented on #619
This is now available in the API via `meta._wcpt_user_name`. It was added with https://github.com/WordPress/wordcamp.org/commit/e5964b4dc8fef5dda27f8b28ee93046d4aef95b4.

[2020-12-08 22:42] #619 closed

[2020-12-08 23:05] ryelle commented on #612
Noting that this is an issue in Firefox:
![Screen Shot 2020-12-08 at 6 03 50 PM](https://user-images.githubusercontent.com/541093/101551850-bbd72100-397f-11eb-8ca1-9c91e4b88d61.png)

In Chrome, the X is to the left of everything:
![Screen Shot 2020-12-08 at 6 04 28 PM](https://user-images.githubusercontent.com/541093/101551879-d3160e80-397f-11eb-812d-f6c74e0dab97.png)

I think adding `left: 0` to

[2020-12-08 23:11] ryelle commented on #610
Related to https://github.com/WordPress/wordcamp.org/issues/661 (Meetups exposed in API). Possibly both could be fixed at once?

[2020-12-08 23:35] ryelle commented on #508
Moving another suggestion over from #605:

[2020-12-08 23:35] ryelle commented on #605
I've read through the community p2 feedback, and it sounds like the followup email is still valuable, specifically

I'm going to close this issue in favor of #508, because I think the cron/batch email suggestion there is probably a better solution - and further discussion can happen on that issue.

[2020-12-08 23:35] #605 closed

[2020-12-08 23:44] ryelle commented on #508
I think this is a good idea for management, but maybe can tip into personal info that we don't want to track in our database/don't want all organizers to have access to (though any organizer who can export CampTix CSV can see who answered the questions). So I think we could have "boolean"ish fields, "requested accommodations": Y/N, "contacted for a11y": Y/N, no notes. And then maybe a dashboard wi

[2020-12-17 19:51] timiwahalahti opened #675 "Meetup events: add attendance count to results"
I'm working on gathering information about past Meetups for annual reports. [2017 annual report](https://wordpressfoundation.org/2017-annual-report/) had an attendee count included in the numbers reported and I think that's a really nice number to have and compare.

Currently, there's no way to get that number from reports tool. Meetup.com do have their own Pro dashboard from where you can get the

[2021-02-11 11:45] timiwahalahti opened #677 "Allow multiple deputies viewing the same application at the same time"
Sometimes deputies to collaborate on vetting or otherwise checking WordCamp/Meetup applications. As per how Core works, the edit view is locked for one user and other users do see post lock dialog. That dialog prevents other deputies from accessing the information on application easily.

![](https://i.imgur.com/gxB7Gya.png)

Could we find a way to still have the edit lock in place, but at the same

[2021-02-12 00:36] coreymckrill commented on #677
I don't think messing with the post lock is a good idea. The only thing I can think of is that we could show all of the application data on the front end view for users who are logged in and have the correct capabilities.

[2021-02-12 09:08] timiwahalahti commented on #677
Usually, in the scenario when the deputy asks opinions from others, they link the dashboard post.php link because that's easily available for them. In case other deputies could see all application data on the front end, we probably should add a link to that view on post lock dialog - otherwise that possibility is very easily forgotten.

Thought, then what about the private notes? Sometimes we ask

[2021-03-17 23:34] megmorsie opened #678 "Custom CSS outputting HTML entities instead of correct characters"
**Describe the bug**

I compared to a fresh WordPress install to verify, it seems like it's only happening on WordCamp sites. The `>` symbol is being output as `&gt;` in the customizer CSS output.

**To reproduce**

Steps to reproduce the behavior:
1. Log into a WordCamp site with admin access.
2. Click on Customize > Custom CSS.
3. Enter CSS with `>` selector.
My example uses:
`#subscribe-submit

[2021-04-28 06:22] rocket-martue opened #679 "Using the schedule block will override Open Graph Tags."
Using the schedule block will override  Open Graph Tags.
https://japan.wordcamp.org/2021/schedule/

[2021-04-28 15:54] iandunn commented on #679
🤔 , it shouldn't.

Which `og:` tag is being overridden? What do you want the value to be, and what does it change to be after you add the Schedule block?

[2021-04-29 08:23] rocket-martue commented on #679
All `og:` tags will be overwritten. They will be replaced by the `og:` tags of the session with the earliest posting date.
Without the schedule block, the page's `og:` tags will be output correctly.

[2021-04-29 16:24] iandunn commented on #679
Ah, ok, I'm able to reproduce that, thanks!

[2021-05-07 18:36] #679 closed, assigned to nobody

[2021-05-17 17:45] coreymckrill opened #680 "WordCamp Organizer Application: Form occasionally gets submitted multiple times in a row"
![image](https://user-images.githubusercontent.com/916023/118533065-7cfe8180-b6fc-11eb-83a8-0bbed83876fd.png)

Sometimes the same WordCamp application will appear in the queue multiple times in a row, and the post IDs are sequential. One potential cause of this might be someone double-clicking the Submit button.

Ideally we'd have a check on the back end to ensure an application with the same info

[2021-05-17 20:01] iandunn commented on #680
I like the idea for checking on the backend 👍🏻

[2021-06-01 14:44] ryelle opened #682 "Sessions: When session is 50min, initial duration isn't saved"
When setting up a session, the "session length" defaults to 50min. If you change it, it will save in the `_wcpt_session_duration meta` field. If you change it back to 50min it will save. But **if you don't change it at all,** it will not save any value, leaving `_wcpt_session_duration` as `0`.

This causes a bug in the schedule block, where sessions have 0 length (16:00 - 16:00):

<img width="1204

[2021-06-01 16:26] rootjosh opened #683 "Rename country "Macedonia" to "North Macedonia" in camptix"
Incorrect country naming convention in the WCEU registration list. Specifically, regarding the [long running dispute](https://en.wikipedia.org/wiki/Macedonia_naming_dispute) over the name "Macedonia" between Greece and what was then the country of Macedonia. This dispute was settled in 2019 with the changing of Macedonia to North Macedonia with the signing of the [Prespa Agreement](https://en.wiki

[2021-06-01 17:17] iandunn commented on #683
xref https://github.com/Automattic/wp-cldr/pull/95

[2021-06-02 22:19] #683 closed, assigned to nobody

[2021-06-03 00:30] iandunn commented on #682
This one has been tricky to figure out. Before #512, the Classic editor was used to create/edit sessions, and it would save all the default meta values to the DB, regardless of whether or not they were modified by the organizer. It seems like Gutenberg's default behavior is to only save them if they've been explicitly modified.

I'm guessing this was working immediately after #512, because we prob

[2021-06-03 22:48] coreymckrill commented on #682
Would adding a default value to the `register_post_meta` call fix it? I.e.

[code]

[2021-06-04 01:26] iandunn commented on #682
Ah, I forgot about that! I'll test it out, thanks!

[2021-06-07 13:44] megmorsie opened #684 "Global Sponsorship Pause - Agreement Uploading"
Note: I don't expect this to be fixed and it's a really minor issue but wanted to report just for archival purposes or in case related improvements can be made!

**Describe the bug**

At the start of 2021, the global sponsorship program was suspended/paused. The site typically does not allow upload for sponsor agreements for any flagged as global sponsors (because the Community Team handles these)

[2021-07-09 02:16] dd32 opened #687 "Requests to WordCamp subdomain robots.txt files should not redirect"
**Describe the bug**

per https://meta.trac.wordpress.org/ticket/5814

Requests to robots.txt files on wordcamp.org subdomains, like https://slc.wordcamp.org/robots.txt, redirect to the most recent/current year (e.g., https://slc.wordcamp.org/2019).

Instead, this should return an 'empty' robots.txt file, as follows:

User-agent: *

[2021-07-09 02:43] dd32 commented on #687
FWIW Here's the current default WordPress robots.txt contents that we could also put in it's place: https://slc.wordcamp.org/2019/?robots=1

Including the Sitemap at least for the latest year event might be worthwhile.

[2021-07-09 03:17] dd32 opened #688 "Add "global banner" to previous year events redirecting visitors to the current year event"
Often when searching for a WordCamp, it's not unexpected to end up on a previous year event site. This experience can be not-too-great for the average attendee, as there's often no link or banner to the current years site.

This can happen from not-search as well, for example, a company linking to a previous years site that they attended/sponsored/etc and that link may never be updated.

For examp

[2021-07-09 03:22] dd32 commented on #688
One slightly hacky workaround would be to only target logged out users, and use the toolbar class/style/body class, as most themes are already accounting for that.

For example:
<img width="1280" alt="Screen Shot 2021-07-09 at 1 21 04 pm" src="https://user-images.githubusercontent.com/767313/125018535-a44c4c00-e0b8-11eb-8565-8a0fdb90d22d.png">

To note, the CSS that WCEU2020 already had to allow t

[2021-07-09 07:45] jonoalderson commented on #687
Ah, interesting.

Can we make the earlier sitemaps available, too? Would be nice to do something like:

[code]

[2021-07-09 07:49] jonoalderson commented on #670
Duplicates https://github.com/WordPress/wordcamp.org/issues/687

[2021-07-09 07:49] #670 closed, assigned to nobody

[2021-07-16 05:08] CdrMarks opened #689 "Session block start time timezone confusion"
**Describe the bug**

I'm in CDT (UTC-06:00).  When setting the start time for a session on a site in another timezone, the time in the date/time chooser is different from the time in the right sidebar.

**To reproduce**

Steps to reproduce the behavior:
1. Set your local computer's timezone to US/Central.
2. Set the WordCamp site to have the Timezone value of New York (US/Eastern).
3. Create a ne

[2021-07-16 13:58] ryelle commented on #689
@CdrMarks Do you see this same problem when changing the date on posts (like scheduling a future post)?

[2021-07-16 14:58] CdrMarks commented on #689
@ryelle No, I cannot reproduce this on a post to be published in the future.
![image](https://user-images.githubusercontent.com/3489003/125967826-31fcaaac-f0f6-41eb-98e6-a05344daec01.png)

FYI, my local computer's time is still on CDT.

[2021-08-18 21:17] ryelle opened #691 "Tools: PHPUnit tests are failing in github action"
I see this error in [this failed action log](https://github.com/WordPress/wordcamp.org/runs/3365662328)

[code]

Looks like something needs to be updated in the action script, maybe? ~I haven't tried running locally, not sure if it works there.~ Ran locally using [these instructions,](https://github.com/WordPress/wordcamp.org/tree/production/.docker) everything's fine there.

[2021-08-25 19:31] #691 closed, assigned to nobody

[2021-08-26 16:34] #682 closed, assigned to iandunn

[2021-08-29 17:22] ryelle commented on #574
Possible Jetpack fix: https://github.com/Automattic/jetpack/pull/20129

[2021-09-01 15:50] ryelle opened #693 "WC Post Types: "Order Sponsor Levels" page has conflicting permissions"
**Describe the bug**

The "Order Sponsor Levels" page is visible to anyone with `edit_posts` (ex: Editors), but saving the updated order required `manage_options` (only Admins).

**To reproduce**

Steps to reproduce the behavior:
1. Log in to an Editor role account
2. View the Sponsors > Order Sponsor Levels page
3. Can view it ✅
4. Try to move a sponsor, and save
5. Permissions error ❌

**Expecte

[2021-09-13 15:43] #180 closed, assigned to nobody

[2021-09-16 23:39] iandunn opened #697 "Migrate to Meetup.com GraphQL endpoints"
Meetup.com is deprecating their API again, deadline is roughly the end of 2021

- [ ] Add unit/e2e tests to cover existing critical paths
- [x] Take a quick look to check if there's a new-ish 3rd party client we can trust on production
- [x] Verify won't need to change oauth flow
- [x] Migrate `send_paginated_request()`
- [x] Migrate `send_total_count_request()`
- [ ] Test `wcpt-meetup`
- [ ] Test

[2021-09-16 23:56] iandunn opened #698 "Schedule: link to timezone helper website"
See https://github.com/WordPress/wordcamp.org/pull/696

I agree, I think something subtle would be enough, maybe even no visual indicator at all, since the other links don't have one.

[2021-09-17 15:17] #562 closed, assigned to iandunn

[2021-09-17 15:17] #565 closed, assigned to nobody

[2021-09-17 15:17] #492 closed, assigned to ryelle

[2021-09-20 17:38] ryelle opened #699 "Deprecating the JSON REST API (v1) plugin"
The [JSON REST API plugin](https://wordpress.org/plugins/json-rest-api/) is network activated on WordCamp.org. This is the original feature plugin used before the REST API was available in core. The original plugin was deprecated when WordPress 4.7 was released, in 2016.

Once the "real" REST API was released, [a workaround was added to bypass the JSON API handler](https://github.com/WordPress/wor

[2021-09-20 18:38] iandunn commented on #699
IIRC the reason we didn't actually shut it off in 2018 was because [there's an open PR for the WordCamp app to migrate to the V2 endpoints](https://github.com/wordpress-mobile/WordCamp-Android/pull/74), and we were expecting it to be merged.

That still hasn't happened, so I think it's worth seeing what the stats are, and shutting it off if they're low enough.

[2021-09-21 20:24] #689 closed, assigned to ryelle

[2021-09-21 20:33] coreymckrill commented on #697
One of my criteria for this would be that the 3rd party client is very lightweight. Most of the clients I've seen so far do a ton of stuff we don't need (since all we really need is sending GET requests and handling responses) and as a result have a fair amount of complexity, which makes it harder to audit them for production use.

If we end up rolling our own client, I think it should probably ex

[2021-10-08 21:37] CdrMarks opened #702 "Jetpack problems on a new site"
**Describe the bug**

Two issues.

1. As a WordCamp organizer with the Administrator role, I was unable to connect a new WordCamp site to Jetpack using my WordPress.com account.
2. As a logged out user, I didn't see contact form while Coming Soon mode was enabled when accessing the homepage.

**To reproduce**

Steps to reproduce the behavior:
1. Go to 'https://birmingham.wordcamp.org/2022/wp-admin

[2021-10-11 01:47] dd32 commented on #702
Confirmed as a non-super-admin.

The cause of this is that endpoint in Jetpack is using the `jetpack_connect` capability, which uses the `jetpack_disconnect` capability, which on multisite only allows super admins (unless `$this->get_option( 'sub-site-connection-override' )` which isn't true for WordCamp).
The appropriate capability in this scenario appears to be the `jetpack_connect_user` cap.

I

[2021-10-15 01:21] kraftbj commented on #702
Jetpack is working on an issue involving non-admin users having trouble connecting, but this looks like it might be slightly different. I'm asking the team to take a look at it.

[2021-10-19 17:08] kraftbj commented on #702
Can we try again with Jetpack 10.2.1 which shipped today @iandunn ?

There were a few related-but-separate issues with secondary connections and 10.2.1 resolves the known ones before further investigation on this one specifically.

[2021-10-20 21:02] CdrMarks opened #704 "Budgets: Default expense items Snacks, Lunch and Coffee have the wrong category name"
**Describe the bug**

In a new WordCamp site, while using the Budget Tool as a site Administrator for the first time, the category for Snacks, Lunch and Coffee are shown as After Party.

**To reproduce**

Steps to reproduce the behavior:
1. In a new WordCamp site that hasn't interacted with their Budget yet, browse to /wp-admin/admin.php?page=wordcamp-budget
3. Scroll down to Snacks in the Expense

[2021-10-21 18:07] iandunn commented on #702
It's updated now 👍🏻

[2021-10-21 18:14] CdrMarks commented on #702
I was able to connect the Birmingham 2022 site now.  Thanks guys!

I think this can be closed.

[2021-10-21 21:52] #702 closed, assigned to nobody

[2021-10-26 12:31] tomjn commented on #278
Because of the customised mappings and hardcoded values this may be difficult if not impossible to do.

The fundamental problem is that there is unnecessary ultra tight coupling with WP Env. This prevents non-WP Env environments working correctly. This doesn't just impact VVV but anybody who can't run docker, and anybody who wants any other kind of local environment, e.g. raspberry PI's, staging s

[2021-11-01 19:14] CdrMarks commented on #678
This also affects the make.wordpress.org network ([per Dion](https://wordpress.slack.com/archives/C08M59V3P/p1635732473018000)).

I opened https://github.com/Automattic/jetpack/issues/21603 earlier today.

[2021-11-02 15:53] CdrMarks opened #707 "Sponsor Invoices: Postbox wcbsi_sponsor_invoice default location is sidebar"
**Describe the bug**

The default location for the Sponsor Invoice postbox is in the right sidebar.

**To reproduce**

Steps to reproduce the behavior:
1. Go to a WordCamp
2. Mouse over Budget in the menu
3. Click on Sponsor Invoices
4. Click the Add New button
5. See the Sponsor Invoices postbox in the right sidebar. It's within the following div:
[code]

**Expected behavior**

The Sponsor Invoic

[2021-11-14 19:55] CdrMarks opened #708 "Sponsor Invoices: Emails only go to Invoice requestor"
**Describe the bug**

Emailed noticed about the generation and payment of invoices are only sent to the user that created the invoice.

**To reproduce**

Steps to reproduce the behavior:
1. As a WordCamp site user, create an invoice
2. Have Harmony or someone with her capabilities approve or issue an invoice
3. Receive an email at the email address associated with the invoice requestor

**Expected

[2021-11-15 16:43] huanyichuang opened #709 "The Events and News section on the WordPress Dashboard doesn't render the date of WordCamps correctly."
**Describe the bug**

The date of WordCamp doesn't display correctly on the WordPress Admin dashboard.

**To reproduce**

Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. See the bottom right of the page, check the 'WordPress Events and News' section.

**Expected behavior**

The correct date should be displayed (2021/12/11 - 2021/12/12)

**Screenshots**
<img width="1264" alt="截圖 2021-11-16

[2021-11-15 17:29] iandunn commented on #708
That's the intended behavior, rather than a bug:

https://github.com/WordPress/wordcamp.org/blob/055fd1a66f036da5211ba489dc80a65e3d3a8081/public_html/wp-content/plugins/wordcamp-payments-network/includes/sponsor-invoices-dashboard.php#L357

It makes sense to me that the person who created the invoice would be the one who manages the rest of the process for it, but I'm guessing you use a different

[2021-11-15 17:55] iandunn commented on #709
Hi, I think this is an error in the translation, rather than WordCamp.org:

* https://translate.wordpress.org/projects/wp/dev/admin/zh-tw/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=9144372&filters%5Btranslation_id%5D=78848419
* https://translate.wordpress.org/projects/wp/dev/admin/zh-tw/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=9144375&filters%5Btranslation_id%

[2021-11-15 17:55] #709 closed, assigned to nobody

[2021-11-15 20:45] CdrMarks commented on #708
I opened this as a bug since I could only find these emailed notices in the email mailbox tied to my WPORG account, but I expected to see them in the shared WordCamp Google account we have.

Should I close this and reopen as a feature request?

[2021-11-15 21:44] iandunn commented on #708
No, it's totally fine like this, I just mentioned that to help frame the discussion as _adding_ support for this use case, rather than _replacing_ the current behavior.

[2021-11-16 02:15] alexclassroom commented on #709
@iandunn

This bug confuses me from WordPress 5.4, because I follow the **ORIGINAL** strings and localize them by local time order.

As the previous results, it doesn't work well.

Following zh_CN and comparing with original strings, the date and time variables are changed. This is unusual.

Original: %1$s %2$d–%3$d, %4$d
Previous zh_TW translation: %4$d %1$s %2$d – %3$d (Doesn't work)
Current fix

[2021-11-16 15:00] ryelle commented on #709
A similar issue was reported in [core, #53381](https://core.trac.wordpress.org/ticket/53381).

[2021-11-16 20:15] iandunn commented on #709
Ah, you're right, I'd forgotten about that, thanks!

[2021-11-17 18:39] CdrMarks commented on #678
The [Remote CSS Plugin](https://make.wordpress.org/community/2015/11/24/remote-css-plugin-launched-on-wordcamp-org/) can be used as a workaround if needed.  I tested it on [Birmingham 2022](https://birmingham.wordcamp.org/2022/wp-admin/admin-ajax.php?action=wordcamp_remote_css&ver=878) and was able to see `>` show as the symbol.

[2021-11-23 01:40] tellyworth commented on #697
Meetup.com has a migration guide: https://www.meetup.com/api/migrating

[2021-12-10 20:25] CdrMarks commented on #708
I know this is still open and I've not had a chance to submit a PR for it yet.

Adding a note that I happened to see an email generated by  [send_invoice_pending_reminder_mail( $invoice_id, $organizer_mail )](https://github.com/WordPress/wordcamp.org/blob/055fd1a66f036da5211ba489dc80a65e3d3a8081/public_html/wp-content/plugins/wordcamp-payments-network/includes/sponsor-invoices-dashboard.php#L581)

[2021-12-21 06:44] CdrMarks opened #711 "Rendered select boxes must be opened and clicked into before typing"
**Describe the bug**

There are several places within a WordCamp site where a rendered select dropdown occur.  These select boxes have the following element in common:  `<span class="select2 select2-container ...">...</span>`

When I interact with this element, it doesn't behave in the same way as a traditional `<select>...</select>` dropdown.

I expect to be able to open the dropdown and begin ty

[2021-12-23 07:46] CdrMarks opened #713 "CampTix Attendee List: Twenty Twenty theme prevents seeing 3 columns"
**Describe the bug**

Without adding custom CSS, it was not possible to use `[camptix_attendees]` and see 3 columns of attendees.

Slack thread with solution: https://wordpress.slack.com/archives/C08M59V3P/p1640210242065600

**To reproduce**

Steps to reproduce the behavior:
1. As a WordCamp site administrator, set your site's theme to Twenty Twenty.
2. Have at least 3 attendees visible on the sit

[2021-12-23 07:58] CdrMarks commented on #713
It seems a solution could be to do the following:
* create a file at `/public_html/wp-content/mu-plugins/camptix-tweaks/addons/css/camptix-attendees.css`
* in the file `/public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php`
  * hook into the `camptix_attendees_shortcode_init` action
  * enqueue the style file

I'm curious to know if there is a better way to address this?

[2021-12-23 09:21] juanmaguitar opened #714 "Add "number of WordCamps per country" report at https://central.wordcamp.org/reports"
It seems that getting a report of **number of WordCamps per country** is not possible right now at  https://central.wordcamp.org/reports.

I think this is an interesting data to support some conversations for work to do on specific countries/languages based on its activity (like the [meetups per country](https://central.wordcamp.org/reports/meetup-groups-report/?report-year=2021&period=all&action=

[2021-12-23 14:24] iandunn commented on #714
The report exports a CSV, though, and contains all data, not just country. So, we'll need to make a UI for it, and restrict it to only public fields.

[2021-12-24 01:55] dd32 commented on #713
As Camptix as a separate plugin is no longer supported, this could be tweaked directly in the Camptix plugin on WordCamp sites.
It might have an effect upon previous sites designs, but should be minimal enough not to cause concern.

I'd just add `margin-left & margin-right` into the li here, so that the width percentages should always work as designed:
https://github.com/WordPress/wordcamp.org/blo

[2021-12-27 17:07] iandunn commented on #713
A more stable long-term fix might be to convert the CSS to Grid (and any markup changes needed for that). Or maybe to use the `Columns` block to do that for us.

The sticking point there is that we'd need to support back-compat w/ `wcorg_skip_feature()`.

I think the approach in #715 is fine as a short-term solution, though.

[2021-12-27 17:16] iandunn commented on #713
Maybe a better back-compat fix would be to create an Attendees block that uses CSS Grid and/or the Columns block, and then disable the shortcode on new sites 🤔

[2021-12-27 22:43] CdrMarks opened #716 "Sessions: Author column in admin shows session speaker's name"
**Describe the bug**

After creating 22 out of our 36 sessions for an upcoming WordCamp, I noticed the author column was showing three sessions with the speaker's name instead of my own name
![image](https://user-images.githubusercontent.com/3489003/147511362-c11a8b8f-a6e9-418f-8b28-db493e5f9f5a.png)

**Request for Discretion**
The speakers and sessions for this WordCamp have not been announced ye

[2021-12-28 16:14] iandunn commented on #716
Some potentially useful info from [the slack discussion](https://wordpress.slack.com/archives/C08M59V3P/p1640633965075000):

https://github.com/WordPress/wordcamp.org/blob/2b8cf32f0b1f2fa8a6b0bed05eaaf4c6ac6[…]t/plugins/wordcamp-forms-to-drafts/wordcamp-forms-to-drafts.php

These may be related too: https://github.com/WordPress/gutenberg/issues/11000 / https://core.trac.wordpress.org/ticket/50754#

[2021-12-31 19:08] CdrMarks opened #717 "Schedule Block: Ability to style page without speakers and sessions being published"
**Summary**

As a WordCamp Organizer, it's not possible to style the schedule page without temporarily publishing speakers and sessions.

**Current state**

Steps to reproduce the current behavior:
1. Draft several speakers and sessions.
2. Privately publish the schedule page (do not specify specific dates or tracks)
3. Browse to the Schedule page.
4. See "No published sessions are assigned to the

[2021-12-31 19:51] iandunn commented on #717
🤔 , one way to do it without having to add a new setting would be something like this:

[code]

I'm not sure if that's better than your suggestion, though. I like not having to add extra UI, but without the UI it won't be obvious that you can preview. The UI may also be more reliable than trying to guess.

Another idea might be to have a "preview mode", where you could style it. Maybe show the dra

[2022-01-03 15:25] ryelle commented on #717
Chiming in just to say that there won't be customizer support in block themes, so we shouldn't rely on this as a solution long-term (it would still work, I think, but would not be the ideal path).

Will sessions show up in the schedule if they're published as private?

TBH, I think we might want to phase out the preview data in the editor- then we could show any status sessions in the editor, but

[2022-01-05 19:50] timiwahalahti opened #718 "Notify Community Team when new post is pending in Central"
Many WordCamp organisers do have a contributor role on the WordCamp Central website. That means they can write a post, but not publish it. When they are to publish that post, it goes to pending review status.

The team has witnessed a few times that the author doesn't know/understand that no one in Central is looking at pending posts automatically. That results in posts not being published (non at

[2022-01-08 00:03] timiwahalahti commented on #494
Created a PR to add some new default modules. Left following ones out:

* Publicize - needs wordpress.com account to be connected in order to work, so organisers would need to do manual steps anyways
* Tiled Galleries - block editor support new nice ways of displaying images
* WP.me Shortlinks - personal opinion, I don't like links where can't see straight away where they are actually linking
* La

[2022-01-08 01:54] #542 closed, assigned to timiwahalahti

[2022-01-08 02:19] sunsand187 commented on #275
Should Include Date, Location, and Who will be the Lead KidsCamp organizer

[2022-01-08 03:40] #541 closed, assigned to timiwahalahti

[2022-01-10 15:47] CdrMarks commented on #718
I think this is good idea.

In a vanilla Multisite install, would site admins or the primary admin email address be emailed about this?  I wonder if you can tap into that email and send it to support.

[2022-02-03 06:26] dd32 commented on #638
Another WordCamp ran into it: https://wordpress.slack.com/archives/C08M59V3P/p1643867141915899

[2022-02-03 07:52] timiwahalahti opened #728 "Do not allow creating WordCamps in central for other than deputies"
It looks like everyone that has caps to access the WordCamps on the Central site, eg. previous organisers, can use the core "Add new" functionality to add new WordCamp to our tracker tool. Only deputies should be able to do this, as organisers should always submit an application from which the post is automatically generated.

Related: https://secure.helpscout.net/conversation/1768446604/127687/

[2022-02-03 08:20] timiwahalahti opened #729 "Do not copy WordPress.org username on speaker and organiser import"
Importing speakers and organisers do cause activity feed notification to be sent to WordPress.org profiles. In some cases, the majority of the imported contents are valid but for example, few speakers might not be speaking at the new event. Right now import causes wp.org activity feed notification, which leads to false activity on some profiles.

We probably should not import the WordPress.org use

[2022-02-03 08:38] dd32 commented on #729
Another idea given in the above slack thread is to provide the option to import as draft, which could be done potentially as a separate plugin or as part of the WordPress importer plugin.

[2022-02-09 17:28] coreymckrill opened #731 "Login to network admin fails when the URL doesn't have a trailing slash"
When attempting to access the network admin via `https://wordcamp.org/wp-admin/network`, and you're not logged in, the login prompt attempts to log in to `https://wordcamp.org/mu/wp-admin/network` and you get stuck in an endless login loop. This may be because there isn't a `/network$ => /network/` rewrite rule.

h/t @dd32

[2022-02-14 17:43] patriciabt opened #732 "Attendees list, button "mark as attended" with longer text (another language)"
**Describe the bug**

in the WordCamp dashboard, attendee list, this button "Mark as attended" overlaps onto the next column if the text is long (as it is the case in French for inclusive language both words are mentioned by the polyglot team) and I'm sure some other languages must have long texts too.

**To reproduce**

Steps to reproduce the behavior:
1. Set the WordCamp admin to French in your

[2022-02-14 22:02] ocean90 commented on #732
As suggested in https://meta.trac.wordpress.org/ticket/6013, adding spaces before/after the slash should cause normal word wraps here too.

[2022-02-14 23:07] patriciabt commented on #732
Thank you @ocean90. I just suggested on the https://translate.wordpress.org/projects/meta/wordcamp/fr/

[2022-02-18 14:54] iandunn opened #734 "Restrict manual WCPT post creation"
@NewYorkerLaura [reported](https://wordpress.slack.com/archives/C08M59V3P/p1645192555712969) that she can create wordcamp/meetup posts on Central, despite having a `contributor` role.

This looks intentional from the code, but we might want to consider if it's still desired.

https://github.com/WordPress/wordcamp.org/blob/bddaa4eaf5aea877d9f897aa564d677004db7fca/public_html/wp-content/plugins/wcpt

[2022-02-19 05:39] patriciabt commented on #732
All OK now, the French translation team solved the issue with "Marquer comme participant·e" (inclusive and now standard form). Thanks everyone

[2022-02-19 05:39] #732 closed, assigned to nobody

[2022-02-21 07:17] timiwahalahti commented on #734
Duplicate of #728

Sometimes deputies do need this. For example WCEU, WCUS and for some situations with Meetups. But other than deputies shouldn't be able to create posts. At least few have created post and thought that is the "application" process.

[2022-02-21 16:41] iandunn opened #735 "Convert Multi Event Sponsor post type to Gutenberg"
It'd be nice to be able to use the new editor. We need to make sure that any custom code is ported, so that all the current functionality is preserved.

[2022-02-21 16:54] iandunn opened #736 "Automate updating Multi Event Sponsor posts on camp sites"
_#735 should be done before this, so that we're not adding technical debt_

-------------------------------

When changes are made to Multi Event Sponsor posts, they have to be manually synced to active camps. Automating would save time.

* add a checkbox when editing MES posts. if checked, then all `wcb_sponsor` posts will be updates when the `mes` post is saved
* only update `scheduled` and `pre

[2022-02-21 17:15] iandunn commented on #734
Ah, I missed that issue, thanks!

[2022-02-21 17:15] #734 closed, assigned to nobody

[2022-02-21 17:16] iandunn commented on #728
#734 was a duplicate that has some additional info/conversation.

[2022-02-23 08:23] patriciabt commented on #716
Hello
I mentioned a similar issue on Slack's wordcamp-meta channel, and Ryan Marks gave me the link to this GitHub issue.
I thought it would be easier to show you on video so here is my Loom
https://loom.com/share/4031242333734511a1a5741de562ced2

I'm not sure if it's intentional to have speakers as authors?

This video shows 2 issues, 1 is the one related to this ticket and the other one is about

[2022-02-23 16:42] ryelle commented on #716
Thanks for the detailed video, @patriciabt.

It is intentional - when a speaker's wp.org username is added to a session (either by [the form submission](https://github.com/WordPress/wordcamp.org/blob/bddaa4eaf5aea877d9f897aa564d677004db7fca/public_html/wp-content/plugins/wordcamp-forms-to-drafts/wordcamp-forms-to-drafts.php#L457), or [manually by an organizer](https://github.com/WordPress/wordcamp

[2022-02-23 17:04] patriciabt commented on #716
Thank you @ryelle

For display where? The only speaker (Marco Narzisi) where it mentions one of our org (Maxime Culea) as the author is because we do not know for now his wp org id, but display is correct anyway (for example in his session), it correctly mentions he's the speaker
https://geneve.wordcamp.org/2022/session/free-journalism-fake-news-truth-in-the-age-of-wordpress/
TBH I find it strange

[2022-02-25 14:46] MaximeCulea opened #737 "CSS Validator goes wrong"
Hi there 👋

**Explanations**

We wanted to use the following CSS attribute, but the CSS Validator API is not allowing it, resulting in not adding it to the CSS Stylesheet.
I am talking about the `aspect-ratio` property.
Also note that:
* It is fully accepted in CAN I USE: https://caniuse.com/?search=aspect-ratio
* The online CSS validator accepts it: http://jigsaw.w3.org/css-validator/validator

S

[2022-02-28 16:09] ryelle commented on #737
I think CSSTidy from Jetpack is stripping that property out. It should be safe to use, so it can be added to [the custom safelist](https://github.com/WordPress/wordcamp.org/blob/8e026c850ebeeedfc65856072e424268e60d5c42/public_html/wp-content/mu-plugins/jetpack-tweaks/css-sanitization.php#L183).

[2022-02-28 19:58] iandunn commented on #735
Fixed in 6e1e724470997f65327d4904f4bef61482bc77db

[2022-02-28 19:58] #735 closed, assigned to nobody

[2022-02-28 21:04] #737 closed, assigned to coreymckrill

[2022-02-28 21:08] coreymckrill commented on #737
@MaximeCulea This should be fixed now. I re-synced the stylesheet from your GitHub repo, and `aspect-ratio` is now being applied when I check in my browser.

[2022-02-28 22:26] MaximeCulea commented on #737
@coreymckrill yes it is now
![image](https://user-images.githubusercontent.com/5576409/156068660-df3b0202-68b9-4498-8cca-67c31c2e9162.png)

Many thx @ryelle & @coreymckrill! :D

[2022-02-28 23:11] iandunn commented on #735
FYI @harishankerr, I converted all the published Multi Event Sponsor posts to use blocks.

[2022-02-28 23:12] iandunn commented on #735
In the editor, the content will appear a bit different on Central than other sites, because it's partially dependent on which theme is active.

[2022-03-01 04:54] harishankerr commented on #735
This is fantastic! I just checked and can confirm that the block editor features are working perfect. Thanks for wrangling this, @iandunn! 👏

[2022-03-09 22:22] aurooba opened #739 "Local custom fonts solution for WordCamp Sites"
Pulling [this discussion](https://wordpress.slack.com/archives/C08M59V3P/p1646857677698749) out of the Make Slack into GitHub:

Now that Google Fonts has come under scrutiny from a privacy perspective, it would be really helpful if we had a way to upload/include custom fonts locally for WordCamp sites. There are [third-party plugins](https://wordpress.org/plugins/custom-fonts/) available that prov

[2022-03-09 22:30] ryelle commented on #739
Would [the webfonts work done in gutenberg](https://github.com/WordPress/gutenberg/pull/37140) help here at all?

[2022-03-09 22:50] timiwahalahti commented on #739
This might be a bigger issue, as we probably have multiple sites using Google hosted fonts because those are included [wc-fonts](https://github.com/WordPress/wordcamp.org/tree/production/public_html/wp-content/plugins/wc-fonts). In a perfect world, we'd switch Google hosted fonts on all existing sites to be hosted from somewhere else if we want to be extra cautious. What makes that _really_ hard,

[2022-03-09 22:54] aurooba commented on #739
Perhaps!

Although I had a simpler solution in mind: right now there is no way to upload custom font files into a site (.ttf, .woff, .woff2). If we had the ability to upload font file types, we could just link to them in an `@import` in `Additional CSS` or in `Remote CSS`.I know font files can pose a security risk, is there some way we can mitigate that?

[2022-03-09 23:04] ryelle commented on #739
I don't think we should force WordCamps to switch away from google fonts entirely. We can (probably) add the ability to load local fonts, and existing camps can opt in to using that instead.

Are you thinking of [the fonts mu-plugin](https://github.com/WordPress/wporg-mu-plugins/tree/trunk/mu-plugins/global-fonts)? This was added for use in wp.org themes, and only loads Inter & EB Garamond.

Yeah,

[2022-03-09 23:07] iandunn commented on #227
🤔  I'm looking at some of our older code as an example of string i18n in JS, and noticed some potential inconsistency related to this

- we used `decodeEntities` originally #9
- then removed it from everything that existed at the time e1b13d30abd6a520352c5fd04950705729f1c60e
- then noticed the problem in this issue
- then added `decodeEntities` to fix a similar problem #256
- and again in some oth

[2022-03-09 23:16] 0aveRyan commented on #739
If we did want to migrate away from Google-hosted fonts, [@fontsource is a great API](https://fontsource.org/docs/api/font-id) and set of npm packages that make self-hosting Google Fonts easy and pulling from other open foundries like League of Movable Type that aren't all on Google. One benefit of using packages instead of Google-hosted is they're version-locked, unlike the hosted variants, so we

[2022-03-09 23:20] aurooba commented on #739
Fontsource looks _awesome_. I'm loving the solution you're proposing @0aveRyan!

[2022-03-09 23:26] aurooba commented on #739
They seem to support a number of fonts and support for more can be added as well. https://github.com/fontsource/fontsource/blob/main/FONTLIST.md, while it's not as flexible as `add whatever custom font you want` it's a very reasonable list to work with.

[2022-03-09 23:34] 0aveRyan commented on #739
I won't pretend it's a small amount of work 😅 But it's a potentially viable path (I also believe Jetpack [is exploring a Google Fonts integration](https://github.com/Automattic/jetpack/pull/23045)). If the first pass is just offering new camps self-hosted fonts and then circling back to migrating legacy sites would probably make it a more manageable task and let new camps kick the tires.

But I li

[2022-03-09 23:37] aurooba commented on #739
Agreed. I think offering it as a new feature and later migrating older sites is a good move. This allows anyone to go into their WordCamp site and switch to using the new feature manually instead if they want too, for example, perhaps WordCamp Europe wants to go in and manually switch to using `Work Sans` from the new API setup instead of using the current setup provided in `wc-fonts`.

 Then late

[2022-03-10 01:10] coreymckrill opened #740 "CampTix: Allow bypassing the 10 ticket per order limit with a special link?"
Sometimes companies bulk purchase WordCamp tickets for employees, and the 10 ticket per order limit means more clicking and multiple invoices to process.

Why the limit in the first place?

The reasoning is not known for sure, but it's probably related to preventing people from buying/reserving a big block of tickets and then scalping them or just not showing up, denying other people access to the

[2022-03-10 11:26] jaz-on commented on #740
Thank you @coreymckrill for opening the ticket! 👍

[2022-03-10 19:22] coreymckrill commented on #227
👍

[2022-03-10 21:59] iandunn commented on #739
I think this is a duplicate of #584

[2022-03-10 23:34] aurooba commented on #739
@iandunn I did a quick read of #584, it seems that is about adding support for additional third party font hosts. This issue is to add support for _local_ fonts within wordcamp.org to alleviate the privacy issues around pulling fonts from a third party.

[2022-03-11 00:41] iandunn commented on #739
that's a fair point, it'd probably be more accurate to say that adding fontsquirrel here would resolve that one as well 👍🏻

[2022-03-11 00:49] aurooba commented on #739
I can mock something up later this weekend, but I'm thinking that we use something like select2 to allow for multiselect, which populates the fonts from the [fontsource fontlist](https://fontsource.org/docs/api/fontlist) which folks can select.

But we probably want to get pretty granular here right? So that folks are only adding/loading the specific weights/styles of a font they want to use. That

[2022-03-11 02:18] dd32 commented on #739
I see three major problems with fontsource for our usage:
 - WordCamp organisers need a good UI to select fonts, weights, etc. I don't think building the UI ourselves will help anyone.
 - The latest version of the fonts is arguably what we want; For some companies using a static version might be more in line with their level of trust, but for us, the latest font is probably what's wanted.
 - Being

[2022-03-11 02:39] aurooba commented on #739
I'm not sure I understand this point, can you elaborate a bit more? The npm modules are just a way to access the font files, how would that affect a designer? They would still use imports.

I see your point here. The way I see it, we could then just do the same text field setup we have right now, and just download fonts from fontsource if we wanted. All the fonts fontsource serves can be previewed

[2022-03-11 02:54] dd32 commented on #739
My point was that it's "simpler" for usage when building a site using node/sass/etc as a self-contained project: https://fontsource.org/docs/getting-started and using their previewer, also only provides the npm steps: https://fontsource.org/fonts/asap-condensed

It's not designed for a situation like WordCamp, where copy-paste of the `@import` declarations is "simpler".

Perhaps it's not really th

[2022-03-14 16:56] #736 closed, assigned to nobody

[2022-03-28 19:20] ryelle opened #743 "Blocks: Add blocks for use in Query Loop layouts"
The Query Loop block was introduced in WordPress 5.8. This block renders a list of posts (of any type), and gives the editor fine control over the layout and details. The WC post types (ex, speakers) can be rendered in this block, but it misses some of the CPT-specific info. This issue tries to wrangle the differences between the WordCamp blocks and trying to show the same content in the Query Loo

[2022-03-28 20:04] ryelle opened #744 "Use the Speaker Sessions block when creating Speaker posts"
Could be an alternative to filtering the content. When used in regular post content on Speaker post, this block gets the current speaker context and can dynamically show the sessions attached to this speaker.

This block could be added when the speaker post type is created, and the sessions will appear when they're published. ~The `add_session_info_to_speaker_posts` function could check for `has_b

[2022-03-29 18:38] ryelle opened #745 "Duplicate session content shown when using Speaker Sessions block on Speaker posts"
Split off from #744, since organizers can add the block manually now, and it creates duplicate session information.

![image](https://user-images.githubusercontent.com/541093/160681793-47dc530e-89c0-4393-ad36-7e5712166453.png)

[See slack thread](https://wordpress.slack.com/archives/C08M59V3P/p1648575608668299)

[2022-03-29 18:51] ryelle commented on #624
This is now possible in core, for block-based themes (currently just Twenty Twenty-Two). You can add "custom" colors to the available options:

<img width="306" alt="Screen Shot 2022-03-29 at 2 47 41 PM" src="https://user-images.githubusercontent.com/541093/160683544-9a83094e-acdf-4995-a26f-22b58d531ca5.png">

[2022-03-29 18:51] #624 closed

[2022-03-29 19:53] ryelle commented on #622
I think using Global Styles to customize the existing blocks would cover some of the root issue here (IIRC, this was about setting up some custom styles on WCUS blocks). There's also [an issue in gutenberg](https://github.com/WordPress/gutenberg/issues/33232) (not sure how active) to add style control to `theme.json`, which would be the first step to getting a UI in the Global Styles panel.

I'm i

[2022-03-30 08:02] vertizio opened #748 "Adding session time is one hour ahead"
**Describe the bug**
When adding a new session the starting time that is submitted in the session info time field is one hour ahead of the session time that is displayed in the sessions list.

**To reproduce**

Steps to reproduce the behaviour:
1. Go to 'Sessions -> Add New'
2. Enter a session title and set a time, eg.  '11:00'

![Selectie_333](https://user-images.githubusercontent.com/2759239/160

[2022-03-30 15:02] ryelle commented on #748
@vertizio What timezone is the site set to, and what timezone are you in currently?

[2022-03-30 15:07] vertizio commented on #748
@ryelle I'm on CEST and the site is on WEST.

[2022-03-30 15:15] ryelle commented on #748
Okay, it sounds like the input has a bug, and it's saving the time in your local timezone rather than the site timezone. Is that correct, that `11:00 CEST` would be `10:00 WEST`?

[2022-03-30 16:47] vertizio commented on #748
@ryelle Couldn't it be easier to store the info just the way it is entered? I don't see a reason for converting the times in the backend itself. When we add sessions to the schedule, it should match the time zone of the host city. If you want to convert times it should be done only for the visitor, not for the organiser.

[2022-03-30 16:52] ryelle commented on #748
Yes, you _should_ be entering times in the site (event) timezone. In the admin, it should show you the times in the site timezone. The bug here is that despite the screenshot saying you've entering the time in WEST, it's actually saving it from CEST.

[2022-03-30 20:36] #638 closed, assigned to nobody

[2022-03-30 20:47] #561 closed, assigned to timiwahalahti

[2022-04-01 18:13] #678 closed, assigned to ryelle

[2022-04-01 20:48] #622 closed

[2022-04-01 21:22] ryelle opened #752 "Post Types: Remove custom user validation endpoint"
Remove `/wc-post-types/v1/validation` endpoint in favor of new `/wporg/v1/users` endpoint. See https://github.com/WordPress/wporg-mu-plugins/pull/184

This is used to validate a given username in the `UsernameControl` when saving speaker & organzier wporg usernames.

[2022-04-02 11:38] hamdan-Deb commented on #434
same here:-  https://europe.wordcamp.org/2022/tickets/?tix_action=checkout#tix

[2022-04-04 21:01] #748 closed, assigned to ryelle

[2022-04-06 18:35] vertizio opened #753 "Option to choose the display of session times"
Before 2020 the times for the WordCamp sessions were displayed according to the timezone of the site, or actually the city/country hosting the WordCamp. When we moved over to online events it was decided to display the times for the sessions according to the time settings in the browser of the visitor (correct me if I'm wrong here).

Now that we're returning back to in person events, but also stil

[2022-04-07 15:47] ryelle commented on #753
Past discussion on session time + timezones: https://github.com/WordPress/wordcamp.org/issues/562, https://github.com/WordPress/wordcamp.org/issues/565, https://github.com/WordPress/wordcamp.org/issues/492, and the PR that added this, https://github.com/WordPress/wordcamp.org/pull/696.

Currently, the schedule block uses the viewer's timezone, and labels it in the grid — for example [the WCUS 2021

[2022-04-08 08:50] vertizio commented on #753
I'm not a fan of adding a note above or below the schedule. There's a lot of info on that page already and people are poor readers.
My simplest solution is: change the setting in wp-admin. It can be either: display times according to the timezone of the site, or display times according to the browser settings.

[2022-04-08 09:35] vertizio opened #755 "Set the heading level of the speaker's name in the speakers block"
In the speakers block speaker names get h3 assigned, but when you have a post with only an h1 for the page title followed by a short paragraph and then the speakers block, it will trigger an error for a11y.

The [speakers announcement post](https://europe.wordcamp.org/2022/wceu-speakers-group-2/) on the WCEU site shows the following structure for a11y:
![Screenshot 2022-04-08 at 10 53 53](https://

[2022-04-08 15:14] ryelle commented on #755
@vertizio Could you use the Query Loop block, and select the Speakers post type? If you use that in combination with speaker groups, it should give you the control you're asking for.

[2022-04-08 16:17] ryelle opened #756 "Create block patterns for WordCamps"
Let's create some block patterns for WordCamps! There are common content patterns across sites that could be shared as block patterns.

Share ideas, screenshots, or pattern code on this issue.

[2022-04-08 16:23] #744 closed, assigned to nobody

[2022-04-08 21:36] ryelle commented on #756
Basic Speaker Grid

![](https://user-images.githubusercontent.com/541093/162535296-fc8025c9-3092-4195-9383-661f61e7e679.png)

<details>
<summary>Code</summary>

[code]

</details>

[2022-04-09 06:33] vertizio commented on #755
@ryelle Thanks! Exploring it, seems to do the trick.

[2022-04-12 16:23] melchoyce commented on #756
Took a stab at some header and homepage cover patterns:

## Headers

![Screenshot 2022-04-12 at 12-12-47 Homepage Cover Patterns](https://user-images.githubusercontent.com/2846578/163007324-8e4eb634-c77d-4053-b3f8-606e0c1121b2.png)

<details>
<summary>Code</summary>

[code]

</details>

![Screenshot 2022-04-12 at 12-13-39 Homepage Cover Patterns](https://user-images.githubusercontent.com/2846578/1

[2022-04-13 16:49] melchoyce commented on #756
## Speakers

![Screenshot 2022-04-13 at 12-44-36 Query Pattern Speakers Grid (Centered)](https://user-images.githubusercontent.com/2846578/163229932-85463f5f-5a74-47ae-a875-4c0b3398bf4e.png)

<details>
<summary>Code</summary>

[code]

</details>

-----

![Screenshot 2022-04-13 at 12-44-47 Query Patterns Speaker Grid (Left)](https://user-images.githubusercontent.com/2846578/163229940-d5aab481-7422-

[2022-04-13 16:53] melchoyce commented on #756
## Sessions

![Screenshot 2022-04-13 at 12-52-27 Query Patterns Sessions List (Left)](https://user-images.githubusercontent.com/2846578/163231147-61d539cf-9fef-46e6-9e02-ff2826293fc4.png)

<details>
<summary>Code</summary>

[code]

</details>

-----

![Screenshot 2022-04-13 at 12-52-38 Query Patterns Sessions List (Center)](https://user-images.githubusercontent.com/2846578/163231171-7e2ddef7-23f5-

[2022-04-13 19:22] critterverse commented on #756
These look awesome @melchoyce, we took a quick look during the Design Team Show & Tell call today.

A few notes that came up:

- Some of the cover patterns [shared here](https://github.com/WordPress/wordcamp.org/issues/756#issuecomment-1096937986) could potentially use a lighter color for the green buttons that are placed on top of images — they seem a bit hard to distinguish against the backgroun

[2022-04-13 20:00] ryelle opened #759 "Blocks: Displaying sessions in Query Loop shows non-session breaks"
To reproduce:

- Have a set of sessions of both session types, "Regular Session" and "Break, Lunch, etc"
- Add a Query Loop to a post, set it to show Sessions, increase the per-page setting if needed

What happens: All sessions are displayed, including breaks

Expected: Only regular sessions should be displayed. This would match the Session block, which looks for sessions with `_wcpt_session_type=

[2022-04-13 20:24] timiwahalahti commented on #753
WordCamps do have a "virtual event" checkbox on the Central side where we manage events. Maybe this info could be used so that "virtual events" have their session times shown in users timezone and for non-virtual events times would be in a timezone that the site is set to (I think this was the case with the previous shortcode implementation). In addition to times on site timezone on non-virtual ev

[2022-04-13 21:33] melchoyce commented on #756
Thanks, totally agree! These patterns are currently inheriting theme styles, so some of the weird styling is coming from that.

Definitely. The green in this case is the theme's default color. Instead of using the default color, I could make the button white. Do you think that would work better overall?

100% agree, this was driving me bananas. The huge margin on the heading here is coming straigh

[2022-04-13 21:52] ryelle commented on #753
I think the fastest fix would be to show both timezones on the schedule, maybe with an option on the block for which to use. Checking based on the type of event could work, but this seems like the kind of thing organizers want to control 🙂

[2022-04-14 18:20] critterverse commented on #756
I figured as much 😁

I don't think so just yet but there should be soon based on new functionality that already shipped in the Gutenberg plugin. Once available, you could try grouping the Heading and Paragraph into the new Stack block (a vertical flex-box variation on the Group block). Then from the Stack block, you should be able to adjust the block spacing from the Dimensions panel.

[2022-04-14 20:36] melchoyce commented on #756
Exxxxxcellent. I can make an updated version of the pattern when that's out!

[2022-04-19 18:57] timiwahalahti opened #761 "Allow organisers to refund a ticket even without refunds are turned off"
In some situations, WordCamp organising teams might want to have the refund option turned off so attendees can't self-refund. The team might still receive a few refund requests, so they should be able to do it on behalf of the attendee when logged into the site. Currently, the team needs to turn the refunds on, which allows also self-refunds.

[2022-04-19 20:24] critterverse commented on #756
@melchoyce just realized that the block spacing control is already available on the regular Group block 🎉

[2022-04-19 22:08] iandunn opened #762 "Network attendee search timing out"
See https://wordpress.slack.com/archives/C08M59V3P/p1650395035057949

Enter a search term into https://wordcamp.org/wp-admin/network/index.php?tix_section=attendees&page=camptix-dashboard and it will time out at 100 seconds (the PHP limit).

I'll lower `camptix_nt_attendee_list_blog_limit` as a quick fix, but that will prevent older results from showing up. Long term, we should add pagination or s

[2022-05-09 01:50] CdrMarks opened #764 "CampTix: Add automatic emails to attendees requesting details about their accessibility accommodation or life-threatening allergy"
The [proposal](https://make.wordpress.org/community/2021/12/19/proposal-automatically-send-email-to-wordcamp-attendee-requesting-details-about-their-accessibility-accommodation-or-life-threatening-allergy/) to automatically send emails to WordCamp attendees requesting details about their accessibility accommodation or life-threatening allergy received support from all those who replied.  This issu

[2022-05-09 03:17] CdrMarks opened #766 "Docker local wordcamp.test service missing wpackagist-plugin/camptix-mercadopago"
**Describe the bug**

In the `wordcamp.test` service, `composer.json` requires `wpackagist-plugin/camptix-mercadopago`.

**To reproduce**

Steps to reproduce the behavior:
1. Follow the instructions at https://github.com/WordPress/wordcamp.org/blob/production/.docker/readme.md
2. Prior to running `docker-compose up --build`, apply this fix if necessary https://github.com/WordPress/wordcamp.org/pul

[2022-05-10 22:13] CdrMarks commented on #766
While [chatting](https://wordpress.slack.com/archives/C08M59V3P/p1652219592944999?thread_ts=1652217430.595639&cid=C08M59V3P) with @ryelle in Slack

I removed references to camptix-mercadopago in:
.docker/config/composer.json
public_html/wp-content/mu-plugins/0-error-handling.php
public_html/wp-content/mu-plugins/wcorg-misc.php
public_html/wp-content/mu-plugins/wcorg-network-plugin-control.php

Thi

[2022-05-10 22:20] ryelle commented on #766
We can leave the references in the rest of the code (since this plugin does still exist on WordCamp.org), but I agree it can be removed from the `.docker/config/composer.json` file.

[2022-05-13 15:18] #766 closed, assigned to nobody

[2022-05-13 16:36] #755 closed, assigned to nobody

[2022-05-18 21:44] iandunn opened #769 "Add `wporg-mu-plugins/.../utilities` to local environments"
https://github.com/WordPress/wordcamp.org/commit/cb01557207a0dfef12530ca36655f271e04ce2ef and https://github.com/WordPress/wporg-mu-plugins/commit/6b0d108fdf0196ba2a0dfff60a8bcb0ab2987ee5 moved several files from this repo to `wporg-mu-plugins`, because they're also used on w.org.

production wordcamp.org has access to those files, and committers' local environments do too, but other local environ

[2022-05-20 16:27] iandunn opened #770 "Allow "refunding"/cancelling free tickets"
Sometimes organizers want to cancel a free ticket, because the attendee is no longer planing on attending, etc. The self-serve form only allows refunding paid tickets, though.

We could either let folks use the refund system, and just tweak it to ignore payment-gateway stuff if it was free; or we could add a separate "cancel" workflow.

IIRC, there may be a reason that CampTix has historically avo

[2022-05-20 22:35] iandunn opened #771 "Migrate caching to Surge?"
Our own @kovshenin released [a lean caching plugin](https://wordpress.org/plugins/surge/) that looks really good. It'd be simpler and cleaner than WPSC, so I think we should consider migrating.

We could [use nginx microcache](https://konstantin.blog/2021/page-caching-filesystem/) if want to go even further, but that may not be worth it.

Any thoughts @ryelle @dd32 @coreymckrill?

[2022-05-23 02:55] dd32 commented on #771
What's the intention behind it? Something simpler and with less options?

I'm unaware of any of the existing shortcomings or issues that the current plugin has though, so I tend to err on the side of don't touch it if it's working.

WordPress.org pretty much exclusively uses nginx caching, which doesn't have purge support, but is only for logged out users and short cache ttl's.

[2022-05-23 06:27] kovshenin commented on #771
Thanks for considering this! I'll be happy to help with the setup (there isn't much, really), and any custom configuration you might need, like invalidating things on certain custom events.

[2022-05-23 18:17] iandunn commented on #771
Yeah, I think that's a good instinct in general.

The aren't any tangible problems at the moment, but in the past we've run into a few:

* https://github.com/WordPress/wordcamp.org/commit/35956d178aa7afb2c91dc2854352eb57f95eb49e
* https://github.com/WordPress/wordcamp.org/blob/production/public_html/wp-content/wp-super-cache-plugins/http-https-redirect.php
* `wp-cache-config.php` requires [periodi

[2022-05-23 23:37] dd32 commented on #771
That alone would make it worth investigating IMHO. Especially given some current (and many future) things are likely built on top of it.

[2022-05-25 10:14] mrfoxtalbot opened #773 "[Registration Form] Excessively strict validation and no error messages on the "Company or personal website" field"
**Describe the bug**

The required formatting for the `Company or personal website` field is very strict (a simple example.com does not work it has to include the https://) but the problem is made worse by the fact that no error notices are shown (the page just scrolls back to that point) which can be very confusing. I know it took me a couple of attempts to figure it out. I am sharing a recording

[2022-05-25 15:17] ryelle commented on #773
This field & the one above it should automatically add the `http://` to the value (you can try [buying a free ticket on this site](https://testing.wordcamp.org/2019/tickets/?tix_action=attendee_info#tix) to see it working). For some reason, that code is not working for this form.

It would recognize that if the code to prepend `http` was working. It uses browser validation to make sure it's a URL,

[2022-05-25 18:46] ryelle commented on #773
Yeah, I was confirming the reason for why `automattic.com` was not accepted, there's a bug with the `http` prefix code (fixed, hopefully, in #774). As for the browser error notice, what browser are you using? I see it in Firefox — I also see warnings like that if I try to leave a required field blank. Do you see anything like that?

[2022-05-25 22:23] #773 closed, assigned to ryelle

[2022-05-25 22:35] ryelle opened #775 "Tools: phpunit tests are failing in github action"
The phpunit action is failing on production with the following error:

[code]

This does not fail when run locally. The issue is a Jetpack version difference, where local uses the released version, but [the github action pulls down trunk from the wp.org plugins repo](https://github.com/WordPress/wordcamp.org/blob/182f7b08f343d1f873dd562e5f11ef2430d1e3cc/.github/workflows/unit-tests.yml#L83). Curre

[2022-05-29 19:30] CdrMarks opened #776 "wordcamp-participation-notifier.php fails to require wporg-mu-plugins/pub/profile-helpers.php"
**Describe the bug**

On a new install of the wordcamp.org evironment via Docker, this error is encountered.

There has been a critical error on this website.

This line was lasted edited 19 days ago via https://github.com/WordPress/wordcamp.org/commit/89b2afc3797183a642fca60d75b6a8da77589f54

**To reproduce**

Steps to reproduce the behavior:
1. From a clean install, follow the instructions for h

[2022-05-30 16:52] iandunn commented on #776
Related https://github.com/WordPress/wordcamp.org/issues/769

[2022-05-30 16:55] iandunn commented on #776
🤔 , does this line not return early for you?

https://github.com/WordPress/wordcamp.org/blob/89b2afc3797183a642fca60d75b6a8da77589f54/public_html/wp-content/plugins/wordcamp-participation-notifier/wordcamp-participation-notifier.php#L13-L20

[2022-05-31 10:41] CdrMarks commented on #776
@iandunn, I modified those line to the following as a test:
[code]
Here is the the output I'm seeing:

My local is running on wordpress.test.

[2022-05-31 15:50] iandunn commented on #776
Ah, that's right. We've got `WORDCAMP_ENVIRONMENT === 'local'` that predates environment types in Core, and we haven't migrated yet. There's some inconsistencies between how we you dev/prod and how Core does, IIRC.

The best fix for this case is probably something like

[code]

[2022-05-31 23:47] CdrMarks commented on #776
@iandunn, the suggested code change above resolved the error I was seeing.  Does it makes sense to update the repository with an update to try to correct this for the next person who tries to setup a local environment with Docker?

[2022-06-02 15:10] CdrMarks opened #778 "Unable to create a new WordCamp's site on local via Docker"
**Describe the bug**

[Using Docker for a standalone WordCamp.org installation](https://github.com/WordPress/wordcamp.org/blob/production/.docker/readme.md), I was unable to create a new site for a WordCamp.

**To reproduce**

Steps to reproduce the behavior:
1. Follow the instructions at [Using Docker for a standalone WordCamp.org installation](https://github.com/WordPress/wordcamp.org/blob/produ

[2022-06-03 16:12] #776 closed, assigned to iandunn

[2022-06-06 10:56] timiwahalahti opened #779 "Coming soon mode: site tagline visible and can leak details"
When Coming Soon mode is on, the tagline of the site is sent to the browser and thus is visible for visitors and social media shares. In some rare cases, like WordCamp Europe, the site tagline can contain information that should not be visible when CS is on e.g. location or dates of the next event.

**To reproduce**
1. Go to Settings > General
2. Set a tagline
3. Activate Coming Soon mode
4. Open

[2022-06-06 11:01] timiwahalahti commented on #771
I always like simplifying things, so 👍 from me. Maybe we could roll Surge out in phases, starting tests with a small number of old WordCamp sites and gradually testing more with upcoming events before sunsetting WP Super Cache completely?

Let me know if there's anything I can help with these efforts :)

[2022-06-06 15:10] CdrMarks commented on #613
@timiwahalahti I saw your [note in #meta-wordcamp](https://wordpress.slack.com/archives/C08M59V3P/p1654519932027019).  Is an option to throttle the emails being sent to mitigate this issue?
Two ways I could imagine this could work:
1. Research the number of emails per timeframe that Google allows. Throttle the speed at which emails are sent to be lower, maybe 10%, than that rate.  One potential pr

[2022-06-07 18:31] nielslange opened #780 "Allow inviting WordCamp users using their WordPress.org username"
**Steps to reproduce**

Currently, it's only possible to invite users to a WordCamp site, if:

1. the user in question has a WordPress.org account
2. the email address of the user matches the email address of their WordPress.org account

**Proposed solution**

Sometimes, WordCamp organisers provide a different email address to the leads team than the one they used for their WordPress.org account.

[2022-06-09 16:33] iandunn commented on #780
I think that'd be a great improvement 💯

Unfortunately, it looks like that behavior is baked into Core right now:

https://github.com/WordPress/wordpress-develop/blob/f52d476bc6dcfe4c5d011f335361500f80708620/src/wp-admin/user-new.php#L420-L428

https://github.com/WordPress/wordpress-develop/blob/f52d476bc6dcfe4c5d011f335361500f80708620/src/wp-admin/user-new.php#L37-L46

We could work around that b

[2022-06-13 21:23] CdrMarks opened #782 "Unable to access admin for new WordCamp site in Docker local"
**Describe the bug**

After setting up a local environment running using the [Docker](https://github.com/WordPress/wordcamp.org/blob/production/.docker/readme.md) instructions, and creating a new WordCamp and its site, I was unable to browse to the site.

Blocking: #777

**To reproduce**

Steps to reproduce the behavior:
1. Setup your local environment using [Docker](https://github.com/WordPress/w

[2022-06-16 13:29] CdrMarks commented on #782
@ryelle in response to your [suggestion in Slack](https://wordpress.slack.com/archives/C08M59V3P/p1655225396546649?thread_ts=1654175618.301549&cid=C08M59V3P) to create the site without the year, I was not able to do this initially.

<img width="799" alt="image" src="https://user-images.githubusercontent.com/3489003/174079615-5516603b-1f81-4906-8c06-6b92ba555e81.png">

I was able to comment the wp_

[2022-06-24 15:39] ryelle opened #784 "Budget Tool: Add Organizers to event data"
At the request of [peiraisotta](https://profiles.wordpress.org/peiraisotta/):

- Rename the field Attendees to Total Attendees
- Add a field between Volunteers and Currency called Organizers
- Add formulas for: "per organizer" and "per speakers + volunteers + organizers"

<img width="1275" alt="" src="https://user-images.githubusercontent.com/541093/175566623-f0363696-2a60-4bc4-b7b3-500e541421a4.p

[2022-06-28 17:03] iandunn opened #785 "Behavior variations for flagship camps"
Sometimes flagship camps need to do something different, like:

- [ ] Don't insert Multi-Event Sponsor posts when the site is created
- [ ] Don't send the `Meet Your Global Community Sponsors` Organizer Reminder

We could add a checkbox to `wordcamp` posts that marks them as flagship camps, and then check that when needed. It should probably only be editable by deputies, rather than camp organizer

[2022-07-18 15:26] ryelle opened #786 "Logo missing from generated Speaker & Attendee visa letter PDFs"
_Reported by kdrewien & kcristiano_

**To reproduce**

Steps to reproduce the behavior:

1. Go to Docs
2. Select one of the Visa letter options
3. Generate the PDF
4. View the PDF, there is no WordPress or WordCamp logo anywhere

**Expected behavior**

The `wpcs-logo.png` image should be visible in the PDF.

[2022-08-08 14:50] #753 closed, assigned to ryelle

[2022-08-08 15:27] #775 closed, assigned to nobody

[2022-08-08 15:43] ryelle opened #788 "Tools: Update phpunit tests, github actions runner"
When running `phpunit` locally, I'm getting the following error:

`Fatal error: Access level to WordCamp\Organizer_Reminders\Tests\Test_WCOR_Mailer::setUp() must be public (as in class WP_UnitTestCase_Base) in /app/public_html/wp-content/plugins/wordcamp-organizer-reminders/tests/test-wcor-mailer.php on line 35`

I think it's related to [this update](https://make.wordpress.org/core/2021/09/27/chan

[2022-08-08 17:10] ryelle opened #790 "Blocks: Avatar block only shows the first speaker on sessions"
The "Speaker/Organizer Avatar" block shows the avatar of a given speaker or organizer, based on the post context (ie, if it's used on a speaker or organizer CPT, or used inside a speaker or organizer query loop).

As of https://github.com/WordPress/wordcamp.org/commit/ebc05006e3d6312c920feb75c1591d46f616e687, if the "Speaker/Organizer Avatar" block is used on a session post type, it will show the

[2022-08-08 23:36] iandunn commented on #788
It may also be related to 3f80ac8f4a649440e4c37ed6269dbe16c8667853. Have you run `composer update` since that commit?

[2022-08-08 23:40] iandunn commented on #788
That post mentions updating to `public function set_up()` rather than `protected function setUp()`, which may also be the problem.

[2022-08-08 23:42] ryelle commented on #788
Yes… though the docker container installs its own phpunit, and it looks like [that needs to be updated](https://github.com/WordPress/wordcamp.org/blob/941d5f9b16eb1731ab7c2bd5548d56e346b7506f/.docker/Dockerfile.phpunit#L21).

[2022-08-10 07:06] timiwahalahti opened #791 "Prevent disabling Coming Soon mode before WordCamp is s"
Sometimes WordCamp organisers are eager to publish their WordCamp and website even before Central has approved their budget and added them to the schedule. Each organiser is told not to announce anything before the event is officially scheduled - on rare occasions this is forgotten or ignored.

To avoid WordCamp going public too soon, we should prevent disabling Coming Soon mode before WordCamp is

[2022-08-16 04:30] chaion07 commented on #655
This would be super cool for WordCamp Organizers to pre-fill fields for WC Docs. Just referring to the [recent discussion](https://wordpress.slack.com/archives/C08M59V3P/p1660594930157219) in #meta-wordcamp channel in regards to [WordCamp Asia 2023](https://asia.wordcamp.org/2023)

[2022-08-16 23:40] nielslange commented on #655
@chaion07 I'm on it and the first prototype is ready! That said, I followed a slightly different approach. Instead of pre-filling for internal form, I hooked into the Jetpack form directly.

This is what I did so far:
- I created a Jetpack form that enables attendees to request an Attendee Visa Letter.
- I created an option section under `WP Admin » Tools`, to allow organisers to specify on which

[2022-08-28 15:06] maximebj commented on #779
Hi Everybody, I would add another bug concerning coming soon.

I'm lead organizer on the WordCamp Lyon event and someone reported me this.

When publishing a post on our website, with coming soon mode ON :
- people can’t see the post (neither the website) :white_check_mark:
- people can’t see the post through the REST API :white_check_mark:
- but the RSS feed publishes the post so people following

[2022-09-04 14:11] mbigul opened #792 "WordCamp application form is submitted while pressing Enter Key"
**Describe the bug**

We were filling out our WordCamp application. It got submitted unexpectedly while pressing Enter Key in *If there are businesses already interested in sponsoring, list them here.* field. Please check the following screencast for more details.

https://www.screencast.com/t/LpdwhomonY7Q

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://central.wordcamp.org/wo

[2022-09-07 16:51] iandunn commented on #792
If I'm not mistaken, the standard behavior for browsers is to always submits forms when `enter` is used inside a single-line text input field (`<input type="text">`). It's only in multi-line `<textarea>` fields that it doesn't.

Do you think there's a reason to deviate from the standard behavior here, or is there something about the form that makes it look like it's a multi-line field?

[2022-09-09 04:28] ethicaladitya opened #793 "[Camptix] show attendee only once in case of multiple registrations"
This is an improvement feature for the Camptix attendee page.

In case, somebody is purchasing tickets for their team, they might be using their own email initially. As a result, their Names/photo will be available on the attendees' page for the number of times they purchased tickets.

The proposal is to display the name/photo only once if multiple tickets are purchased and selected the option to

[2022-09-09 16:28] iandunn opened #794 "Permanent fix for Live Schedule attributes bug"
I reverted https://github.com/WordPress/wordcamp.org/commit/20b73dfbc95d802a5590d1ec92bccf6c87941440 in  https://github.com/WordPress/wordcamp.org/commit/b638f1db992c4bc98701acdfc1bd44211b2b7a03 because it [seemed to break the Live Schedule block](https://wordpress.slack.com/archives/C08M59V3P/p1662678238523359), and there wasn't time for a proper fix before WCUS.

Now that the immediate problem i

[2022-09-13 15:42] ryelle commented on #793
The idea to hide duplicate people has been suggested before, at https://github.com/WordPress/wordcamp.org/issues/623. Closing this as a duplicate.

[2022-09-13 15:42] #793 closed, assigned to nobody

[2022-09-13 17:46] #794 closed, assigned to ryelle

[2022-09-21 07:51] madebyaris opened #796 "Sponsors block cannot show multiple class correctly"
**Describe the bug**

When I add multi-class on the Additional CSS class(es)  box eg: "test-1 test-2", on the front-end, it will appear as "test-1test-2" and the result should be "test-1 test-2".

**To reproduce**

Steps to reproduce the behavior:
1. Create a page.
2. Add sponsors block
3. Select list instead of grid
4. See the block setting and scroll down to advanced
5. on the Additional CSS cla

[2022-09-23 14:24] ryelle commented on #574
The Jetpack issue says the problem was fixed, so this is worth looking into again.

[2022-09-26 18:17] iandunn commented on #771
If we do this we should also grep the code for `DONOTCACHEPAGE` and other things specific to WPSC, and do them in a more plugin-agnostic way (like nocache headers).

[2022-10-06 19:53] iandunn commented on #613
@vachan Hey 👋🏻 , I heard you were interested in contributing a check-in tool for WC Asia. Have you seen the work that's been done here? I think building on it might be a better approach than starting something new from scratch.

In addition to this ticket, here's some past discussions that'd be good to review:

* https://make.wordpress.org/community/2019/07/07/proposal-qr-code-for-wordcamp-badges/

[2022-10-07 01:12] dd32 commented on #613
Just responding to this specifically about email throttling; WordCamp itself doesn't have any visibility into the email deliverability, as that's handled by our outgoing SMTP servers - they should be appropriately throttling emails to providers such as gmail and yahoo who are known to throttle incoming emails, I know there's definitely been some changes to that throttling setup in the last year.

[2022-10-17 20:16] ryelle opened #797 "Blocks: Add Query Loop variations for WordCamp post types"
[Block variations can be used to extend the Query Loop block](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/extending-the-query-loop-block/) to natively support custom content types, like Sessions, Sponsors, etc.

Using the Query Loop block plus [the helper blocks that were added here](https://github.com/WordPress/wordcamp.org/pulls?q=is%3Apr+project%3Awordpress%2Fwordc

[2022-10-18 23:46] iandunn opened #798 "Session info hidden from Speakers block until timestamp entered"
It looks like the Speaker block will only show session names if the session has a `_wcpt_session_time` assigned:

https://github.com/WordPress/wordcamp.org/blob/060658e961b3c6b6cadf7ee9ca18ffc273c896db/public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/controller.php#L143

That's confusing, since it doesn't seem necessary. It's made by the fact that sessions don't have a time set by d

[2022-10-29 01:38] dmkjr commented on #782
@CdrMarks Seeing a very similar problem (but not utilizing WordCamp).  Can access the site locally but can not access wp_admin after setting up for proxy.