[2019-06-21 21:03] iandunn commented on #121
Related #126

[2019-06-21 21:27] iandunn opened #128 "Finish offline template"
Picking up where https://github.com/wceu/wordcamp-pwa-page/issues/9 left off.

We've already got it created from a plugin, so now we need to iterate on the content per the discussion in that thread, and fix any remaining `@todo` notes.

---

- [ ] Use theme classes on elements to keep theme style
- [ ] Add date/time, location, schedule (use blocks?)
- [ ] Look into `{{{error_details_iframe}}}` or

[2019-06-21 21:30] iandunn opened #129 "Finish service worker caching"
See the `@todo` notes in `mu/-plugins/service-worker-caching.php` and this:

* -[ ] Rather than pulling down fresh data every time, even when it hasn't changed, can we detect when it's changed and only pull new data then? IIRC service workers provide a way to do that. See https://github.com/wceu/wordcamp-pwa-page/issues/6#issuecomment-499366120

This can be used as a tracking issue, but we'll prob

[2019-06-21 21:33] iandunn opened #130 "Finish Day of Event template"
- [x] Add dates & location
- [x] The URL to the Schedule page should be determined dynamically
- [x] Add some fallback content in case JS doesn't load
- [x] Remove `stripTagsAndEncodeText` and support diacritics. See https://github.com/wceu/wordcamp-pwa-page/issues/6#issuecomment-499634671
- [x] CSS is too opinionated, remove some styles and let that be handled by remote or custom CSS

_(rewritten

[2019-06-22 10:35] vdwijngaert commented on #129
This should be pretty straight forward using the stale while revalidate strategy. If the right http headers are used (and exposes for cors use), this should reduce server load and client side traffic quite a bit!

[2019-06-22 14:01] ghost opened #633 "Gitlab support for remote css"
Imported from https://meta.trac.wordpress.org/ticket/4524
Created by [@tippl](https://profiles.wordpress.org/tippl/):

Hi,
I am creating our WordCamp website for Düsseldorf/Germany right now. For this I use the remote css feature.

When I tried to add the style.css I learned that only a Github link is accepted. I would like to use Gitlab instead of Github.  What is the reason for this limitation?

[2019-06-22 14:31] ghost commented on #633
[Comment](https://meta.trac.wordpress.org/ticket/4524#comment:1) by [@vdwijngaert](https://profiles.wordpress.org/vdwijngaert/):

Hey Manja,

You are working locally, right? You can use the "wcrcss_trusted_remote_hostnames" filter to add gitlab.com to the list. This might get you started while waiting for this ticket to be resolved.

[code]

Best of luck with your WordCamp!

**Edit**: I think it's

[2019-06-23 21:36] ghost commented on #633
[Comment](https://meta.trac.wordpress.org/ticket/4524#comment:2) by @iandunn:
 * Keywords set to `Needs Patch` `Good First Bug`
 * Status set to `assigned`

Remote CSS uses a safelist approach [for security reasons](https://github.com/WordPress/wordcamp.org/blob/8cc71f2a5c3037b55e0daebf57454645fb8fecaa/public_html/wp-content/plugins/wordcamp-remote-css/app/user-interface.php#L129-L139), but it'd b

[2019-06-25 22:55] iandunn commented on #126
Fixed in https://github.com/WordPress/wordcamp.org/commit/4dad5ffd0ad0b31616c176bc46e1540925977769

[2019-06-25 22:55] #126 closed, assigned to nobody

[2019-06-28 02:59] ghost commented on #633
[Comment](https://meta.trac.wordpress.org/ticket/4524#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta by tellyworth. [View the logs](https://wordpress.slack.com/archives/meta/p1561690760259100)._

[2019-06-28 11:14] ghost opened #664 "Paginated states of the WordCamp homepage should 301 to the site root"
Imported from https://meta.trac.wordpress.org/ticket/4564
Created by @jono-alderson:

E.g., https://central.wordcamp.org/page/5/ should 301 to https://central.wordcamp.org/

[2019-06-28 11:37] ghost commented on #623
[Comment](https://meta.trac.wordpress.org/ticket/4390#comment:2) by @ePascalC:

@coreymckrill as a workaround this might have done the job, but the same issue exists with volunteer tickets: Somebody buys a standard ticket, then decides to apply as volunteer, gets accepted and is asked to take the (normally free) volunteer ticket. So that person now has 2 tickets and will (probably) be shown twice.

[2019-06-28 12:23] ghost commented on #623
[Comment](https://meta.trac.wordpress.org/ticket/4390#comment:2.3) by @dd32:

Replying to [@ePascalC](https://profiles.wordpress.org/ePascalC/):

It used to be that only one attendee would be shown per email address, but it looks like that was recently changed - https://github.com/Automattic/camptix/commit/594077b9500ae18a04b7d76d06b1d5919d4d139c

You can also just mark one of the tickets as priva

[2019-06-28 15:59] ghost commented on #664
[Comment](https://meta.trac.wordpress.org/ticket/4564#comment:1) by @iandunn:

That looks like the normal Core behavior when the homepage is setup to display a page. Seems like this should be a Core ticket instead?

[2019-06-28 19:14] ghost opened #634 "WordCamps: Render session information in page template"
Imported from https://meta.trac.wordpress.org/ticket/4568
Created by [@melchoyce](https://profiles.wordpress.org/melchoyce/):

While we input session details (time, location, category, etc.) to session pages, that information doesn't get output in the session page itself. If you're linking someone to your session page, they'd still need to go and look at the schedule just to see when you're speaki

[2019-06-28 19:18] ghost opened #635 "WordCamp: Improve individual session and speaker pages"
Imported from https://meta.trac.wordpress.org/ticket/4569
Created by [@melchoyce](https://profiles.wordpress.org/melchoyce/):

Instead of outputting the speaker/session information at the bottom of the page, what if we automatically added the appropriate block, so you could control what information is shown on single pages?

So: On an individual speaker page, it would have the speaker's bio, and t

[2019-06-28 19:18] ghost commented on #635
Comment by [@melchoyce](https://profiles.wordpress.org/melchoyce/):
 * [Speaker.png](https://meta.trac.wordpress.org/attachment/ticket/4569/Speaker.png) added

[2019-06-30 18:39] westonruter commented on #129
Yes, see also https://github.com/wceu/wordcamp-pwa-page/issues/6#issuecomment-499366120:

[2019-07-01 18:23] coreymckrill opened #134 "Add filter to Attendees post list screen to show "Yes" responses for allergies and special accommodations"
Suggested by @BFTrick:

[2019-07-01 23:32] coreymckrill opened #135 "Rate limiting on ticket form prevents legitimate submissions of day-of registrations from a venue IP address"
Via a conversation on [WP Slack](https://wordpress.slack.com/archives/C08M59V3P/p1562012392183700):

[2019-07-02 17:42] #135 closed, assigned to coreymckrill

[2019-07-09 14:45] ryelle commented on #81
@melchoyce Looks like this is still the case– do you still want to get us a specific color, or should it just use the regular text color?

[2019-07-09 15:08] melchoyce commented on #81
Let's use  `#555D66`.

[2019-07-09 19:15] ghost commented on #572
Comment by @sarahmonster:
 * [Badge landing page.png](https://meta.trac.wordpress.org/attachment/ticket/262/Badge%20landing%20page.png) added

[2019-07-09 19:15] ghost commented on #572
Comment by @sarahmonster:
 * [Screenshot 2019-07-09 at 18.37.16.png](https://meta.trac.wordpress.org/attachment/ticket/262/Screenshot%202019-07-09%20at%2018.37.16.png) added

[2019-07-09 19:17] ghost commented on #572
[Comment](https://meta.trac.wordpress.org/ticket/262#comment:22) by @sarahmonster:

"Building badge buckets?" ;) I'm not convinced that either "making" or "building" are really good terms here—there's something that feel inherently awkward. Would "Preparing" (as in, "Preparing badge data") maybe work better here?

I'm not opposed to showing the Modal if the process is still in progress, but I wond

[2019-07-09 19:55] ghost commented on #572
[Comment](https://meta.trac.wordpress.org/ticket/262#comment:23) by @iandunn:

* "preparing" sounds good to me.

* Leaving the spinner off sounds good too.

* If we store the past exports, we'll need to delete them once the camp is over, to avoid eventually taking up too much disk space. I don't think that'll take too much time, but if it becomes a rabbit hole it'd probably be best to push it to v

[2019-07-09 20:50] ryelle commented on #82
Looks like this has been fixed by now, maybe it was just a gutenbug 🤷🏼‍♀️

[2019-07-09 20:50] #82 closed

[2019-07-09 21:15] ryelle commented on #85
This also seems to have been fixed since the issue was created.

[2019-07-09 21:15] #85 closed

[2019-07-09 22:10] ryelle opened #141 "Blocks: Allow centering of content in addition to images"
Currently, it's possible to center the image for example, in the Speakers block:

![Screen Shot 2019-07-09 at 6 04 08 PM](https://user-images.githubusercontent.com/541093/60926371-4475fd00-a274-11e9-88e9-f1135c952b3e.png)

But if I want the speaker name to be centered above that (for example, [the Boston speakers list](https://2019.boston.wordcamp.org/speakers/)), I need to add custom CSS. We coul

[2019-07-10 21:49] coreymckrill commented on #141
I feel like adding three more buttons to the block controls is a lot of additional clutter. But I also see the utility in having an easy way to align the content.

If we did add the buttons, I would prefer to keep it simple, and have it align all the content (except the image, I guess, since it has its own controls for that). If someone wants to align different parts of the content in different wa

[2019-07-11 13:07] ghost commented on #572
[Comment](https://meta.trac.wordpress.org/ticket/262#comment:24) by @sarahmonster:

👍👍👍

This all sounds good by me!

As per the last point, perhaps the two buttons should be labelled to better indicate the actions they take:

- Create badges with CSS
- Get data for InDesign

We could also move the "past downloads" section to the InDesign page, rather than having it on the main badges page, which

[2019-07-11 13:52] melchoyce commented on #141
I like the idea of being able to center the speaker name, but most of the bios I've seen are long enough that centering them is a bad idea. I'd be more inclined to add a sidebar setting for centering the name, like the header block currently has.

[2019-07-11 17:33] ryelle opened #148 "JS Code Standards: Alignment of objects, keys & values"
_This is one of a few issues/PRs dealing with code standards, created after a discussion in slack._

Currently we align object parameters on their assignment operator (`:`), so that this is considered correct.

[code]

The code standards for this project are overriding core's code standards, which say that there should be no spaces before `:` in an object definition. [source](https://make.wordpres

[2019-07-11 17:34] ryelle opened #149 "JS Code Standards: Alignment of variable declarations & import statements"
_This is one of a few issues/PRs dealing with code standards, created after a discussion in slack._

Currently we align `import` statements on `from` and variable declarations on `=`, when there are multiple lines of code, so that this is considered correct.

[code]

[code]

While core does not have a documented code standard around this alignment, it does enforce the `no-multi-spaces` rule in esl

[2019-07-11 20:06] #79 closed

[2019-07-11 22:46] iandunn opened #151 "Specify GH-style issue references in commit message template"
#84 and #86 didn't get closed automatically by 5175aff0cae8c949e12d19560e759a93c44a419a. [It looks like](https://help.github.com/en/articles/closing-issues-using-keywords) the line needs to explicitly specify a status for each issue referenced, in contrast to Trac. e.g., `Fixes #1, fixes #2, see #3`.

Presumably they could also be on separate lines. I think I'd personally find that easier to parse

[2019-07-11 22:47] iandunn commented on #84
This was fixed in 5175aff.

[2019-07-11 22:47] #84 closed

[2019-07-11 22:47] iandunn commented on #86
This was fixed in 5175aff.

[2019-07-11 22:47] #86 closed

[2019-07-15 16:17] ryelle commented on #151
Let's also add a github PR template so they can be correctly referenced from the PR as well. I like the [format we used on WooCommerce,](https://raw.githubusercontent.com/woocommerce/woocommerce-gutenberg-products-block/master/.github/pull_request_template.md) which also reminds the dev creating the PR to check accessibility (we could add other things if we want), and to specify testing instructio

[2019-07-15 16:50] iandunn commented on #151
👍

I like that that uses `.github` to avoid cluttering the root folder. I wish that'd be possible/practical w/ npm, composer, travis, docker, phpcs, phpmd, git, and phpunit too. It'd be nice if we could put all those in a `/.tools` folder or something.

I agree that a11y is important, but I'm not sure why we'd have a checklist for that and not other things? Did they add it because b/c it's somethi

[2019-07-15 17:07] ryelle commented on #151
IIRC some of these support a `.config/` folder, and others you can specify where the config comes from, but not package.json (idk about composer).

Yep, since we were creating UI, I added the a11y items as things to remember, and it did markedly increase developers testing with keyboard-only + screen readers. I wasn't necessarily saying we needed to adopt this wholesale, but that we could create a

[2019-07-16 17:10] ryelle opened #155 "Automatically update node packages"
Maybe we could use [renovate bot](https://renovatebot.com/), which we can configure to run once per sprint, and get one PR with a set of updates (rather than [a few a day](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pulls?q=is%3Apr+author%3Aapp%2Frenovate)). We could also enable/disable this per folder, with `includePaths` & `ignorePaths` (at least, I _think_ that's what th

[2019-07-16 18:04] iandunn commented on #155
What's the problem that you'd like to solve with this?

I can't think of any compelling benefits off the top of my head, except for the in the case of security updates (which we already get automated alerts about, and could enable automatic PRs if we wanted).

My main concern is taking our limited time away from making an impact with user-facing features, and adding more tedious busywork. If it'll

[2019-07-16 18:12] coreymckrill commented on #155
I like the idea of automating the process of regularly auditing and updating our dependency packages, _and_, there are probably a few concerns that need to be addressed before we make a decision on this:

* How much would it cost? It looks like you get a free trial, but I didn't see an "always" free offering.
* What kind of permissions to our GitHub repo would we need to give it? Clearly Woo has c

[2019-07-16 18:18] iandunn commented on #155
IIRC GitHub's API permissions are very poorly designed, and it's not possible to grant read-only access to a single repo. If we connected an external app, it'd get read (and possibly write?) access to all repos in the organization, including private ones. I feel pretty strongly that that'd be a dealbreaker for security reasons.

If we decide we want this functionality, is there a way to set it up

[2019-07-16 18:19] ryelle commented on #155
Our packages out pretty out of date, and keeping up with them somewhat regularly is easier than waiting months and needing to update all of them. Staying up with more-current versions could also make security updates easier when they need to happen, because it wouldn't need to be as big a jump  (instead of `random-package@2.0.3` to `3.1.6`, we could already be at `3.1.5`).

That's fair, but aside

[2019-07-16 18:48] iandunn commented on #155
I'm not sure that it is easier, but on a deeper level, I don't see why we need to install non-security updates in the first place. What tangible benefits do we get for doing that work?

I agree that it would make that discrete task easier, but my instinct is that it'd take more time if you look at it holistically. In fact, jumping over several versions seems like it might actually _save_ time over

[2019-07-16 19:16] ryelle commented on #155
Whatever the updates are bringing- improved accessibility, performance, edge-case bugfixes that we maybe haven't run into yet but then don't have to worry about… the same reasons we want to keep plugins etc updated.

Having debugged multiple outdated projects where the build process itself has broken down, I definitely disagree with this. I see where you're going with each part individually, but t

[2019-07-16 23:58] coreymckrill commented on #155
@ryelle I agree with you about the value of doing this, and I defer to your experience that keeping up with this regularly has worthwhile benefits and is more efficient timewise than letting things get stale.

I'm not sold on renovate bot in particular though, for reasons mentioned above. Are there other similar services available that we could compare it to? Or, is there a relatively painless way

[2019-07-18 16:01] #81 closed

[2019-07-18 16:49] ryelle commented on #155
I think we could look into dependabot. I installed the "Dependabot Preview" app to a personal repo of mine, and this is what it asked for. Note that it's written/owned by github, so they already have this access theoretically. It's only installed as a separate app because it previously was separate (was acquired by github)

![Screen Shot 2019-07-18 at 12 41 37 PM](https://user-images.githubusercon

[2019-07-18 17:05] ghost commented on #587
[Comment](https://meta.trac.wordpress.org/ticket/1794#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1563469523260800)._

[2019-07-18 17:08] ghost commented on #587
[Comment](https://meta.trac.wordpress.org/ticket/1794#comment:10) by @iandunn:
 * Keywords set to `Good First Bug` `Has Screenshots` `Needs Patch`

[2019-07-18 17:08] ghost commented on #588
[Comment](https://meta.trac.wordpress.org/ticket/1817#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1563469707261800)._

[2019-07-18 17:38] ghost commented on #588
[Comment](https://meta.trac.wordpress.org/ticket/1817#comment:2) by @iandunn:

Slack summary:

We could add a new `notes` field to the invoice post type, and include that in the QBO `PrivateNotes` param. That only shows up when deputies are viewing the invoice, though, not sponsors, so it probably wouldn't work for this use case.

The `CustomerMemo` field is probably what we'd want to use for this

[2019-07-18 17:39] ghost commented on #588
[Comment](https://meta.trac.wordpress.org/ticket/1817#comment:3) by @iandunn:

It'd also be good to get more input from the community team about how they'd use this field, requirements from different org teams, different use cases, etc.

[2019-07-18 17:45] ghost commented on #588
[Comment](https://meta.trac.wordpress.org/ticket/1817#comment:4) by [@garrett-eclipse](https://profiles.wordpress.org/garrett-eclipse/):
 * Keywords set to `Dev Feedback` `Needs Patch` `Needs Privacy Review`

[2019-07-18 17:46] ghost commented on #653
[Comment](https://meta.trac.wordpress.org/ticket/2849#comment:13) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1563471983280800)._

[2019-07-18 17:59] ryelle commented on #155
Looks like dependabot does include the changelog + release notes (they're the same in this PR though) https://github.com/ryelle/rmb-recipe-block/pull/95

This "compatibility score" is pretty interesting: https://dependabot.com/compatibility-score/?dependency-name=css-loader&package-manager=npm_and_yarn&previous-version=3.0.0&new-version=3.1.0

[2019-07-18 18:07] ghost commented on #610
[Comment](https://meta.trac.wordpress.org/ticket/4048#comment:8) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1563473261297900)._

[2019-07-18 18:08] ghost commented on #653
[Comment](https://meta.trac.wordpress.org/ticket/2849#comment:14) by @iandunn:
 * Keywords set to `Needs Patch`

Slack summary:

We discussed some options with using blocks, but it needs more discussion and thought.

If we do make markup changes, then incorporating the header per Mel sounds like a good idea.

Either way the "read more" link sounds good.

[2019-07-18 20:36] coreymckrill commented on #155
If the feature set is comparable, and Dependabot is free (which it says it is, with no "premium" version mentioned, since it's now part of GitHub), that seems like the best choice to me.

I wonder if all of the rest of the Dependabot features will be integrated right into GitHub, so that we eventually wouldn't have to give permissions to a separate app. I'd feel better about that, even though it's

[2019-07-18 20:38] coreymckrill commented on #155
These points from the Dependabot blog [announcement](https://dependabot.com/blog/hello-github/) seem to indicate that eventually everything will be integrated:

[2019-07-18 20:45] ryelle commented on #155
Yeah, eventually - but with no timeline that I saw, so I think the "external" app is still needed if we want this soon.

[2019-07-19 00:25] ghost commented on #588
[Comment](https://meta.trac.wordpress.org/ticket/1817#comment:5) by [@garrett-eclipse](https://profiles.wordpress.org/garrett-eclipse/):
 * Keywords set to `Dev Feedback` `Needs Patch` `Has Privacy Review`

Hi @iandunn thanks for flagging the potential GDPR implications.

From reviewing the original Slack thread and description this seems almost more of an admin informative field for notes and I d

[2019-07-19 14:41] iandunn opened #159 "Versioned Composer dependencies add unnecessary maintenance burden"
Continuing discussion from https://github.com/WordPress/wordcamp.org/pull/152#discussion_r303564592 so that it doesn't get lost in a closed PR.

We need to version things that run on production, like `league/oauth2-client`, but the plugins/themes are just dev dependencies, and production uses `svn:externals`.

If we version the dev dependencies, then we have to update the version number in 4 place

[2019-07-19 14:43] iandunn opened #160 "Does `--prefer-dist` have to be set manually?"
I wonder if adding this to `composer.json` would allow us to avoid having to pass `--prefer-dist ` manually every time?

[code]

[2019-07-19 15:58] ryelle commented on #76
Looks like this isn't an issue anymore.

[2019-07-19 15:58] #76 closed

[2019-07-19 16:00] ryelle commented on #77
@melchoyce I'm not clear on where you want the margin, can you add an arrow where you want more space? Here's an up-to-date screenshot of how the empty content placeholder looks:

![Screen Shot 2019-07-19 at 11 59 43 AM](https://user-images.githubusercontent.com/541093/61548885-be4c7a00-aa1c-11e9-87c9-3606708466d9.png)

[2019-07-19 16:01] ryelle commented on #78
Dropdown content is not centered, so I'm guessing this is outdated. Feel free to reopen if I'm missing something.

[2019-07-19 16:01] #78 closed

[2019-07-19 16:05] ryelle opened #161 "Blocks: Dropdown falls under block toolbar on small screens"
At <600px, the toolbar is always visible, and must have a higher z-index set:

![Screen Shot 2019-07-19 at 11 58 39 AM](https://user-images.githubusercontent.com/541093/61549101-3dda4900-aa1d-11e9-9000-9f0f238f8332.png)

[2019-07-19 16:55] #71 closed

[2019-07-19 18:59] iandunn opened #162 "Add existing dependencies to Composer"
* Cavalcade - Maybe can't b/c of customizations?
* indian gateway > razorpay - just as a dev dependency so we're alerted when security vulns are published
* quickbooks - not now maybe something in the future? after we update to oauth2 later this year

[2019-07-19 20:48] ryelle commented on #75
Right now the "add more" section allows for add+removal of all the selected items. Switching that to just adding items, and having an "editing state" for removing, would add complexity to each blocks' code. We would need to add in state management to track changes to the selected items, while maybe not committing to them yet. I think this is worthwhile in general, and a nicer interface if you have

[2019-07-19 22:05] coreymckrill commented on #75
Instead of an editing "state", could we just add a button to each item to remove it? I'm thinking something like an `[X]` in the upper right corner that overlays the content, but is visually hidden unless the item has focus or hover...

[2019-07-22 14:15] melchoyce commented on #77
Looks like it was fixed — the dropdown and button were previously stacked instead of inline.

Any chance we could match the height for both the dropdown and button?

[2019-07-23 21:26] iandunn commented on #100
I haven't played around with Context much, but my first impression is that it has a lot of the awkwardness of HOCs, rather than being the elegant solution I hoped it'd be. It seems changing these so that we're only passing down the props we actually use would fix it, right? That seems more straight-forward and maintainable.

Having said that, prop drilling is awkward too, so I'd be open to explori

[2019-07-23 21:38] ryelle commented on #100
There's a lot of abstraction here (which is useful, the reusable components are nice), but I do think there's too much `...this.props`-ing in general and it's hard to trace where a prop came from, and what props a component actually needs.

We should be explicit about which props are needed for each component - I tend to think `Context` would only hide that more, and I'm not sure what else we'd ga

[2019-07-23 22:20] iandunn commented on #107
This is still broken, even though we're using `wp-scripts` now. I think it's b/c the Firefox browser extension injects the script via HTTP, but we use HTTPS, so there's a same-origin conflict.

https://github.com/twolfson/livereload-extensions/issues/2

Re-opening so we don't lose track of it, and in case there's something we can do on our end. May need to wait for an upstream fix though.

[2019-07-24 15:03] #75 closed

[2019-07-24 15:03] #161 closed, assigned to nobody

[2019-07-25 15:30] #80 closed

[2019-07-26 15:51] #88 closed

[2019-07-26 15:51] #89 closed

[2019-07-26 22:08] ryelle commented on #77
The button height was fixed in #174, so considering this closed.

[2019-07-26 22:08] #77 closed

[2019-07-26 22:27] ryelle opened #179 "Blocks: Toggle descriptions should update to reflect state"
There doesn't seem to be explicit documentation on this, but [the ToggleControl example](https://github.com/WordPress/gutenberg/tree/master/packages/components/src/toggle-control) shows changing help text depending on the state of the selection. It's a nice way to make it clear what "on" means in a toggle.

For example, in the gallery block:

| Crop toggle off | Crop toggle on |
| ---------------

[2019-07-26 22:31] ryelle commented on #62
Looking over this issue, it seems like _almost everything_ is sorted 🎉

The remaining things I'm not sure about

- The organizers group icon seems to have disappeared a few iterations ago, did we want to bring that back?
- Now that speaker & organizer avatars are 50px (#177), should the group icons also be 50px?
- What was the outcome of the read more discussion above? Leave as it is currently?

@

[2019-07-26 22:37] ryelle opened #180 "Post Types: Allow organizers to override speaker avatars"
Anecdotally this has come up a few times - speakers either don't have a gravatar account, or want to use a different headshot for the WordCamp site. Currently, organizers don't have a good way of overriding that.

One option could be enabling the featured image, but themes might use that on the page in general, causing awkward just unexpected layouts, where maybe the old gravatar is on the page al

[2019-07-29 12:21] ghost opened #636 "Remove global sponsor details from flagship event sites"
Imported from https://meta.trac.wordpress.org/ticket/4636
Created by @hlashbrooke:

Currently, all WordCamp sites explicitly thank all of the global sponsors on the ticket page after purchase, as well as in the footer of all ticket purchase emails.

According to [our global sponsorship program](https://make.wordpress.org/community/2019-wordpress-global-community-sponsorship-program/), however, the

[2019-07-29 12:22] ghost commented on #636
[Comment](https://meta.trac.wordpress.org/ticket/4636#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by hlashbrooke. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1564402927032400)._

[2019-07-29 14:33] melchoyce commented on #62
If the other groups still have icons, we should bring it back just to be consistent between all the blocks.

Can you add a screenshot of what it currently looks like?

Sorry, short memory — how does it currently work, again?

[2019-07-29 14:56] ryelle commented on #62
Larger avatars + smaller group icons:

![Screen Shot 2019-07-29 at 10 55 13 AM](https://user-images.githubusercontent.com/541093/62058422-6e756c00-b1ef-11e9-92c9-f80a35f26dba.png)

Larger avatars + no group icons (organizers, which you've said we should bring back, but just for reference):

![Screen Shot 2019-07-29 at 10 56 07 AM](https://user-images.githubusercontent.com/541093/62058457-7f25e200-

[2019-07-29 15:12] melchoyce commented on #62
Let's keep the group icons small. Emphasizes people over categories, and makes the group listings  more compact.

[2019-07-29 16:30] ryelle commented on #100
I wonder if we could use context as a "read only"-ish store for `blockData`, where we set blockData (and maybe `ICON`/`LABEL`) in the Edit component, and then each shared component can read the data from there, rather than relying on `props.blockData`

[2019-07-29 16:41] ryelle commented on #148
as a note, this is considered correct - not _all_ keys need to line up, something about being broken apart by the child object means the alignment of keys above/below the object are considered separate. Attempting to align the `:` for all top-level keys results in spacing errors

Correct:

[code]

Incorrect:

[code]

[2019-07-29 20:13] iandunn opened #183 "Block controls & content pattern"
I've always found the `block-controls` & `block-content` files a bit confusing, partially because the names are so visually similar, but mostly because it's not immediately obvious what they each do, and what the distinction is between the two.

It seems like it's a variation on [the container / branch / view pattern](https://lucasmreis.github.io/blog/simple-react-patterns/), so standardizing on t

[2019-07-29 20:40] ryelle opened #184 "Blocks: Set up a convention for class names"
We use `wordcamp__` and `wordcamp-block__` somewhat inconsistently across the different components & blocks, and in general it would be good to standardize. I suggest using `wordcamp-[folder]`, ignoring the top-level `/blocks/` and `/components/`. Pulling from #96, I think this is a good way to think of this

So for example, the blocks would all use the following (they are already, I believe)…

-

[2019-07-29 21:05] ryelle commented on #183
`BlockControls` is a thing in Gutenberg, but it actually applies just to the Toolbar area of the block, not the content itself. The content of the block itself is usually just output in the edit component, there isn't an abstraction/child component there - so if we wanted to match GB, we would essentially dissolve each `block-controls` file.

It makes sense to me to keep the `block-content` file a

[2019-07-29 22:43] coreymckrill commented on #184
I agree with these suggestions. On the question of `post` vs `item`, I think I would lean towards `item`, because it's more flexible. While I think that currently all of our "items" are in fact WP posts, we could eventually have a situation where we want to display titles, content, etc. from entities that aren't official WP post objects.

[2019-07-30 00:55] coreymckrill commented on #100
`setAttributes` and `entities` are basically "read only" too, aren't they? `attributes` definitely aren't, but maybe that would be the only thing that we'd need to pass down through the hierarchy.

[2019-07-30 14:35] #93 closed

[2019-07-30 14:37] #94 closed

[2019-07-30 17:40] #92 closed

[2019-07-30 19:07] iandunn commented on #183
I would guess that's because most of the Core blocks are simpler than ours.

💯

I like that idea, `block` is kind of redundant, and I think removing the extraneous info would help me parse the distinction between it and `controls` faster.

I have a slight preference for keeping the name consistent between blocks, rather than `organizers-list`, but don't feel strongly.

I don't have a preference on

[2019-07-30 19:59] iandunn commented on #180
Personally I'd consider this a `wontfix`. I can see how it's a minor inconvenience, but I think we can make a much bigger impact focusing our limited time on other things.

[2019-07-30 20:05] iandunn commented on #179
I'd personally still find it confusing, because I wouldn't feel confident that it's describing _the current state_ rather than _what will happen if I click on it_.

Having said that, I agree that we should be consistent w/ Core on this, to at least mitigate the inherent confusion introduced by using a non-standard UI element.

If we want to improve on it, we could make the descriptions more explic

[2019-07-30 20:11] coreymckrill commented on #183
+1 for getting rid of the redundant `block` part from names

Also +1 for being consistent between blocks, rather than having `organizers-`, `sessions-` etc as part of the naming convention. I think the same redundancy argument applies here.

The original reasoning for the `block-controls` name was that it was buttons, selects, toolbars, etc. that are in the block itself, rather than in the sidebar

[2019-07-30 20:17] ryelle commented on #183
That's not what I was suggesting, just confusing names -- I meant moving the `components/block-content/*` files.

Hm, so every component would just be called `Content`? I liked the idea of each being `<OrganizersList />`, `<SpeakersList />` etc - it's more descriptive of what the component is.

[2019-07-30 20:36] iandunn commented on #148
### In General

I agree that we should start with them as our basis, but I think it's totally fine to deviate from them when it'd make a significant impact on readability for project committers. The standards chosen by Core are only meant to apply to Core:

We operate in a different context, especially when it comes to the distribution of time spent contributing. I'd roughly guess than 95% of the

[2019-07-30 20:42] iandunn commented on #149
I think https://github.com/WordPress/wordcamp.org/issues/148#issuecomment-516585693 covers my feelings on this as well.

[2019-07-30 20:50] iandunn commented on #183
That's a good point. When looking at a folder, `content.js` seems fine, because the `speaker` context is obvious. When buried in the middle of a file, though, the context isn't as immediate, and `<SpeakerConent />` does feel more appropriate.

...but then the contention is to name the file the same as the component. So, I'd lean towards naming the file `speaker-content.js`.

[2019-07-30 21:40] iandunn commented on #155
This is subjective, but I feel like the updates are probably just as likely to _cause_ performance issues and a11y/regular bugs than they are to _solve_ them, because most software tends to add bloat that we don't need and will never use. Any bugs that might exist in those outdated packages are so small that they haven't been noticed by us or reported by anyone else, so it doesn't seem worth it to

[2019-07-30 22:37] coreymckrill commented on #148
What I perceive here is a tension between _maintainability_ (amount of work to keep the formatting correct, accommodation of contributors) and _readability_ (effort required to understand the code while updating or reviewing). Does that sum it up?

From a maintainability perspective, here's what I _don't_ like about our current standard (with things aligned), that I think @ryelle's suggestion woul

[2019-07-30 23:05] coreymckrill commented on #183
Ah gotcha. Sounds good to me.

Alright, y'all have convinced me. But for consistency should we rename the other block components as well? `<SpeakerContent>`, `<SpeakerPlaceholder>`, `<SpeakerSelect>`, `<SpeakerInspectorControls>`?

[2019-07-30 23:40] ryelle commented on #148
I think we've got an additional tension between what _is_ readable. I disagree that the current spacing is more readable, I find it hard to bounce my eyes back and forth across the open space, I have to make sure I'm reading the right line for the import I want. And for updating, any time I want to change an import, I need to change every other line so it lines up.

I have thought about code style

[2019-07-30 23:49] ryelle commented on #183
Can I convince you both of `SpeakerList` etc, instead of `SpeakerContent`? Just to be even more explicit that this is a list - content is kind of like meta, a word that just means "stuff" :)

- `<SpeakerPlaceholder>`  – I don't think there's a placeholder per block, so we wouldn't need that (the idea [above](https://github.com/WordPress/wordcamp.org/issues/183#issuecomment-516162262) is that each

[2019-07-31 00:03] iandunn commented on #183
I'm fine either way. I kinda connect `Content` to `post_content`, which feels appropriate-ish here, but I definitely see your point about it being such a generic term.

`List` might not work for all blocks, e.g., Schedule, but maybe for that we'd have something different, like `ScheduleGrid` or something.

[2019-07-31 00:10] iandunn commented on #148
Those are all good points. The new standard won't be best for me personally, but it sounds like it'll be best for the team collectively, so +1

[2019-07-31 00:12] iandunn commented on #149
Given that we're moving forward with #148, it probably makes sense to move forward with this too, assuming that @coreymckrill has similar feelings about this one.

[2019-07-31 17:06] ghost opened #637 "Support site logo for sharing image"
Imported from https://meta.trac.wordpress.org/ticket/4642
Created by @iandunn:

[\[2447\]](http://meta.trac.wordpress.org/changeset/2447) / https://meta.trac.wordpress.org/ticket/1526 added some fallback code to pick an `og:image` based on the site icon and custom header. Later, WP added a site _logo_ as well. It'd be nice to add support for that too, since it's probably a more appropriate choice

[2019-07-31 17:06] ghost commented on #637
[Comment](https://meta.trac.wordpress.org/ticket/4642#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1564592809061300)._

[2019-07-31 17:08] coreymckrill commented on #183
+1 from me as well, I'm fine either way. Let's do it.

[2019-07-31 17:44] coreymckrill commented on #155
If we can use Dependabot with only this repo (and not give the app access to the whole organization), I'm in favor of trying it out for some amount of time, say 3-6 months. After that we can evaluate how noisy it is, and whether the updates it provides to us have been valuable and worth our time.

[2019-07-31 18:23] #148 closed, assigned to nobody

[2019-07-31 18:23] #149 closed, assigned to nobody

[2019-08-01 16:55] ryelle commented on #62
The discussion above was about having a setting to show/hide the permalink to the post type's page (Speaker, Session, etc). It sounds like we removed the setting: the permalink is explicitly added to items when the full content is shown, but it's left up to the theme when excerpt is shown, since most themes inject a "Continue Reading" link on excerpts (but only when the content is cut off).

There

[2019-08-01 17:03] ryelle commented on #180
I think this happens more than you think (see our [two mystery avatars on this WCUS announcement](https://2019.us.wordcamp.org/2019/08/01/announcing-our-speakers-round-4/)), and especially as conf sites are using larger photos (like in the speaker blocks, where it can go up to 600px), photos that are "designed" for 100px comment avatars are not necessarily best for speaker profile photos.

While I

[2019-08-01 17:46] iandunn commented on #180
What's the reason that they don't just create Gravatars like everybody else?

IIRC, the only reason I've heard in the past was b/c the speaker had an over-inflated ego and didn't think it was important to do the things the organizer team asked them to do. IMO that's a huge red flag that they're probably not going to be a good speaker (in the holistic sense).

There could definitely be other reason

[2019-08-01 18:10] iandunn commented on #184
WFM

[2019-08-01 18:32] coreymckrill commented on #62
The permalink was added to the bottom of the full content because of concerns (from @melchoyce I think, but it's buried in Slack somewhere) that linking the post title was not obvious enough as a way to get to each single post in the post list.

I personally think linking the post title is sufficient, so if we can all agree on that now, I'd say let's go ahead and remove the link.

[2019-08-02 14:57] #183 closed, assigned to nobody

[2019-08-02 14:57] #184 closed, assigned to nobody

[2019-08-02 21:55] iandunn opened #186 "Include sharable link in "favorite sessions" email"
The "favorite sessions" email includes the sessions the user chose, but it'd be helpful to also include the link, so that they can easily apply those sessions to their phone or other device, and so that they can easily get a much better view of their personalized schedule on the  website.

Since it's not the primary purpose of the email, though, it should probably be displayed below the raw schedu

[2019-08-05 18:33] ryelle commented on #56
At this point I think we've settled on the architecture we have, so I'm going to close this out – feel free to re-open if there's still something to discuss here.

[2019-08-05 18:33] #56 closed

[2019-08-05 18:37] ryelle commented on #74
I'm going to close this issue, I don't think we gain much by making this change at this time, but we could think about this for future blocks. Feel free to reopen if you disagree.

[2019-08-05 18:37] #74 closed

[2019-08-05 18:47] #102 closed

[2019-08-05 19:16] ryelle opened #190 "Blocks + Post Types: Post type content is added to block content"
If you add a session block to a speaker, the extra content that is hooked onto `the_content` (avatar, session name) are also added to the content of the block itself, creating this odd nested display.

![Screen Shot 2019-08-05 at 3 05 38 PM](https://user-images.githubusercontent.com/541093/62488985-9e92b100-b793-11e9-9299-0a4c5562f989.png)

The same thing happens with Speaker blocks on session pag

[2019-08-05 20:16] ryelle opened #191 "Session Block: Show sessions on a given date"
It's possible to show the sessions on a given day with the shortcode, we could allow that option in the blocks as well.

Maybe as a separate selection from the complex dropdown? Either a set of buttons or a plain dropdown with just the days that sessions are currently scheduled for, like

- Friday, May 3rd
- Saturday, May 4th
- Sunday, May 5th

Or maybe as a calendar input?

[2019-08-05 20:25] ryelle opened #192 "Sessions Block: Order by date/time uses different order on front & back end"
When multiple sessions are at the same time, the sort order falls back to different metrics on the front and back end, which means the preview isn't technically accurate.

For example, all 4 of these sessions are at 10:10am, but "Playing Ball with Plugins" is first in the editor, and 3rd on the frontend.

<img width="595" alt="Screen Shot 2019-08-05 at 4 20 50 PM" src="https://user-images.githubus

[2019-08-05 23:16] coreymckrill commented on #159
Works for me.

[2019-08-06 00:43] coreymckrill commented on #191
I tried to implement something like this for the sessions block a while back and ran into some issues. I don't remember them all, but I recall that one complication was how timezone came into play when determining which day a given session should be associated with.

[2019-08-06 14:58] #179 closed, assigned to ryelle

[2019-08-06 15:03] ryelle commented on #62
Everything listed here has now been addressed 🎉  Closing out this issue, any other block UI/design bugs should be opened as new issues.

[2019-08-06 15:03] #62 closed

[2019-08-06 17:21] #141 closed, assigned to ryelle

[2019-08-06 17:22] #192 closed, assigned to nobody

[2019-08-06 18:26] ryelle commented on #190
A few things that won't work:

- Checking `$post->post_type`, the global post object isn't overwritten by the block's `get_posts`
- Checking the types on wp_query (it already does this)
- Removing the filter hook in the function, the block's `the_content` fires before the containing speaker's `the_content`

Sticking to just the excerpt on post type pages does not add the extra content, so maybe th

[2019-08-06 20:45] iandunn opened #195 "Replace `rememo` with `React.memo` ?"
React v16.6 [added a memoizer](https://reactjs.org/blog/2018/10/23/react-v-16-6.html#reactmemo), so we may be able to remove the `rememo` dependency and switch to that instead.

We'll need to check if Core has upgraded to 16.6 and exposed the function, and also if it'll suit our needs, or if there's some functionality of `rememo` that it doesn't provide.

[2019-08-06 22:24] ryelle opened #196 "PWA: Override `short_name` in manifest with more descriptive name"
The `short_name` is generated by the PWA plugin as the first 12 characters of the site name. So for WordCamps, it's almost always going to be "WordCamp". This is used in a few different places- on the install prompt, for the app name, on the "App Info" screen, etc.

We can override the manifest with the `web_app_manifest` filter, so let's add our own short_name - maybe we can get the WC Hashtag fr

[2019-08-06 22:30] ryelle opened #197 "PWA: Add way for organizers to set a color"
In the manifest, there is `background_color` and `theme_color`. The `background_color` setting controls [the splash screen](https://developers.google.com/web/fundamentals/web-app-manifest/#splash-screen) background, while the `theme_color` controls the UI (toolbar etc).

These are pulled from theme support for `theme-color` & `custom-background`. Currently no WordCamp theme provides `theme-color`,

[2019-08-06 22:32] ryelle opened #198 "PWA: Investigate "feeling slow" on mid-level phone"

[2019-08-06 22:52] ryelle opened #199 "PWA: Pre-cache "important" pages"
Aside from the homepage, how do we decide what's "important"? Can't rely on default pages, for example ["Accessibility"](https://2019.us.wordcamp.org/info/accessibility/) is important but not a default page.

The offline template will contain some basic info, but probably not everything. On the other hand, we don't want to waste space with duplicated content.

- We could add a `service-worker-prec

[2019-08-06 23:01] ryelle commented on #129
Responding to some of the comments from that file so I can get a better handle on the tasks:

According to [the criteria for showing the install badge,](https://developers.google.com/web/fundamentals/app-install-banners/#criteria) this is because we've added a manifest. I think it's fine– it's just like a "bookmark" to the site while you're online, and of course if you're offline we want the UX to

[2019-08-07 12:40] NewYorkerLaura commented on #180
This affects me a lot. It takes up considerable volunteer hours to explain to folks how to do this.  This doesn't count the hours I spend saying your Gravatar isn't connect to the email you gave me and they can't figure out what email it's connected to. And are annoyed that I can't override this. Some of these folks are CEO's of businesses that contribute major sums to the program, or are involved

[2019-08-07 14:28] ryelle opened #200 "PWA: Add caching for remote CSS"
Remote CSS is loaded off an admin-ajax endpoint and doesn't use a `*.css` extension, so it's not being cached by the service worker right now. Since it's not cached, it's not loaded when the site is offline.

[2019-08-07 17:05] iandunn commented on #129
My concern is that it feels very intrusive, and is probably not wanted by most users in most cases, in the same way that [pop-up ads, newsletter subscription modals, etc](http://deathtobullshit.com) aren't.

I'd prefer to disable it until we're able to provide a solid set of PWA enhancements that will make it worth the user's time/energy/attention. Even then, I'd prefer to do it in a way that feel

[2019-08-07 19:15] coreymckrill commented on #190
What about adding a feature flag for the content that is currently appended via `the_content`, and not add it anymore going forward? Instead we could add custom block templates for post types so that, e.g. Speaker posts start with a paragraph and a session block (but then of course they can be edited, rearranged, etc.)

[2019-08-07 19:38] ryelle opened #201 "PWA: Add method for visitors to save pages for offline viewing"
See https://chrisruppel.com/blog/service-worker-offline-content/

Currently all visited pages are cached (or they should be), up to 50 pages, but the user has no control over which specific pages are cached. We could add a "Save for offline viewing" button to allow users to intentionally download some content. It should probably use a separate cache bucket than the navigation cache so navigation d

[2019-08-07 19:43] ryelle commented on #129
I mean, it does what it says it does - adds it as an app to the home screen. I don't use browser bookmarks on a mobile browser (TBH i don't really use bookmarks, period). For WCEU, I added it to my home screen during the conference so I had the site easily accessible, and removed it after the conf was over. It was obviously just a browser to the website, but that was exactly what I wanted (since t

[2019-08-07 20:26] iandunn commented on #180
This reminds me of a similar discussion we had several years ago, about [whether or not we should require speakers to create WordPress.org accounts](https://make.wordpress.org/community/2017/03/02/requiring-wordcamp-speakers-to-have-a-wordpress-org-account/). The result of that is that we do require them in order to complete CFP forms.

It seems like that could mitigated by linking to documentatio

[2019-08-07 20:30] ryelle opened #202 "PWA Discussion: Caching strategy for navigation (pages a user navigates too)"
From [comment](https://github.com/WordPress/wordcamp.org/blob/b58e7e1847564765f3427cf622f0ea844a5891a3/public_html/wp-content/mu-plugins/service-worker-caching.php#L88)

Currently we cache pages a user navigates to automatically, up to 50 pages. We're using the `NetworkFirst` caching strategy which means it hits the network, and if it can't load from the network it loads the cached page.

An alter

[2019-08-07 20:30] iandunn commented on #197
This feels like a decisions-not-options thing to me. I can see default themes being updated to support it if the PWA plugin is merged to Core as well.

We could add theme support to our custom themes, though, although I'm not sure the Base ones are used often enough to warrant the time.

[2019-08-07 20:34] iandunn commented on #196
Ah, that's a good idea!

Maybe we could try `WC {Name}` first, and if that is `> 12` then we fall back to the hashtag? That may be more trouble than it's worth, though.

Related: https://github.com/xwp/pwa-wp/issues/200#issuecomment-515788791

[2019-08-07 20:38] ryelle commented on #196
Where does `Name` come from?

[2019-08-07 20:41] iandunn commented on #199
I like that idea.

🤔

On the one hand, it feels like bad UX to make organizers deal with raw postmeta fields.

On the other hand, it doesn't seem like a setting that people would change very often, so it also feels bad to clutter the admin with an extra option.

🤷‍♂

How would we programmatically detect that they didn't use the default page?

I'm guessing a warning on the offline template would ra

[2019-08-07 20:44] ryelle commented on #199
haha, it's your idea from the comments in the file, so is the "show warnings to admins" point.

Yeah, this is pretty universally awful. If we're asking organizers to touch this at all we should create a UI for it.

[2019-08-07 20:47] iandunn commented on #196
There's a `get_wordcamp_name()` helper that should provide it, although we'd have to regex out the "WordCamp" and "YYYY" part.

It'd probably be simpler to do something like this:

[code]

That might break down with some outliers, like `WordCamp for Publishers: Columbus` and `WordCamp Seattle: Experienced Edition`, though.

🤔

[2019-08-07 20:51] iandunn commented on #62
🎉 Great work!

[2019-08-07 21:00] ryelle opened #203 "PWA: Add caching for uploaded files"
File uploads are loaded from the `/files/` directory, while the service working is only caching `wp-content` or `wp-includes` assets.

Example URLs:

https://2019.europe.wordcamp.org/files/2019/06/blog-2-1024x512.jpg
https://2019.annarbor.wordcamp.org/files/2018/08/woocommerce_logo.png

Sites can also opt into Jetpack's CDN, so these might not be cached - I think it depends on CORS + cache setting

[2019-08-07 21:12] ryelle opened #204 "PWA Discussion: Caching configuration"
from [comments](https://github.com/WordPress/wordcamp.org/blob/b58e7e1847564765f3427cf622f0ea844a5891a3/public_html/wp-content/mu-plugins/service-worker-caching.php#L73-L84)

There are questions about how these caching methods work for site assets, if they're good defaults and how they work with expirations.

- Assets are limited to 60 entries and are set to invalidate after a day. Assets will be

[2019-08-07 21:23] westonruter commented on #201
Having a user-initiated Save Offline feature is something we considered demonstrating for the PWA plugin, but we haven't yet done so.

It's much easier to just cache a page that a user visits, since runtime caching will pick up all the assets that are referenced on the page. One workaround for that would be to load the page in a hidden iframe, which is what Surma did in his [Progressive WordPress]

[2019-08-07 21:25] westonruter commented on #129
Yes, this can be controlled now, by [calling `preventDefault()` on the `beforeinstallprompt` event](https://developers.google.com/web/fundamentals/app-install-banners/#preventing_the_mini-infobar_from_appearing).

Nevertheless, this mini-infobar should actually be [going away in favor of an install button that appears in the omnibox](https://developers.google.com/web/fundamentals/app-install-banne

[2019-08-07 21:33] westonruter commented on #196
Note that PWA plugin v0.3.0 no longer auto-generates the `short_name`: https://github.com/xwp/pwa-wp/pull/201

So it has to be supplied by the site now via the `web_app_manifest` filter.

What do you think of the PWA plugin adding a short name to be added alongside the Site Title in the general options screen? Like this:

![image](https://user-images.githubusercontent.com/134745/62659331-eb0af780-

[2019-08-07 21:36] westonruter commented on #198
Is it any slower than with the PWA plugin disabled?

Perhaps the answer here is rather to implement prefetching, like as provided by [Quicklink](https://github.com/GoogleChromeLabs/quicklink). There's also a [WordPress plugin](https://wordpress.org/plugins/quicklink/) for it.

[2019-08-07 21:47] ryelle opened #205 "Offline Template: Test with all themes"
Our supported themes are:

- [x] CampSite 2017
- [x] Twenty Thirteen
- [x] Twenty Sixteen
- [x] Twenty Seventeen
- [x] Twenty Nineteen
- [x] WordCamp Base

We should also test with custom CSS, and with remote CSS.

There's a note about testing with child themes, but WCs can't have child themes, so do we need to do this?

---

The rest we don't test with, but will fix issues on

- Twenty Ten
- Twen

[2019-08-07 21:49] westonruter commented on #199
A note on precaching: rather than using the actual precache, I suggest adding the desired pages to the runtime cache when the service worker is installed. Why? Resources in the actual precache are always served with a cache-first strategy; in order to get an update to the resource, the service worker has to be updated. This is currently makes it hard to access updates to the offline template, as @

[2019-08-07 21:52] westonruter commented on #202
Something to consider here would be to show a message like “A new version of the page is available” if an update happened in the background. See Workbox docs on that: https://developers.google.com/web/tools/workbox/modules/workbox-broadcast-cache-update

[2019-08-07 21:54] westonruter commented on #203
Photon URLs should be cacheable. To enable caching them, the only thing needed is to ensure the pattern matches the host in addition to the path. See docs here: https://developers.google.com/web/tools/workbox/modules/workbox-routing#how_to_register_a_regular_expression_route

[2019-08-07 21:56] westonruter commented on #205
See also https://github.com/xwp/pwa-wp/issues/199 where the PWA plugin could bundle offline templates for the core themes.

[2019-08-07 22:01] ryelle commented on #205
We would still want to inject our own, so we can show the schedule and other info related to the WordCamp.

[2019-08-07 22:07] westonruter commented on #205
Good point. At least we could share the same base, or the PWA templates could trigger an action for the WordCamp sites to inject the content. Nevertheless, the content could also be injected via script.

[2019-08-07 22:23] westonruter commented on #205
The need to inject content into the offline template is also something that PWA plugin isn't properly facilitating. Right now there is a [`wp_service_worker_error_message_placeholder()`](https://github.com/xwp/pwa-wp/blob/092902c4a2c335053b076956493d987fdc5b5f1b/wp-includes/template.php#L163-L168) function that the `offline.php` template is expected to include. Perhaps this function should do an a

[2019-08-08 13:52] NewYorkerLaura commented on #180
I hear what you are saying, but I strong disagree with what your perception is of how CEOs and their staff functions. I base this on decades of interaction with this type of clientele in the non-profit world.  Believe me, I don't like it, but it is what it is.

I think you'd find your words ironic if you knew which CEO  we perceptually wait weeks and months to receive information from that gridloc

[2019-08-08 14:49] ryelle commented on #205
I think the specifics would have to depend on how the the template itself works, we might still want to override the whole thing. For more "average user" cases, an action before & after `wp_service_worker_error_message_placeholder` sounds good (as does the wp.hooks suggestion, though I personally haven't used it as much).

[2019-08-08 17:19] ryelle opened #206 "Day of Event Template: Test with all themes"
Our supported themes are:

- [x] CampSite 2017
- [x] Twenty Thirteen
- [x] Twenty Sixteen
- [x] Twenty Seventeen
- [x] Twenty Nineteen
- [x] Twenty Twenty
- [x] WordCamp Base

---

The rest we don't test with, but will fix issues on

- Twenty Ten
- Twenty Eleven
- Twenty Twelve
- Twenty Fourteen
- Twenty Fifteen
- WordCamp Base Redux

[2019-08-08 17:26] ryelle opened #207 "PWA: Investigate API requests & caching"
This depends on the API response, but we are attempting to call 3 API endpoints every 60s. Right now this is mitigated by the service worker, so it's only passing through to the server every 15min.

[source](https://github.com/WordPress/wordcamp.org/blob/b58e7e1847564765f3427cf622f0ea844a5891a3/public_html/wp-content/mu-plugins/theme-templates/templates/day-of-event/src/components/main-controller.

[2019-08-08 18:44] westonruter commented on #207
The service worker gating requests to 15 minute intervals can be eliminated in favor of implementing conditional requests. If the REST API response includes a `Last-Modified` header (or `ETag`) then requests from the page can include a `If-Modified-Since` (or `If-None-Match`)  request header, allowing the REST API to respond with a `304 Not Modified` response, which would have no body, thus saving

[2019-08-09 16:17] iandunn opened #210 "Make sure Live Schedule markup matches Schedule block"
Once the Schedule block is done, we should evaluate the similarities, and ideally reuse code/markup for consistency & DRYness.

That'll also be important so that the custom CSS organizers apply to the Schedule block also applies to the Live Schedule.

[2019-08-13 16:30] iandunn commented on #206
I think we should _support_ all of the themes that we have installed, but in hindsight I don't think we need to _test_ this in all of the themes, since that feels like overkill.

The ones that you bolded seem like good ones, and also `WordCamp Base` because it still gets used a decent amount.

The same goes for #205

As an aside: we might want to disable `WordCamp Base Redux` for new sites, since

[2019-08-13 16:42] iandunn commented on #129
That's a good point, now that you mention that, I realize that I've done that myself at times.

I still don't feel like that's a compelling enough reason to justify an intrusive overlay, though.

That feels very intrusive to me, just as bad as a pop-up ad, a newsletter subscription modal, etc. It's all [BS](http://deathtobullshit.com/) that distracts me from the reason I visited the site in order

[2019-08-13 16:43] ryelle commented on #206
What would support mean, if we don't test this on all themes?

Maybe we should open an issue for that?

[2019-08-13 16:52] iandunn commented on #206
I think it'd mean that _if_ somebody opens a bug report, we'd fix it.

When it comes to testing, we always have to strike a balance between coverage and time cost. I don't think it's worth it to have 100% coverage in this case, since we can be 90% confident that it's working by just getting 30% coverage, and we'll save ourselves several hours that way. That extra 10% of confidence doesn't seem wor

[2019-08-13 16:56] iandunn commented on #198
IIRC it did feel significantly slower than loading a regular WordCamp site, but there could have been a lot of reasons for that, not necessarily caused by the PWA plugin.

[2019-08-13 17:06] iandunn commented on #191
The Schedule block will do that, so it could be useful here if we want to add it to other blocks as well.

That might be related to these:

https://github.com/WordPress/wordcamp.org/blob/5af6bb6/public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/schedule-grid.js#L132-L183

https://github.com/WordPress/wordcamp.org/blob/cb99e19/public_html/wp-content/mu-plugins/theme-templates/template

[2019-08-13 19:26] coreymckrill commented on #159
Thinking about this a bit more. Having the plugins and themes as dev dependencies also kind of screws things up for those of us who have the svn externals checked out. We need to run `composer install --no-dev` so that the externals don't get overwritten by the wpackagist versions of plugins and themes, but then it skips actual development tools like phpcs.

What if we added a second composer.json

[2019-08-14 18:52] ghost opened #638 "Profile activity: WordCamp year shown twice"
Imported from https://meta.trac.wordpress.org/ticket/4675
Created by @ePascalC:

As per picture, there is no need to add the WordCamp year if it is already present in the name.

[2019-08-14 18:53] ghost commented on #638
Comment by @ePascalC:
 * [Capture.PNG](https://meta.trac.wordpress.org/attachment/ticket/4675/Capture.PNG) added

[2019-08-16 02:31] ghost commented on #662
[Comment](https://meta.trac.wordpress.org/ticket/4056#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by donmhico. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1565922700109300)._

[2019-08-16 03:50] ghost commented on #662
Comment by [@donmhico](https://profiles.wordpress.org/donmhico/):
 * [fixed-ss.png](https://meta.trac.wordpress.org/attachment/ticket/4056/fixed-ss.png) added

Since the files affected are in `camptix` plugin. I've created a PR in CampTix's GitHub. See - https://github.com/Automattic/camptix/pull/242

[2019-08-16 16:42] ryelle commented on #100
It looks like `withSelect` triggers the multiple renders– I tested using a basic block that added a counter on render. In this example, it only ran once:

[code]

But if I wrap it in the `withSelect`, copied from organizers, it jumps to 9 times.

[code]

If I comment out one of the `getEntities` calls, it drops to 6, and if I swap our call for a core data call, I still see 6 renders. I'm not going

[2019-08-19 16:15] ryelle commented on #199
Just a note that I'm taking this out of the initial version milestone – it's a good idea we should revisit, but for now the offline template will suffice, and site visitors should have the other pages they've visited cached.

[2019-08-19 17:52] ghost opened #639 "WordCamp: It should be easier to find out if you bought a ticket for a WordCamp"
Imported from https://meta.trac.wordpress.org/ticket/4690
Created by [@Ipstenu](https://profiles.wordpress.org/Ipstenu/):

While one can look at the attendees/speakers pages to see if you're listed, there's no way to find out if you already bought a ticket for a camp if you're NOT listed on the attendees page.

Even if I log in to wordcamp central, I don't see a list (though I do see some old WCSF

[2019-08-19 18:31] iandunn commented on #199
👍

[2019-08-19 18:32] iandunn commented on #159
That's a good point. If it's only used by Docker installs, then putting it in `.docker` and copying feels more appropriate to me.

[2019-08-21 01:45] westonruter commented on #196
Aside: The lack of a `short_name` is apparently making the WCEU site not able to prompt to Add to Homescreen:

![image (2)](https://user-images.githubusercontent.com/134745/63395976-64700480-c37a-11e9-9013-650dd166c793.png)

Supplying `WCEU 2019`  via the `web_app_manifest` filter will fix that in the short term:

[code]

[2019-08-21 16:22] ghost commented on #638
[Comment](https://meta.trac.wordpress.org/ticket/4675#comment:1) by [@coffee2code](https://profiles.wordpress.org/coffee2code/):

I believe this falls on the WordCamp side of things and may've just been a temporary situation based on WordCamp naming that has since been corrected (though that wouldn't "fix" the activity entries that had already been created).

The activity log strings for WordCamp

[2019-08-21 17:06] iandunn commented on #100
It seems like heartbeat requests also trigger re-renders every 30 seconds or whatever, even though no props have changed.

[2019-08-22 17:34] ghost commented on #595
[Comment](https://meta.trac.wordpress.org/ticket/3259#comment:13) by @iandunn:
 * Keywords set to `Needs Patch`

[2019-08-22 17:52] ghost commented on #573
[Comment](https://meta.trac.wordpress.org/ticket/3493#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1566496324168500)._

[2019-08-23 10:00] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:3) by @ePascalC:

Post on Community P2 : https://make.wordpress.org/community/2019/07/07/proposal-qr-code-for-wordcamp-badges/

[2019-08-23 10:05] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:4) by @ePascalC:

After discussion on slack #meta-wordcamp (starting from https://wordpress.slack.com/archives/C08M59V3P/p1566495258147700) the following steps were identified for Phase I:
1.1 Identify a QR code generator that is very popular, has unit tests, is actively maintained, etc
Something that gives a lot of signals that it won'

[2019-08-23 10:06] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by casiepa. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1566554765203900)._

[2019-08-23 14:28] #200 closed, assigned to nobody

[2019-08-28 03:27] ghost commented on #639
[Comment](https://meta.trac.wordpress.org/ticket/4690#comment:1) by @dd32:

How would this be tracked? By email address being the same as your account?
What about when a ticket is bought by an employer (as say, part of a sponsorship) and uses their Work email alias?

I question how much this is needed by "regular" users - checking ones email probably suffices for most people if they're not sure.

[2019-08-28 18:12] ghost commented on #639
[Comment](https://meta.trac.wordpress.org/ticket/4690#comment:2) by [@Ipstenu](https://profiles.wordpress.org/Ipstenu/):

If you didn't delete the email. Or didn't get it.

Yes. Isn't it already being tracked by that to generate the attendees page anyway? I thought it tracked by your WP ID though, so we could just use that.

[2019-08-29 22:08] coreymckrill commented on #121
I _think_ this is fully addressed by 4dad5ff. Closing, but feel free to reopen if you think there's more to do here.

[2019-08-29 22:08] #121 closed, assigned to nobody

[2019-08-29 22:11] iandunn opened #226 "Sessions: Start times are not saved with the correct timezone"
Currently we jump through some hoops to get the correct timezone:

https://github.com/WordPress/wordcamp.org/blob/cb99e19/public_html/wp-content/mu-plugins/theme-templates/templates/day-of-event/src/components/schedule.js#L42-L62

That's overly complicated, and I don't think it always works correctly, depending on which time zone is set.

We can simplify it to just using `gmdate()`, like the Sched

[2019-08-29 22:36] coreymckrill commented on #226
Not sure if this is relevant, since you're talking about JS, but there is a PHP timezone function coming to WP in 5.3:

https://core.trac.wordpress.org/changeset/45853

[2019-08-30 21:51] iandunn opened #227 "HTML entities in post titles are escaped instead of displayed"
<img width="1058" alt="Screen Shot 2019-08-30 at 2 50 18 PM" src="https://user-images.githubusercontent.com/484068/64053016-849b8280-cb35-11e9-99ff-03951a2052fa.png">

Maybe we need to use `RawHTML` like we do with post content? If so, we should probably rename the component to `DangerousItemTitle`.

[2019-09-02 08:14] ghost opened #640 "WordCamp CampTix invoices plugin"
Imported from https://meta.trac.wordpress.org/ticket/4710
Created by [@mxp](https://profiles.wordpress.org/mxp/):

Hi,

I've used Camptix Invoices for WordCamp.org plugin on our WordCamp Taipei 2019 site.

I didn't receive my order email after submits my ticket. And also the invoice does not support Chinese characters so I received the wrong encoded pdf file.

Btw, I've used different email in the

[2019-09-02 08:14] ghost commented on #640
Comment by [@mxp](https://profiles.wordpress.org/mxp/):
 * [1160-2-peFLFebPjwYQ.pdf](https://meta.trac.wordpress.org/attachment/ticket/4710/1160-2-peFLFebPjwYQ.pdf) added

[2019-09-02 23:24] coreymckrill opened #228 "Tooling: Improvements to pre-commit hook scripts and the process for setting them up"
From [this conversation](https://github.com/WordPress/wordcamp.org/pull/225#discussion_r319571232) it seems apparent that there are some improvements we could make to the pre-commit hooks so that all contributors can use them without too much hassle. Some ideas from that discussion:

* [ ] Install the necessary inspection tools (phpcs, etc.) via composer so that they are already available (this is

[2019-09-02 23:29] #159 closed, assigned to nobody

[2019-09-04 21:36] iandunn opened #231 "Disable `brace-style`, `semi`, `arrow-parens` to improve readability"
I've run into a few places where the default eslint rules feel like they make the code less readable to me:

### `arrow-parens`

Desired:

`data-wordcamp-schedule-session-tracks={ assignedTracks && assignedTracks.map( track => track.slug ) }`

Required:

`data-wordcamp-schedule-session-tracks={ assignedTracks && assignedTracks.map( ( track ) => track.slug ) }`

The extra parenthesis are not requir

[2019-09-05 17:41] iandunn opened #232 "Unmodular style.css files are difficult to work with"
For example:

https://github.com/WordPress/wordcamp.org/blob/62d83c4/public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/style.scss

That file has styles for the `ScheduleGrid`, `Sessions`, `Session`, and `InspectorControls` components, making it 300 lines long, and it will only get longer before the block is done. The styles are mostly unrelated to - and independent of - each other. W

[2019-09-05 17:46] iandunn opened #233 "Disable CSS `max-line-length`, `at-rule-empty-line-before`, `comment-empty-line-before`, and `function-parentheses-space-inside`"
For reference, you can look at this file, or run the linter on  `styles.css` in the `add/schedule-block` branch.

https://github.com/WordPress/wordcamp.org/blob/62d83c4/public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/style.scss

### max-line-length

I can't think of a good way to shorten lines like:

[code]

### at-rule-empty-line-before

I don't see any reason to add an empty line

[2019-09-06 18:37] ryelle opened #234 "Sponsor Block: Add option for sponsor link destination"
In the Sponsors shortcode, you could pick where the linked content would go: to the sponsor post type on the WordCamp site, or directly to the sponsor's website. You could also pick none, to remove the link.

If we add a setting for this and default it to the post permalink, there should be no back-compat issues (but we'll want to test this).

[2019-09-06 23:42] iandunn opened #235 "Let visitors know offline content is available"
What if we spend all this time adding offline content, but then visitors don't actually know it's available? I think the vast majority will assume that they can't access the content offline, so they won't even try, so we need some way to let them know it's available.

One way might be the "save offline" button [discussed](https://github.com/WordPress/wordcamp.org/issues/129#issuecomment-519185768)

[2019-09-09 04:22] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:6) by @dd32:

A few weeks back at WordCamp Brisbane, I ran a test of this using a QR code checkin based on the WordCamp attendance UI.

We ultimately used "FirstName LastName" as the QR code contents, for several reasons:
 - The existing UI searches by name, and as it supports exact-matching name searches it worked well
 - The QR code i

[2019-09-09 18:10] iandunn commented on #234
IIRC there was some disagreement related to this a few years ago. It's probably safe to continue doing anything the shortcode did, but it'd still be good to find that old discussion and review it before doing anything here, just to make sure we have all the context.

[2019-09-10 16:55] ryelle commented on #231
I'd prefer to keep `arrow-parens`, it does have a use- from the [eslint rule description,](https://eslint.org/docs/rules/arrow-parens) "Following this style will help you find arrow functions `=>` which may be mistakenly included in a condition when a comparison such as `>=` was the intent."

Regarding the second example, you don't need the braces: It can be `onChange={ ( isChecked ) => setAttribu

[2019-09-10 17:06] ryelle commented on #232
If you've got multiple components + styles, they should be broken into their own folders, for example, [`inspector-controls` is a folder](https://github.com/WordPress/wordcamp.org/tree/production/public_html/wp-content/mu-plugins/blocks/source/components/image) in `components/image`, with an `index.js` & `style.scss` "scoped" to that component.

So, rather than having

[code]

It should be

[code]

[2019-09-10 17:31] ryelle commented on #233
Why does it need to be that long in the first place? Part of this rule is to find issues like this, do we need to be this specific? Are we trying to go against a gutenberg pattern here? Maybe we should double check with a designer before overriding too much.

But, if you really need to get this specific, you could break this up a bit by nesting rules:

[code]

I think adding more space here makes

[2019-09-10 21:00] iandunn commented on #232
Ah, that makes sense, I'll play around with that, thanks!

[2019-09-10 21:00] #232 closed, assigned to nobody

[2019-09-16 08:06] markhowellsmead opened #237 "Improve "email me my favourite sessions" feature UX"
Feedback from event attendees shows that the interface is confusing. Several people didn't realise that they could (and had to) overwrite the placeholder email address in the form; even a couple of organisers asked me about it, as they'd expected their own email address to be pre-filled as they were logged-in to the site.

Happy to make a PR for changes if appropriate.

https://github.com/WordPres

[2019-09-16 12:58] markhowellsmead opened #238 "Track names not visible in mobile view"
I received feedback from WordCamp Zurich this weekend that the track names are missing in the mobile view. We worked around it using CSS pseudo classes but it would be good if we could get a solution into the standard tech. - hopefully in a new Schedule block for Gutenberg.

[2019-09-16 14:49] ryelle commented on #238
Bringing this in from slack, the issue for the shortcode is a bug– it should display above each session title, but a recent change broke this.

Should be:

<img width="436" alt="Screen Shot 2019-09-16 at 10 48 26 AM" src="https://user-images.githubusercontent.com/541093/64968076-8ff9e800-d86f-11e9-90b1-df7f850c0862.png">

The code that broke this:

https://github.com/WordPress/wordcamp.org/blob/88

[2019-09-16 16:01] markhowellsmead commented on #238
@ryelle Perhaps switch over to using `:after` instead of `:before`?

[2019-09-18 16:32] coreymckrill opened #239 "Coming Soon: <title> tag is added twice"
The Coming Soon template has the title tag hard-coded in the [document head](https://github.com/WordPress/wordcamp.org/blob/production/public_html/wp-content/plugins/wordcamp-coming-soon-page/views/template-coming-soon.php#L6):

[code]

But WordPress also adds the title tag via an action hooked to `wp_head`. This results in two title tags on the page when Coming Soon Mode is active.

[2019-09-18 22:46] coreymckrill commented on #238
Possibly related: https://meta.trac.wordpress.org/ticket/3044

[2019-09-18 22:49] coreymckrill commented on #237
Thanks @markhowellsmead. Were there any other things in the UX that people found confusing, or was it just the placeholder email address?

[2019-09-18 23:09] coreymckrill commented on #231
I agree with @ryelle, I think the defaults here are already the best options.

[2019-09-18 23:21] coreymckrill commented on #233
I agree with @ryelle here. Super long selectors might be code smell.

I agree with @iandunn here, I think forcing a space in some situations looks awkward. Generally I'm in favor of sticking with default/Core rules as much as possible, but I don't feel strongly about these ones.

I would prefer to stay consistent with Core here.

[2019-09-19 07:21] markhowellsmead commented on #237
The form is too big for small mobiles (360px), which could be improved.

[2019-09-19 14:57] ryelle commented on #180
Also reported on trac: https://meta.trac.wordpress.org/ticket/4734

[2019-09-23 18:44] iandunn commented on #237
99% of visitors won't be logged in, but pre-filling that for organizers would be pretty simple, so 🤷‍♂

+1 to adding a `required` attribute to the email field, so that the browser will warn people if they don't fill it in.

Do you know which devices it was too small on? It looks ok in my tests. It'd be helpful to know which site you're looking at too, since Custom CSS could be affecting it.

[2019-09-23 18:47] iandunn commented on #238
IIRC that may have been a known limitation of the way that the shortcode was made responsive, since it was originally built many years before RWD was common, and we needed to maintain back-compat when making it responsive.

Either way though, it doesn't seem worth fixing IMO, since we'll be deprecating the shortcode soon in favor of the block that's in development.

[2019-09-23 22:40] ryelle commented on #238
@coreymckrill It isn't related to that issue, this was a bug that I caused with the favorite button refactor. @iandunn Since I caused it recently, I think it's worth fixing. Especially given the updated schedule block timeline. (I think the ticket Corey referenced will be fixed with the new markup, though)

In any case, the PR is up #240 🙂

[2019-09-24 17:51] ghost commented on #622
[Comment](https://meta.trac.wordpress.org/ticket/4389#comment:6) by @coreymckrill:
 * Status set to `assigned`

The `register_block_style` PHP function introduced in WP 5.3 should make this easier:
https://make.wordpress.org/core/2019/09/24/new-block-apis-in-wordpress-5-3/

[2019-09-24 18:43] #238 closed, assigned to nobody

[2019-09-24 18:56] ryelle commented on #237
Looks too large on both Zurich and a blank twentythirteen site:

<img width="376" alt="Screen Shot 2019-09-24 at 2 51 42 PM" src="https://user-images.githubusercontent.com/541093/65541253-eeac0b00-deda-11e9-9d7f-22472499b822.png">

<img width="374" alt="Screen Shot 2019-09-24 at 2 52 18 PM" src="https://user-images.githubusercontent.com/541093/65541254-eeac0b00-deda-11e9-997c-9a0d06412d01.png">

I

[2019-09-24 19:05] ryelle commented on #237
There are also some accessibility issues with this feature (from [4247 on trac](https://meta.trac.wordpress.org/ticket/4247)):

- The mail/print/share option should be activated by a `<button>` for keyboard access, and needs a label (a visual label would be clearer than icons, too).
- The div with the mail/print/share option should be an accessible dialog modal
- The tab interface inside is not ke

[2019-09-25 18:08] #128 closed, assigned to nobody

[2019-09-25 21:22] iandunn commented on #202
I like the idea of showing a notice instead of trying to refresh automatically. If that's more trouble than it's worth for the beta release, though, then I don't think it's a high priority.

[2019-09-25 21:37] iandunn commented on #204
Looks like it was added in https://github.com/wceu/wordcamp-pwa-page/commit/b15ad18dd8bc6049f9a01b21b5b16fa3cb59e01d

Maybe it was to avoid traffic spikes that the server can't handle? It does seem a bit aggressive. @avillegasn, @westonruter - do you remember?

If that was the reason, then server-side caching would probably be more appropriate, but we should get that in place before disabling the

[2019-09-26 07:03] avillegasn commented on #204
AFAIK API requests were cached to avoid traffic spikes. In case you don't want to cache all endpoints, you could refine the first parameter [here](https://github.com/wceu/wordcamp-pwa-page/commit/b15ad18dd8bc6049f9a01b21b5b16fa3cb59e01d#diff-62d783a822970cb2a304342d34d38851R49) to be more specific instead of `/wp-json/.*`.

[2019-09-30 21:49] ryelle commented on #204
Is that because the API was repeated pinged by the Day Of Event template? That had 3 API requests per minute. In that case, we'll address that when we address #207 (probably as part of #243/#241, both still drafts).

If nginx is already caching tagregator, it sounds like once the other issues are taken care of we can remove the API caching.

[2019-09-30 23:44] westonruter commented on #204
The purpose was to prevent eating up the user's bandwidth with REST API calls, as I remember. So this was a short-term workaround for adding proper conditional requests in the REST API endpoint. Ideally the REST API response would include a `Last-Modified` header whose value the client would then send as part of a `If-Modified-Since` request header, allowing the server to respond with `304 Not Mod

[2019-10-01 15:55] iandunn opened #247 "Add security policy"
[Adding an GitHub-recognized policy](https://help.github.com/en/articles/adding-a-security-policy-to-your-repository) would help make it more obvious and standardized for reporters.

I think it should go in the `.github` folder to avoid cluttering the root. That'll be added by #194, but could be added first here as well.

I think we should leave the existing `Security` section in `/readme.md`, jus

[2019-10-02 07:41] DeveloperWil commented on #180
I understand the point of representing WordPress on the stage but Gravatar has nothing to do with WordPress. It is used by WordPress but it's not a core or a WordPress service. Asking a speaker to create a new account on a service they may never use ever again just because we can't update a picture on a WordCamp site makes us sound ridiculous and reflects badly on us. Those are my thoughts and I'd

[2019-10-03 10:10] mundschenk-at commented on #180
Also Gravatar comes with a lot of privacy issues (for site visitors as well es users).

[2019-10-03 15:32] ryelle opened #248 "Blocks: Image align-center broken on Twenty Twenty"
Both of these screenshots are meant to have the images centered:

<img width="1256" alt="Screen Shot 2019-10-03 at 11 27 00 AM" src="https://user-images.githubusercontent.com/541093/66141096-28fb6380-e5d1-11e9-8838-96fde2f24389.png">
<img width="600" alt="Screen Shot 2019-10-03 at 11 29 55 AM" src="https://user-images.githubusercontent.com/541093/66141099-28fb6380-e5d1-11e9-9bc4-4d2f11ae139a.png">

[2019-10-03 17:33] ryelle commented on #207
I like the idea of `If-Modified-Since`, but if I'm reading correctly it would still need to hit the server to get the modified time, so we'll probably want to have some extra server caching in place too.

@westonruter is there a difference between using `If-Modified-Since` vs an `ETag`? I see you've recommended both/either, but TBH I'm not sure if there's a reason to choose one over the other.

[2019-10-03 17:56] westonruter commented on #207
That's a good question. It seems that `ETag` conditions override `Last-Modified` conditions. Per [docs on `If-Modified-Since`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since):

See also relevant discussions on https://core.trac.wordpress.org/ticket/47676 namely it is easier to ensure generate a reliable `ETag` generally versus `Last-Modified`, since with `Last-Modified

[2019-10-03 18:13] ryelle commented on #207
Thanks for explaining that, I think I have a better idea how this all works now :)

We only have 3 places that would support being cached by the service worker– tagregator, the live schedule block (session endpoints), and the manifest itself. Of those, tagregator & the live schedule should update as frequently as we set in their code, restricting those to only 15min breaks expectations somewhat. T

[2019-10-03 18:16] ryelle commented on #204
Some housekeeping, since there's a lot going on in this description…

- Asset caching is updated in #244, with support for uploads & photon CDN'd files.
- Custom CSS has just been added to the regular assets cache.
- API requests caching can be discussed in #207.
- Navigation cache can be discussed in #202.

Once #244  is merged, this can be closed, since the other topics are in other issues now.

[2019-10-03 18:24] westonruter commented on #202
The `NetworkFirst` strategy is the safest option, at the price of some additional latency. But you'll never get a stale page if you are truly connected to the internet. If you aren't connected to the internet, then you'll likely get served the cached page quickly. The biggest painpoint would be users with very-slow connectivity where they are technically connected but timeouts cause more latency t

[2019-10-03 18:27] ryelle commented on #202
Yeah, the idea is that we're optimizing for folks who are probably on slow conference wifi or maybe poor data connections - which is why I went with `StaleWhileRevalidate` in #246.

[2019-10-04 16:29] #203 closed, assigned to nobody

[2019-10-04 16:40] ryelle commented on #202
Closed with #246.

[2019-10-04 16:40] #202 closed, assigned to nobody

[2019-10-04 16:40] #204 closed, assigned to nobody

[2019-10-04 17:29] iandunn opened #249 "Cloned CSS doesn't appear until after refresh"
If you clone another site, the CSS from that site doesn't show up in the Additional CSS panel immediately, you have to refresh the see it.

That can lead to confusion if an organizer browses to the Additional CSS panel without refreshing, since they expect to see the CSS there. If they add CSS without refreshing, it'll wipe out the cloned see.

x-ref: https://wordpress.slack.com/archives/C08M59V3P

[2019-10-06 15:42] iandunn commented on #249
When testing, make sure that the Additional CSS is empty for the specific theme you're going to clone. Otherwise the CSS from the previous clone will appear and you won't notice the bug.

[2019-10-07 03:59] ghost opened #641 "Add city@wordcamp dot org as a recipient of invoice emails"
Imported from https://meta.trac.wordpress.org/ticket/4757
Created by [@Nao](https://profiles.wordpress.org/Nao/):

Currently, city[@wordcamp](https://profiles.wordpress.org/wordcamp/) dot org does not receive invoice related emails.

1) Sponsor/vendor invoice PDFs are sent to the author of the invoice.
2) Alert emails (e.g. Pending invoice) are sent to the author & main organizer.

I think it's be

[2019-10-07 04:17] ghost commented on #641
[Comment](https://meta.trac.wordpress.org/ticket/4757#comment:1) by [@Kenshino](https://profiles.wordpress.org/Kenshino/):

I think a better fix should be a field in settings that determines which emails get notified.

In small WordCamps usually it's one personal creating the invoice so it's all good. In flagship ones, we might use a separate sponsor email. (We are in WordCamp Asia) So notifying t

[2019-10-10 21:19] iandunn opened #252 "Required checkbox fields don't have browser validation"
All CampTix question types have set the `required` attribute on fields when the corresponding admin checkbox is enabled, except for the `Checkbox` type. HTML doesn't support a way to say that "at least one of this group of checkboxes should is required."

https://stackoverflow.com/questions/6218494/using-the-html5-required-attribute-for-a-group-of-checkboxes

If an attendee misses a checkbox group

[2019-10-10 22:01] iandunn commented on #233
IIRC that specificity was necessary to override some Core rules, but I like your idea of using nesting to make it more readable.

[2019-10-10 22:01] #233 closed, assigned to nobody

[2019-10-10 22:01] iandunn commented on #231
👍

[2019-10-10 22:01] #231 closed, assigned to nobody

[2019-10-11 20:47] #127 closed, assigned to nobody

[2019-10-12 00:43] iandunn commented on #207
Related: https://make.wordpress.org/core/2019/10/10/filtering-nested-rest-response-_fields-in-wp-5-3/

WFM, just make sure to add the server-layer caching first.

[2019-10-13 10:47] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:7) by @ePascalC:

@dd32 Thanks a lot for the testing, it for sure brings some nice extra info to think of!
I had been thinking this weekend a bit further after I passed registration at WordCamp Verona: How about adding a .pkpass as attachment? Saving that to your iPhone Wallet (or any existing tool on Android, I'm using e.g. Stocard to

[2019-10-14 01:39] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:7.8) by @dd32:

Replying to [@ePascalC](https://profiles.wordpress.org/ePascalC/):

That sounds interesting - As an Android user I have never actually seen a `.pkpass` file though, It seems I have a single email from an EU airline in 2016 which attached that and a PNG QR code. Maybe a "Add to wallet" link below it that downloads it woul

[2019-10-17 17:03] ghost commented on #573
[Comment](https://meta.trac.wordpress.org/ticket/3493#comment:7) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1571331788038900)._

[2019-10-17 17:18] ghost commented on #573
[Comment](https://meta.trac.wordpress.org/ticket/3493#comment:8) by @iandunn:

Discussed in the bug scrub. Overall it looks good, thanks! A few minor changes that'd be helpful:

* Remove the opacity to avoid a11y concerns
* Remove `add_action( 'init', __NAMESPACE__ . '\hide_empty_tickets' );` since the function was removed
* Escape translated strings

[2019-10-22 17:08] iandunn opened #254 "Add contextual info to blocks for styling"
To help organizers write custom CSS, I think we should add contextual information to block markup via `data-` attributes.

For example, a camp might want to make Gold-level sponsor logos larger than Bronze-level sponsor logos. Right now, when only a specific level of sponsors are shown, the container is:

[code]

...and I think we should change it to:

[code]

Similarly, regardless of whether the

[2019-10-23 15:05] ryelle commented on #254
Good idea to add the level info, but if the idea is to help organizers write more specific CSS, why not use classes?

[code]

So now this can easily be targeted with `.wordcamp-sponsors.is-level-gold {}`, and individual sponsors don't need the info since they can be targeted with `.is-level-gold .wordcamp-sponsor {}`.

[2019-10-23 16:32] iandunn commented on #254
Data attributes feel more correct to me because the contextual info feels more like data about the element, rather than something that's more presentational like most classes. Targeting w/ data selectors is easy as well.

I'm happy w/ either approach, though.

[2019-10-30 04:28] dd32 opened #255 "Invoices: Filling in the Address with a space causes an email without an attachment"
When using the Invoices plugin, if you fill in the Address field with a space (Indicating "I don't care about the address") it fails to generate an invoice.

The CPT is created as a draft and an email is sent with `As requested during your purchase, please find attached an invoice for your tickets to "%s".` but has no attachment.

What I expected:
1. Checkout to fail requesting I fill in the requi

[2019-10-30 12:04] ghost opened #575 "Add Yoast SEO to WordCamp sites"
Imported from https://meta.trac.wordpress.org/ticket/4803
Created by @jono-alderson:

Following discussions in #meta-wordcamp, we'd like to add Yoast SEO (Premium) to WordCamp sites.

This will provide tooling to help with day-to-day management, and help to address some of the serious SEO challenges the sites face (as well as adhering a bit better to SEO best practice).

For example:
- Redirecting

[2019-10-30 13:10] ghost commented on #575
[Comment](https://meta.trac.wordpress.org/ticket/4803#comment:1) by [@nukaga](https://profiles.wordpress.org/nukaga/):

About discussion at #meta-wordcamp.
At the beginning of the discussion, we had an issue that Google search for “WordCamp cityname” does not show the 2019 site homepage. The 2018 website will be displayed at the top of the search results.
It seems to the same issue on many WordCam

[2019-10-30 17:30] ghost commented on #596
[Comment](https://meta.trac.wordpress.org/ticket/3277#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #community-events by casiepa. [View the logs](https://wordpress.slack.com/archives/community-events/p1572456627276200)._

[2019-10-30 17:43] ghost commented on #596
[Comment](https://meta.trac.wordpress.org/ticket/3277#comment:10) by [@wpfangirl](https://profiles.wordpress.org/wpfangirl/):

I just led the Speaker Training & Diversity Outreach at my meetup and it would be great to have this feature as a companion. We're encouraging people to speak at WordCamps, but unless they are already subscribed to updates from a specific WordCamp, they'll have trouble fin

[2019-10-31 16:27] ryelle opened #257 "Blocks: Update packages to fix failing tests"
It looks like as of Oct 21st, node's current lts release is `12.13.0`. This is what travis installs, and then it installs our packages– but our version of node-sass isn't compatible with node 12+, so all our tests are failing at install.

Since we've decided to use `lts/*` in `.nvmrc`, let's bump our packages up to fix this.

[2019-10-31 17:08] ryelle opened #259 "Day of Template: campsite theme widgets are not used"
The new "global" day of template overrides the campsite day-of template, but doesn't use the "Day Of" widget areas.

Maybe we can un-register those widget areas for sites that use the global template.

[2019-10-31 22:42] iandunn opened #260 "Live Schedule block ignores sessions that aren't assigned to tracks"
Single-track camps usually don't bother creating a formal track, and it's implied that all of the published sessions are in the "main" (only) track.

For those camps, the block will incorrectly say that there aren't any sessions happening today.

[2019-11-01 21:25] ryelle opened #261 "Live Schedule block: Collapse sessions across multiple tracks into one row"
When a sessions spans multiple tracks, like lunch, breaks, or the afterparty, could we collapse this down into one row?

Currently it repeats the session for every track:

<img width="669" alt="Screen Shot 2019-11-01 at 4 19 46 PM" src="https://user-images.githubusercontent.com/541093/68057394-bc54b100-fcc3-11e9-833a-93d405a4cac0.png">

[2019-11-03 16:41] CdrMarks opened #262 "Automatically set a session date"
When organizers are creating WordCamp sessions, the date and time defaults to today.  Proposing two new default values for a new session:
* If the WordCamp has no other sessions, use the WordCamp start date.
* If the WordCamp has other sessions, use the most recently edited session's date and time.

[2019-11-03 16:47] #257 closed, assigned to ryelle

[2019-11-03 17:03] terriann opened #264 "Central: Twitter handles and hashtags no input checks"
WordPress.tv wants to use the twitter handles and hashtags from the central.wordcamp.org API to be able to warn WordCamps when their videos are online on WPTV and/or YouTube.
There currently seems no restriction on these fields as e.g. the twitter handle could be anything like 'https://twitter.com/WCeurope', '@WCeurope' or 'WCeurope'.

The most easy would probably to check for the first character

[2019-11-03 17:09] coreymckrill opened #265 "Budgets: Copy Previous Year's Budget (or Export/Import Line Items)"
Copied from [4003-meta](https://meta.trac.wordpress.org/ticket/4003):

[2019-11-03 17:44] #264 closed, assigned to nobody

[2019-11-03 19:29] #262 closed, assigned to nobody

[2019-11-03 19:39] terriann opened #268 "Make text fields resizable in the application pages of central"
I have been spending a bit of time in central.wordcamp.org, in the Meetup tracker section, to vet new applications.
The Text Fields is resizable only in length but not in width, so it’s a bit heard to read/write
Is it possible to allow resizing on both dimensions?
Thanks

---

This is the description of the issue:
https://meta.trac.wordpress.org/attachment/ticket/3915/Kapture%202019-04-05%20at%201

[2019-11-03 20:20] terriann commented on #268
My pull request includes resizing for all textareas in metaboxes for both the WordCamp and Meetup post types in the spirit of the original request.

[2019-11-03 21:41] iandunn opened #270 "Jetpack doesn't connect to WPCOM automatically anymore"
Sites used to connect automatically, but something changed and it stopped working, so we removed it in 93cd52faad798262bbcba374254dbfa14af5b744.

@WPprodigy pointed out that Jetpack has a new way to do this which we could setup, and then we wouldn't have to manually connect anymore.

https://jetpack.com/for/hosts/jetpack-start-api/

https://github.com/Automattic/vip-go-mu-plugins/tree/master/vip-j

[2019-11-03 22:03] iandunn commented on #265
🤔 Maybe it should be part of the Site Cloner?

That's probably a different use case, though, so a separate button in the UI would probably make more sense.

[2019-11-03 22:07] terriann commented on #239
A solution discussed with @coreymckrill at WCUS 2019 contributor day is to use [get_theme_support( 'title-tag' )](https://developer.wordpress.org/reference/functions/get_theme_support/) to see if the activated theme does not support `title-tag`, in which case the plugin should output the title HTML tag.

[2019-11-03 22:14] #268 closed, assigned to nobody

[2019-11-03 22:18] CdrMarks opened #271 "Disable Jetpack follow blog email notifications"
The Helpscout account for Central receives an email each time someone suscribes to a camp via Jetpack.

The default setting for WordCamp.org sites connected to the Central Jetpack account is to email the site owner each time someone follows any camp's blog.  Due to https://github.com/Automattic/jetpack/issues/13949, this setting cannot be managed right now.

Proposing on `admin_init`, set 'social_

[2019-11-03 22:25] coreymckrill commented on #265
I think it would make sense to limit the import to previous camps from the same city.

[2019-11-05 22:13] #271 closed, assigned to nobody

[2019-11-06 01:06] #239 closed, assigned to nobody

[2019-11-06 18:44] coreymckrill opened #275 "WCPT: Add application question and fields for KidsCamp"
Application question:

* Are you planning to hold a KidsCamp?

WordCamp postmeta fields:

* Includes KidsCamp (checkbox)
* Date
* Location
* ? TBD

Answering "Yes" to the question in the application would cause the `Includes KidsCamp` box to be checked when the WordCamp post is created.

Checking the `Includes KidsCamp` box would reveal the other related fields.

[2019-11-06 18:46] coreymckrill opened #276 "WCPT: Add application question for Contributor Day"
The WordCamp post type already includes fields for Contributor Days. This would add a question to the application, that if answered as "Yes", would cause the Contributor Day fields to start as activated when the post is created.

Similar to #275

[2019-11-10 20:09] CdrMarks opened #278 "End support for WordCamp via WordPress.org meta network?"
The [Meta SVN repository](http://meta.svn.wordpress.org/sites/trunk/wordpress.org/) for wordcamp.org is no longer being updated.  Should the option to develop wordcamp.org via the VVV and the WordPress.org meta network be removed from the Setup section of the [readme.md](https://github.com/WordPress/wordcamp.org/blob/production/readme.md) file?

[2019-11-11 20:33] ryelle opened #279 "Live Schedule block: Add option to display specific track(s)"
When embedding a Live Schedule block, I might want to only show a single track – for example, on a livestream page.

Could allow for picking multiple tracks, too?

We might want to change how we mock display the "live preview" to better reflect the chosen content.

[2019-11-13 04:14] CdrMarks opened #280 "CampTix: Notify: Can't send notification message to just people that attended WordCamp"
_Copied from Meta Trac [#4641](https://meta.trac.wordpress.org/ticket/4641)._

Under CampTix Tools, the notify feature is very helpful. However, it would be especially helpful if we could filter by people that were marked as attended. It's annoying (and annoying to them) to send follow-up surveys to everyone that bought a ticket, instead of just those that attended.

[2019-11-13 04:28] CdrMarks commented on #280
I saw this conversation in [Slack ](https://wordpress.slack.com/archives/C02RQC7RN/p1573581038399800)today and looked into how this can be done.  Looks pretty straight forward.

[2019-11-13 23:30] coreymckrill opened #282 "Payments: Add status "Uncollectable" for Sponsor Invoices"
For accounting and Quickbooks-connection reasons, we need a status for Sponsor Invoices that indicates that we're writing off the invoice as "uncollectable."

[2019-11-14 00:12] coreymckrill opened #283 "QBO: Create OAuth2 authentication flow in network admin"
Similar to the current OAuth v1 flow, there is a required step where a user must be redirected to the QBO website to login and consent, and then get redirected back to our app. However, for v2 the process is a bit different behind the scenes, so we'll build it out separately, rather than refactoring the v1 code. In our v1 app the redirection flow happens on the WordCamp Central site, but since the

[2019-11-14 00:13] coreymckrill opened #284 "QBO: Use OAuth2 access token in API requests"
This should refactor all of our requests to the QBO API to use the OAuth2 access token. It also needs to take into account that access tokens expire after an hour, and thus need to be refreshed without interrupting API operations.

Depends on the resolution of #283

[2019-11-19 21:27] bahiirwa opened #286 "Post type blocks: Add random sorting/filtering"
Having a mix up for the speakers every time someone visits the page, adds flavor. Just wondering if this could be considered.

[2019-11-20 01:49] #283 closed, assigned to coreymckrill

[2019-11-21 13:27] ghost commented on #575
[Comment](https://meta.trac.wordpress.org/ticket/4803#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by jonoaldersonwp. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1574342839181400)._

[2019-11-22 15:28] ryelle opened #287 "Network: Use site meta for flagging sites as beta or testing"
I saw the improvements to [the network sites screen in 5.3,](https://make.wordpress.org/core/2019/10/15/enhancements-to-the-network-sites-screen-in-wordpress-5-3/) which lead me to [this addition of site meta in 5.1…](https://make.wordpress.org/core/2019/01/28/multisite-support-for-site-metadata-in-5-1/) which all got me thinking about how we flag testing & beta sites. Right now we use functions w

[2019-11-26 01:24] coreymckrill commented on #287
I think this idea is worth exploring. There are a lot of possibilities for us with site meta. For example, we could also sync values from the WordCamp posts' postmeta on WC Central (e.g. `Start Date`) to the site meta for the site, and then we could eliminate a bunch of lines of code where we have to use `switch_to_blog` to go to Central and retrieve certain data.

[2019-11-26 16:07] davidperezgar opened #289 "Show in Attendance UI If it's Speaker, Volunteer or Assistance"
Nice feature Attendance UI, but it would be very helpful to see which kind of attendance is. Sometimes Speakers and Volunteers have different Swag.

Thanks!

[2019-11-26 16:49] ryelle commented on #289
If you use "Admin Flags" for marking these groups, that will show up on the attendance UI page. For example, you can see my ticket is marked as "Organizer" here:

<img width="301" alt="Screen Shot 2019-11-26 at 11 46 17 AM" src="https://user-images.githubusercontent.com/541093/69654330-97452b00-1042-11ea-94c3-43aea4693f76.png">

You can find the Admin Flags settings in Tickets > Setup > Admin Flag

[2019-11-27 07:47] davidperezgar commented on #289
Hello @ryelle !
I think in our WordCamp Granada we have everything set, but it does not show. I don't know if it something is missing...

![IMG_4434](https://user-images.githubusercontent.com/10096360/69719705-5bc56200-1111-11ea-920b-54c3badd566f.PNG)

[2019-11-27 07:52] davidperezgar opened #290 "Enable order by Coupon in Attendee admin"
In order to use admin flags, is useful to use the column coupon to sort them and then clic to admin flags.

In WordCamps the most of coupons are useful to use admin flags. For example: volunteer, speaker, sponsor or student.

I mean in this url: /wp-admin/edit.php?post_type=tix_attendee

Thanks!

[2019-12-02 17:59] ryelle commented on #290
@davidperezgar You can click the coupon name in the Coupon column to only show you people who used that coupon, or you can search the attendees by coupon name. Is there a reason that sorting would be more helpful?

![Screen Shot 2019-12-02 at 12 57 05 PM](https://user-images.githubusercontent.com/541093/69982862-6e6ddb80-1503-11ea-98ef-6a369253715b.png)

[2019-12-02 18:04] ryelle commented on #289
Hi @davidperezgar – Did this end up working for your WordCamp? I see it was last weekend, I hope it went well!

[2019-12-05 13:08] davidperezgar commented on #289
Hello @ryelle ! Everything was fine! The attendance UI works smoothly and it showed the admin flags! Thanks!

[2019-12-05 13:08] #289 closed, assigned to nobody

[2019-12-05 16:06] #282 closed, assigned to ryelle

[2019-12-06 19:22] mauteri opened #293 "TwentyTwenty SmoothScrolling issue with CampTix"
Posted this in #meta-wordcamp and in Trac https://core.trac.wordpress.org/ticket/48763#comment:17

Issue related to SmoothScrolling... I noticed this with our WordCamp site using the new Twenty Twenty theme with CampTix plugin.

When you sign up and receive your WordCamp ticket, you are sent an email with "Edit Information" from what you provided. That link looks something like this...

https://20

[2019-12-06 19:36] ghost opened #642 "Add id to organizer block"
Imported from https://meta.trac.wordpress.org/ticket/4893
Created by @ePascalC:

WordCamps create an organizer page (e.g. [but from some others pages it's nice to be able to link directly to an organizer (e.g. [https://2020.europe.wordcamp.org/organisers#org-pascal-casier](https://2020.europe.wordcamp.org/organisers/]),))

Proposal is to change
```<div class="wordcamp-organizer wordcamp-organizers

[2019-12-07 12:53] mauteri commented on #293
This looks like it will be fixed in this trac ticket. The patch is moving smooth scrolling from JS to CSS. https://core.trac.wordpress.org/ticket/48763

[2019-12-07 16:31] ghost commented on #642
[Comment](https://meta.trac.wordpress.org/ticket/4893#comment:1) by [@vdwijngaert](https://profiles.wordpress.org/vdwijngaert/):
 * Keywords set to `Has Patch`

Well, seems simple enough, and it sure has its uses. I created a pull request in the WordCamp Github repository: https://github.com/WordPress/wordcamp.org/pull/294.

Apologies if this isn't the normal way of things, just trying to help out

[2019-12-07 17:56] ghost commented on #642
[Comment](https://meta.trac.wordpress.org/ticket/4893#comment:2) by @ryelle:

Hi [@vdwijngaert](https://profiles.wordpress.org/vdwijngaert/) & @ePascalC — since the blocks can be used multiple times on a page, having IDs on the block content can cause invalid HTML. See [\[779\]](http://meta.trac.wordpress.org/changeset/779), when speaker IDs were deprecated.

You could use anchor links on each hea

[2019-12-07 18:38] ryelle commented on #293
I've added the `do-not-scroll` class to these edit links in https://github.com/WordPress/wordcamp.org/commit/3644a9689466fbdf4f58ee74b85df40a3936d0ee — this creates a work-around so that these links work now, and can be removed once the theme itself is fixed.

I'm going to leave this issue open so we remember to remove the workaround when we can.

[2019-12-08 01:19] mauteri commented on #293
Confirmed working. Thanks Ryelle!

[2019-12-08 11:21] ghost commented on #642
[Comment](https://meta.trac.wordpress.org/ticket/4893#comment:3) by @ePascalC:

Hi @ryelle

I had first checked indeed if there were any archive/single pages for organisers but it seems those are not active. That might be the best way to go as pointing to the teams is not what we wanted to do AND not all WordCamps are probably creating teams.

So if the single pages can be activated, that would be

[2019-12-09 21:19] #284 closed, assigned to coreymckrill

[2019-12-10 08:09] davidperezgar commented on #290
Ok! Thanks!

[2019-12-10 08:09] #290 closed, assigned to nobody

[2019-12-10 21:06] coreymckrill opened #295 "Meetup Tracker: Add "cancelled" status"
Adding a "cancelled" status will help differentiate between meetup applications that were actively declined by a meetup vetter and applications where the applicant withdrew or became unresponsive after submitting the application.

[2019-12-11 19:33] #295 closed, assigned to nobody

[2019-12-12 18:48] ryelle opened #297 "Payments: Send a receipt email after sponsor payment"
We currently don't send any email receipt after sponsors pay the invoice via stripe on the [Sponsorship Payment](https://central.wordcamp.org/sponsorship-payment/) page. Stripe will send a receipt if we pass [a `receipt_email` to the charge API call.](https://stripe.com/docs/receipts#receipts-charges)

We need to get the email (maybe via the stripe popup), and pass that through to the charge call.

[2019-12-13 20:09] #297 closed, assigned to ryelle

[2019-12-13 22:50] #293 closed, assigned to ryelle

[2019-12-16 10:44] ghost opened #643 "Central WordCamp - WordCamp Organizer Application for is not mobile friendly"
Imported from https://meta.trac.wordpress.org/ticket/4912
Created by @ankitpanchal7:

On Central WordCamp website

https://central.wordcamp.org/wordcamp-organizer-application/

WordCamp Organizer Application form is not showing properly on small screen devices like mobile devices.

Please, refer to attached screenshots.

[2019-12-16 10:44] ghost commented on #643
Comment by @ankitpanchal7:
 * [1.jpg](https://meta.trac.wordpress.org/attachment/ticket/4912/1.jpg) added

[2019-12-16 10:45] ghost commented on #643
Comment by @ankitpanchal7:
 * [2.jpg](https://meta.trac.wordpress.org/attachment/ticket/4912/2.jpg) added

[2019-12-16 10:45] ghost commented on #643
Comment by @ankitpanchal7:
 * [3.jpg](https://meta.trac.wordpress.org/attachment/ticket/4912/3.jpg) added

[2019-12-16 11:40] ghost opened #644 "Logos not showing proper on responsive / mobile devices - central wordcamp site"
Imported from https://meta.trac.wordpress.org/ticket/4914
Created by @ankitpanchal7:

Logos not showing properly on responsive/mobile devices - central WordCamp website.

Please check:
https://central.wordcamp.org/about/

Please find attached screenshots.
Thanks.

[2019-12-16 11:40] ghost commented on #644
Comment by @ankitpanchal7:
 * [central-wc-site-logo-issues-in-responsive.jpg](https://meta.trac.wordpress.org/attachment/ticket/4914/central-wc-site-logo-issues-in-responsive.jpg) added

[2019-12-17 17:06] ghost commented on #643
[Comment](https://meta.trac.wordpress.org/ticket/4912#comment:3) by @ankitpanchal7:
 * Keywords set to `Has Screenshots` `Needs Testing`

[2019-12-17 17:07] ghost commented on #644
[Comment](https://meta.trac.wordpress.org/ticket/4914#comment:3) by @ankitpanchal7:
 * Keywords set to `Has Screenshots` `Needs Testing`

[2019-12-19 18:14] ghost commented on #619
[Comment](https://meta.trac.wordpress.org/ticket/4353#comment:1) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by casiepa. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1576779240010200)._

[2019-12-19 20:56] ghost commented on #575
[Comment](https://meta.trac.wordpress.org/ticket/4803#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #community-team by imath. [View the logs](https://wordpress.slack.com/archives/community-team/p1576788962130700)._

[2019-12-19 20:59] ePascalC opened #302 "Add AV wrangler name and username to API"
As WordPress.tv moderators we are doing regular reach outs to closed WordCamps. What we get in the API is the name and username of the lead organizer (e.g. https://central.wordcamp.org/wp-json/wp/v2/wordcamps?per_page=1&orderby=modified&page=1), but of course we would prefer to talk directly to the AV wrangler. That field is in most cases already filled in the backend but not yet exposed.
As per s

[2019-12-19 21:29] ghost commented on #619
[Comment](https://meta.trac.wordpress.org/ticket/4353#comment:2) by @ePascalC:

The reason for getting the w.org username exposed is also to be able to find more easy the twitter account of the speaker on the profile so they can get a tweet with the video gets published.
As per slack discussion on https://wordpress.slack.com/archives/C08M59V3P/p1576779620014700 , @iandunn indicated that it might b

[2019-12-23 10:48] ghost opened #645 "Call to undefined function"
Imported from https://meta.trac.wordpress.org/ticket/4926
Created by [@dkarfa](https://profiles.wordpress.org/dkarfa/):

[code]

[2020-01-06 18:14] ryelle commented on #198
Since it sounds like we're not sure if this is caused by the PWA, I'm going to close the issue. Images & CSS are better cached now, so it's possible this is already fixed. If we get more reports of slowness on PWA-enabled sites we can revisit.

[2020-01-06 18:14] #198 closed, assigned to nobody

[2020-01-07 00:24] coreymckrill opened #306 "WordCamp Central: Add global sponsors widget to homepage"
Replace the Latest Tweets widget on the WordCamp Central homepage with a Global Sponsors widget that shows Gold global sponsor logos. Two different ideas for presentation:

* An auto-advancing slider (every 3-5 seconds)
* Either a random single sponsor logo or a randomized list of three every time the page is reloaded.

More info:
https://make.wordpress.org/community/2020-wordpress-global-communit

[2020-01-07 00:37] coreymckrill commented on #306
My preference would be to go with second option for presentation ([because.](http://shouldiuseacarousel.com/))

Regardless of which presentation we go with, we'll need to randomize the list of Gold sponsors for fairness, and we'll need to do it in a way that doesn't run afoul of caching. Seems like we could take a similar approach to [how Five for the Future pledges are randomized](https://github.

[2020-01-07 01:22] coreymckrill commented on #306
@melchoyce Do you have the bandwidth right now to whip up a quick design for this sponsors widget (and also chime in on slider vs single logo vs list?)

[2020-01-07 10:16] imath opened #307 "Camptix: 2 fuzzy translations about "Coupon applied" string"
**Describe the bug**

Hi,

These strings are no more translated on WordCamp.org sites.
- https://github.com/WordPress/wordcamp.org/blob/production/public_html/wp-content/plugins/camptix/camptix.php#L5361
- https://github.com/WordPress/wordcamp.org/blob/production/public_html/wp-content/plugins/camptix/camptix.php#L5530

I believe this is due to the fact the l10n placeholders have been edited in th

[2020-01-07 10:29] fxbenard commented on #307
@imath Good catch.
It should be nice to add some translator comments as well now to explain those 2 placeholders.
Thanks.

[2020-01-07 17:02] iandunn opened #309 "Schedule block inspector controls"
Make the sidebar work and dynamically affect the content preview. Depends on #104.

[2020-01-07 17:04] iandunn opened #310 "Schedule block: Build front-end renderer"
Explore re-using JS rather than building duplicate PHP view.

[2020-01-07 17:07] iandunn opened #311 "Schedule Block: Add support for favorite sessions"
Need to incorporate the same personalized-schedule-building tool that the shortcode supports.

Check if there are any bc-breaking changes that would be helpful, since this would be a good time to do those. The tool should still work on the shortcode, though, but we might build a slightly different interface for the block, or something.

[2020-01-07 17:56] ryelle commented on #307
These new strings [have been translated,](https://translate.wordpress.org/projects/meta/wordcamp/fr/default/?filters%5Bterm%5D=Coupon+Applied&filters%5Buser_login%5D=&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filter=Filter&sort%5Bby%5D=priority&sort%5Bhow%5D=desc) it looks like we need to update the translations on WordCamp.org.

[2020-01-07 19:35] melchoyce commented on #306
I just moved teams, but I talked to @karmatosed and she has some time to look into this :)

[2020-01-07 20:25] #130 closed, assigned to nobody

[2020-01-08 15:59] ryelle commented on #307
Translations have been updated, so this is should be correct now. Thanks for reporting this!

[2020-01-08 15:59] #307 closed, assigned to nobody

[2020-01-08 16:05] imath commented on #307
Hi @ryelle thanks a lot for the fix. I confirm it's now translated on https://2020.paris.wordcamp.org/billetterie/ 💪

[2020-01-08 20:10] ghost commented on #615
[Comment](https://meta.trac.wordpress.org/ticket/4247#comment:2) by @ryelle:

Just noting that the issues around the star icon have been fixed (except the color contrast), the remaining issues are still accurate:

- The mail/print/share option should be activated by a `<button>`, not an `<a>`
- The div with the mail/print/share option should be an accessible dialog modal
- The tab interface inside

[2020-01-08 20:12] ryelle commented on #311
If we're looking at any UX changes, it would be good to get a designer's feedback too.

This would be a good time to improve [the a11y issues of the print/share modal,](https://meta.trac.wordpress.org/ticket/4247) copying over the relevant comment:

[2020-01-08 22:33] ryelle commented on #226
Well, this was   ⤵️🕳

We currently save `_wcpt_session_time` using `strtotime` patching together the separate fields for date & time, which seems to technically save the value as that datetime UTC, regardless of the site's timezone. So if you have a site in EST, and you save a session for March 1st at 4pm, it will _actually_  save it as "March 1st 2020 16:00 **UTC**" (but as a unix timestamp), whi

[2020-01-09 20:00] karmatosed commented on #306
I would agree about this:

I don't think a slider would look as good and the impact would be a lot. My recommendation would be to have 3 but 1 could also visually work.

![image](https://user-images.githubusercontent.com/253067/72100483-9fb7a380-331a-11ea-9d87-ac75edf29734.png)

[2020-01-09 20:31] coreymckrill commented on #306
Thanks @karmatosed

Do you think the sponsor items should just be the logo, or should they include, e.g. name, URL?

If it's just the logo, perhaps it would be best to just have one at a time, and make the width fit the column width. Thoughts?

Edit: See the pull request #314

[2020-01-10 20:44] karmatosed commented on #306
I think if you have more information you could also consider distilling back to just one. Having URL and name does avoid problems of logos not being representative.

[2020-01-10 21:31] ryelle commented on #235
Even though most people probably won't read it, I think documentation would be the best approach here:

- Something added to the organizer handbook
- Link off to WCEU or another site that has a page about how to access content offline that organizers can copy from
- Maybe some other predef about these features for an email

Overall, the "offline" content is probably not the biggest win here— I thi

[2020-01-13 22:58] ryelle commented on #226
Hm… this is actually going to affect #303 too, since the datepicker localizes the date to the client timezone (in almost all cases that's fine, someone entering the session content is _probably_ in the same timezone as the camp, the regional camps are outliers, but it should get documented). So a session that's set to begin at 1pm appears to begin at 9am for me:

![Screen Shot 2020-01-13 at 5 58 2

[2020-01-14 15:51] ryelle opened #317 "Application Tracker: JS should use `@wordpress/*` packages to prevent conflicts"
The application tracker does not use core-provided packages (guessing they didn't exist then 🙂), but now that we're adding more JS to various pages, we're going to run into conflicts.

For example, originally reported as [an issue in slack,](https://wordpress.slack.com/archives/C037W5S7X/p1579001986080400?thread_ts=1579001986080400&cid=C037W5S7X) the application tracker adds `babel-polyfill` to it

[2020-01-14 20:31] ryelle commented on #129
After all this convo, I think the only thing that wasn't split into a separate issue was the "distracting install banner" issue, which was just fixed with #315. I'm going to close this issue— if there's anything else, we can open new issues.

[2020-01-14 20:31] #129 closed, assigned to nobody

[2020-01-15 01:19] iandunn commented on #226
If we make this change, will we need to update all the PHP code that currently touches `_wcpt_session_time` in a way where the timezone matters?

IIRC there's some code beyond wordcamp.org that would be affected, like make.w.org/community/events, and api.w.org/events.

If those aren't accounted for, a change here could cause bugs in the Events Widget and other API clients, like official and unoffi

[2020-01-15 02:18] iandunn commented on #235
#201 feels like a v3/v4 enhancement to me, but IMO the offline schedule was the cornerstone of the MVP.

If all we do is mention it in docs that nobody will read, then I don't think it'll have been worth all the time and energy we spent.

Maybe a quick way to achieve this would be a link above the Schedule block that says, "[Add to home screen for offline schedule](#)" ?

[2020-01-15 16:21] ryelle commented on #226
Yeah, and I'll figure out the extent of what's needed today.

I would _only_ touch the session times for WordCamps, which I believe is only used "internally", but part of my investigation today will be to check that assumption.

If this were never going to be a problem again I'd agree with you, but even since this issue started (in the PWA's schedule block), it's also discovered to be a problem fo

[2020-01-15 20:06] jrchamp opened #318 "Wildcard Certificate is Expired (since April 2018)"
**Describe the bug**

An expired wildcard certificate is being offered for "unknown" domains.

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://example.wordcamp.org/
2. See browser error

**Expected behavior**

I would expect a friendly error message from wordcamp.org

[2020-01-15 21:54] iandunn commented on #318
This is also -- maybe more often? -- a problem with 4th-level domains, like 2020.seattle.wordcamp.org. `2019` exists, but the site for `2020` hasn't been created yet.

It looks like [Let's Encrypt supports wildcard domains now](https://community.letsencrypt.org/t/acme-v2-and-wildcard-certificate-support-is-live/55579) 🎉

We'll need to wait until after we upgrade to ACME v2, though.

[2020-01-15 23:14] jrchamp commented on #318
Thanks @iandunn - indeed, I did notice this while trying to plan ahead for a - currently non-existing - 2020 event.

[2020-01-16 17:14] ryelle commented on #235
They don't need to install the site as an app to get the offline page, though - just by visiting the site they have it. Also, once the event is happening, they'll already see the "Add to home screen" banner by virtue of it having the app manifest. So this could open up to a strange flow where they install it, but we still ask them to install it… or they decided not to install it, and here we are n

[2020-01-16 18:22] ghost commented on #576
[Comment](https://meta.trac.wordpress.org/ticket/221#comment:15) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1579198977045100)._

[2020-01-16 18:29] ghost commented on #572
[Comment](https://meta.trac.wordpress.org/ticket/262#comment:25) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1579199393047700)._

[2020-01-16 18:43] ghost commented on #647
[Comment](https://meta.trac.wordpress.org/ticket/659#comment:7) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1579200233058500)._

[2020-01-16 18:47] ghost commented on #648
[Comment](https://meta.trac.wordpress.org/ticket/840#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1579200468062900)._

[2020-01-16 18:50] ghost commented on #577
[Comment](https://meta.trac.wordpress.org/ticket/1074#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1579200656064700)._

[2020-01-17 16:08] ghost commented on #664
[Comment](https://meta.trac.wordpress.org/ticket/4564#comment:2) by @braders:

The canonical on this page seems to be confusing things further - it is pointing to the current page without the "/page/" segment. So e.g. the canonical on  https://central.wordcamp.org/page/5/ is https://central.wordcamp.org/5/.

Due to WordPress's redirect guessing, https://central.wordcamp.org/5/ is redirecting the t

[2020-01-17 17:17] ghost commented on #664
[Comment](https://meta.trac.wordpress.org/ticket/4564#comment:3) by @jono-alderson:

Yep, that's gonna be hurtin'.

[2020-01-17 17:33] ghost commented on #664
[Comment](https://meta.trac.wordpress.org/ticket/4564#comment:2.4) by @braders:

Replying to [@braders](https://profiles.wordpress.org/braders/):

I have opened a core ticket to address the faulty canonical URL which is being produced on  central.wordcamp.org: [#WP49220](http://core.trac.wordpress.org/ticket/49220)

[2020-01-20 19:22] timiwahalahti opened #320 "Application tracker: validate wordpress.org username before save"
Right now application tracker validates the existance of wordpress.org username when saving the post and thowrs an `wp_die` if username does not exist.

Given that the applicants do fill invalid usernames _all the time_. `wp_die` slows down the vetting process. Escpecially if you have written a note to application, because that dissapears when going back and you need to re-write the note.

Usernam

[2020-01-20 19:23] timiwahalahti opened #321 "Changes to the Meetup organizer application form"
_[Moved from Trac](https://meta.trac.wordpress.org/ticket/4177)._

 Improving the Meetup organizer application form was proposed and discussed in the community P2. As a result of the discussion, the following changes to the form are agreed on and needs to be done at some point. I'm opening this trac ticket, because I guess the new meetup status tracker should be taken into account when making chan

[2020-01-20 19:25] timiwahalahti commented on #321
_Moved from Trac._

At the same time while doing these changes to the form, would it be possible to also require wordpress.org login or do some kind of check that entered username is correct? That would also help much while vetting applications.

[2020-01-20 19:25] timiwahalahti commented on #321
_Moved from Trac._

Ian: consensus from latest Slack discussion:
- require login
- show the form, but disable it, and show a log-in modal on top of it
- reuse the speaker application code for the above, after refactoring it to be generic

[2020-01-20 21:47] timiwahalahti opened #322 "Application tracker: improve log section notes"
[Initially reported on Trac](https://meta.trac.wordpress.org/ticket/3839). Even tho Trac ticket is marked as closed, there are some things that are not working as expected.

- `wpautop` does not add paragraphs because it's output is runned thru too strict `wp_kses_post`
- Hugh aksed if we could automatically add a-tag for links in the note message

[2020-01-20 23:12] timiwahalahti commented on #321
FYI: I started on working with this.

[2020-01-20 23:51] ryelle commented on #320
Looks like the code that added this was  https://github.com/WordPress/wordcamp.org/commit/8fb0610b11e86996e3a34f2f04f7a0b786d48193 (cc @iandunn) — additionally, it only checks the username fields used on Meetups, so I tested this for about 10min on WordCamps wondering why I couldn't trigger the validation. However this is fixed, the same validation should happen on both Meetup & WordCamp applicati

[2020-01-21 18:24] ryelle opened #326 "PWA: Add the PWA plugin to the list of organizer-enabled plugins"
Whether the site uses the PWA or not should be up to organizers for now (at least until we get more feedback), so we need to add the PWA plugin to the list of plugins that organizers can activate.

[2020-01-22 00:15] ryelle commented on #226
So, I think [this is all the change that's needed on the PHP side of things](https://github.com/WordPress/wordcamp.org/compare/try/session-date-timezones) (the date-time sorting code in the live schedule block will also need to be updated).

Luckily the date displays were all easy to change, `wp_date` is a timezone-aware replacement for `date`/`date_i18n`. Saving the date is also an easy switch, `

[2020-01-22 04:01] ghost commented on #613
[Comment](https://meta.trac.wordpress.org/ticket/4162#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by nao. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1579665662043500)._

[2020-01-22 06:53] tepkenvannkorn opened #327 "Add support for [attendee_id] in Camptix send blast email tool"
I’m Vannkorn from WCAsia. We’re about to implement the wp-checkin system to fasten the attendee checkin process. Since some people have purchased more than one tickets under the same name and email address, we would like to ask for the extra support of the [id] shortcode in the Ticket’s tool. As of now it only supports [first_name] [last_name] [email] and [ticket_url]

<img width="1521" alt="Scree

[2020-01-22 15:44] #205 closed, assigned to nobody

[2020-01-22 15:44] #206 closed, assigned to nobody

[2020-01-22 15:50] #207 closed, assigned to nobody

[2020-01-22 19:55] coreymckrill commented on #226
I think saving the old timestamp to a separate meta value is a good idea. Would a separate "flag" value be necessary, since a processed site will have the backup values?

I think it would also be good to enable the script to only run on a specific site ID, or array of IDs. That way we can test some specific sites that have a lot of sessions and are in a timezone not close to UTC, before running it

[2020-01-22 20:08] ryelle commented on #226
I think so, since it would be on a site level — if a site is flagged, we wouldn't even bother querying for sessions, we can just move on to the next site. But checking for the backup values will be a good way to not double-calculate the timestamp, so I think both are useful.

Good idea. I've got it running on a subset right now but not using specific IDs, but then we can set it to run just on our

[2020-01-22 21:48] #327 closed, assigned to nobody

[2020-01-23 22:57] ryelle commented on #226
I've committed my scripts to the bin repo, both the fixer and a reverter. They're in `bin/wp-cli/single-use/wc-post-types`. I've only tested them on the docker env, ~will give it a shot on a testing site on my sandbox tomorrow.~

Actually switching up my focus for the day, so there's more time for teammate feedback :)

[2020-01-26 18:40] timiwahalahti opened #332 "Speaker sumbission form WordPress.org login not kicking in"
**Describe the bug**

Looks like the `wordcamp-forms-to-drafts` plugin isn't requiring WordPress.org login and filling the username field automatically anymore. At least this is the case on a fresh site inside the docker development environment.

It's because the Call for Speakers post is nowadays created as a Gutenberg post and the functionality that adds the login wall seeks for the shortcode to

[2020-01-26 18:52] timiwahalahti commented on #332
I'd like to have someone confirming this before moving on with fixing and submitting PR. Thanks!

[2020-01-27 17:54] ryelle opened #334 "Speaker Feedback: Create session feedback form"
This is the form for sending in session feedback. It will be shown on the session page, below the session content. It should submit the answers to an API endpoint (#337), and show a success/failure message (can be mocked until the endpoint exists).

The star rating & first question are required, the rest are optional. If the user is not logged in, there should also be name & email fields, which ar

[2020-01-27 17:56] ryelle opened #335 "Speaker Feedback: Questions for feedback"
Currently in the proposal:

Where will these questions come from? Should they be controlled somewhere in the admin, so that non-developers can update them?

[2020-01-27 18:03] coreymckrill commented on #335
Seems like there is value in having a consistent data set, so that we can look at trends over time. So I think we should have a core set of questions that are not changeable without updating the code. But perhaps organizers could optionally add one additional question of their own?

I wouldn't want to reinvent a full-blown form builder with different question types, etc. but I could see allowing a

[2020-01-27 18:20] ryelle opened #336 "Speaker Feedback: Create `/feedback` page on WordCamp sites"
This should be a (dynamically created?) page on every WordCamp site, `site.wordcamp.org/feedback`, which will direct the visitor to pick a session to give feedback on. It should list every session with speaker name(s), in a dropdown (possibly autocomplete, if an acceptable accessible solution exists).

Once "Give Feedback" is clicked, this will either navigate to the session page's form, or load t

[2020-01-27 19:00] ryelle commented on #335
Well, we have the required questions (star rating & first question, so "What’s one good thing you’d keep in this session?"), so those would probably be fixed, with the others changeable. I'm not sure if the freeform text questions would be as helpful for "trends over time," but that's a good point.

Hm, I wasn't thinking on a per-camp basis, but that could be a nice future enhancement. I was think

[2020-01-27 19:08] ryelle opened #337 "Speaker Feedback: Create an API endpoint for feedback-comments"
We can't use the core `/comments` endpoint, because it doesn't support custom comment types. We'll need to create our own - though we can use comments `WP_REST_Comments_Controller` as a base.

This endpoint only needs to create comments, since we don't have a view for editing or deleting existing feedback (from the frontend).

Comments will have meta, this should also be registered with this endpo

[2020-01-27 19:18] ryelle opened #338 "Speaker Feedback: Create custom comment type"
Create the custom comment type for saving feedback data. This will be attached to the session post type.

[2020-01-27 19:21] ryelle opened #339 "Speaker Feedback: Display feedback in wp-admin, using comments screen"
WordCamp organizers should be able to view feedback in wp-admin, using the comments screen. The meta should be combined on the fly to render a human-friendly view of feedback:

![Speaker Feedback](https://user-images.githubusercontent.com/541093/73205988-0d800f80-4110-11ea-9819-d3d52ffd9f94.png)

Organizers can spam feedback from this view.

[2020-01-27 19:24] ryelle opened #340 "Speaker Feedback: Add permissions-checks to feedback view"
Speakers should only be able to see their own feedback, so the comments will need to be filtered such that anyone not an admin on the site can only view feedbacks on sessions where they're selected as the speaker.

Once this is done, organizers will only have to send out a single URL to speakers, since the main comments view should only show their personal feedback.

[2020-01-27 19:43] ryelle opened #341 "Speaker Feedback: Add Session filter to comment list"
To view all feedback for a single session, we need a way to view comments on just one session. There should be a "session" dropdown in this list of filters:

![Screen Shot 2020-01-27 at 2 42 07 PM](https://user-images.githubusercontent.com/541093/73207738-3b1a8800-4113-11ea-8907-ecf6f8592fb4.png)

[2020-01-27 19:50] ryelle opened #342 "Speaker Feedback: Track "helpfulness" of feedback"
Should this be per comment? Could use the same pattern as moderation?

![Speaker Feedback-help](https://user-images.githubusercontent.com/541093/73208354-520daa00-4114-11ea-8db1-7804c8522e5e.png)

Or should this be a specific question somewhere on the page?

[2020-01-27 20:50] ryelle opened #343 "Speaker Feedback: Automatically close form after time limit"
What should this time limit be? 2 weeks? 4 weeks?

The automated email can go out to organizers as a reminder, but should not auto-send anything to speakers.

[2020-01-27 20:57] ryelle opened #344 "Speaker Feedback: Create a report for feedback stats"

[2020-01-28 04:51] naokomc opened #345 "Allow bulk editing of Admin Flags in Attendee admin"
Currently, there is no easy way to enable admin flags in bulk from the Atendee list screen in the dashboard.

My workflow is usually this:

1. Search for coupon code or answer or a question using the "Search Attendees" box.
2. Hit "Enable" link of a relevant admin flag multiple times until I get to the end of the list.

This manual process is time-consuming especially for a large event and prone t

[2020-01-28 20:06] coreymckrill commented on #337
I was thinking each question/answer pair would be a separate entry in comment meta. That seems like it would reduce the complexity when, e.g., querying for all the answers to one particular question.

[2020-01-28 20:14] coreymckrill commented on #335
The other consideration with whether or not to hard-code the questions is translatability. If the questions are going to come from a central source, but still be translated into the locale of the WordCamp site, they probably need to be hard coded so that they can be wrapped in gettext calls and imported into the WordCamp translation project.

[2020-01-28 20:15] ryelle commented on #337
My initial thought was still separate entries in comment meta, but for all the same key (hence the array). But still, this made more sense when there was the possibility of changing the question text, so answers would be stored with the correct question content.

I still think storing the question text will be important, but maybe we can figure out another way to do that.

[2020-01-28 20:16] ryelle commented on #335
Good point 👍  sounds like hardcoded is definitely the way to go, especially for this iteration.

[2020-01-28 20:36] coreymckrill commented on #342
I think it depends on whether we want to assess the helpfulness of the speaker feedback functionality as a whole, or track the amount of feedback that is considered helpful vs unhelpful.

Going the more granular route seems best to me, but then I guess the risk is that speakers wouldn't take the time to rate the helpfulness of each individual comment. If they just marked the "unhelpful" ones for e

[2020-01-28 20:48] coreymckrill opened #346 "Speaker Feedback: Run submissions through Akismet"
This might happen by default since the submissions are stored as comments, but we need to ensure that all of the related meta data is included in the scan.

Related: #337

[2020-01-28 22:50] coreymckrill commented on #339
Related: #340

[2020-01-28 23:00] coreymckrill opened #347 "Speaker Feedback: UI for speakers to review their feedback"
The [scoping document](https://make.wordpress.org/community/2020/01/27/speaker-feedback-tool-final-outline/) says:

And:

But this still leaves some questions:

* Will this view live on the frontend of the site, or the backend?
  * If the frontend, where would the content be displayed? How would it be styled?
    * A dedicated page that shows feedback for whichever wporg user is currently logged i

[2020-01-29 00:39] ryelle commented on #347
I was under the impression this would be the backend, hence why we're doing #340 — the "UI for speakers to review feedback" is just the "my feedback" view of the comments list table in wp-admin. (340 is the issue I created to cover this bullet point from the scope doc)

Yeah, I think that's part of #340 — working out the permissions to make this work. I thought we said somewhere that it would be O

[2020-01-29 06:50] hlashbrooke commented on #347
I think backend makes more sense because feedback will be viewable in there anyway. I was thinking some kind of tokenised link could work where the token checks their username and allows them access to view, but you would probably still need to add them as a user to the site (even if they're just in the `contributor` user role).

[2020-01-29 22:08] markhowellsmead opened #349 "SVG are stripped out of social block in speakers list block"
There’s a problem with the speakers list block. The SVGs aren’t being loaded within the social links. They’re created in the individual speaker content, where they’re showing correctly. https://2020.geneve.wordcamp.org/orateurs-trices/

[2020-01-29 22:45] coreymckrill commented on #347
My biggest concern with the backend is the need to add each speaker as a user on the site. It should be possible to do this programmatically when the speaker's wporg username is added to the speaker post, but we still can't _depend_ on those users being there when it's time to notify them about their feedback. There are lots of reasons a user could get removed.

So I guess we will just need to ens

[2020-01-30 01:04] coreymckrill commented on #338
There isn't actually a way to register a custom comment type, though it appears that this 4-year-old Core issue has been getting some traction lately:

https://core.trac.wordpress.org/ticket/35214

My thought is to create an abstraction layer via some functions for CRUD operations involving our custom comment type. That way it's easy to adapt if/when custom comment types make their way into Core.

[2020-01-30 07:45] hlashbrooke commented on #347
I think that would be a big help yeah.

The other option would be to show the feedback on the frontend as comments on the session post, but make them only visible if the speaker is logged in to wp.org. The downside there is that the speaker could easily see the feedback before the organisers have been able to moderate it, but it would mean we don't need to worry about users and wp-admin permission

[2020-01-30 17:26] iandunn commented on #226
Should we make similar changes in other wordcamp.org code that stores timestamps (even if it's just storing a date, b/c that could change if the TZ does)?

That'd be out of scope for this ticket, but it'd be good to open a new one to track that.

[2020-01-30 17:36] ryelle commented on #226
Yes, it would make sense to open a new issue to track other dates.

[2020-01-30 18:21] coreymckrill commented on #347
So, comments have two built in statuses that could help us here. "Hold" and "Approved". We could have new feedback submissions default to "Hold" instead of "Approve", and then only showed approved ones to speakers. So the comments would have to be moderated by organizers first.

We could even show a message to speakers like "This session has feedback that hasn't been moderated yet" or something, s

[2020-01-31 06:08] hlashbrooke commented on #347
That sounds like a good solution.

I guess my only concern with having to moderate every comment (and this isn't specific to this issue about where to display the feedback) is that it's a big ask for organisers to moderate every piece of feedback, especially for larger camps like WCEU, etc. I don't think we can work around that though, as one of the guidelines in the handbook is to not allow speak

[2020-01-31 11:00] markhowellsmead opened #351 "Style tags are stripped from Embed Block in speaker list view"
Embedding a Meetup group link using the appropriate group works fine on the Speaker single view, but the CSS `style` tags are stripped from content of the block's `wp-block-embed__wrapper` element in the list view. This appears to be a similar issue to #349.

[2020-01-31 17:43] iandunn commented on #344
I think we should also track stats around moderation, to see how that affects speaker's ability to receive the feedback while it's still effective:

* % of submitted comments that have been moderated
* Average # of days between the event and when the comments were shared with the speaker
* % of comments that were edited by a moderator (if we're giving them this ability)
* % of comments that were r

[2020-01-31 18:20] iandunn commented on #235
My concern is that they won't  _know_ that, so they'll never think use it when they're offline. If they "install" it, then it'll feel like a native app and they'll automatically expect it to work offline.

I'm very skeptical that relying on docs & manual announcements would result in more than 5% of attendees knowing about it.

Do browsers check if it's already installed before displaying the bann

[2020-01-31 19:23] ryelle commented on #351
@markhowellsmead When you say this is stripped in the speaker list view, do you mean a speaker block, or the archive page for speakers?

[2020-01-31 20:27] ryelle commented on #349
The link above has been updated with a workaround, so this is a screenshot of the issue:

![Screen Shot 2020-01-31 at 2 28 21 PM](https://user-images.githubusercontent.com/541093/73568319-2e10d800-4436-11ea-93e2-e5461b204ba1.png)

The Social Links block lets you add social info to a post, which seems really useful for a speaker— but the icons are [rendered dynamically as SVGs.](https://github.com/

[2020-01-31 20:45] #338 closed, assigned to coreymckrill

[2020-02-01 00:22] coreymckrill commented on #349
I don't have any good ideas yet, but just noting that `wp_kses` is causing other problems in this context as well. For example, it strips out `srcset` and `sizes` attributes on image tags.

[2020-02-03 16:22] #260 closed, assigned to ryelle

[2020-02-03 18:41] iandunn commented on #349
I think Kelly's on the right track. It seems best to either not render dynamic blocks at all, or do the sanitization _before_ dynamic blocks get rendered.

I'm leaning towards the latter, since the sanitization is only intended to sanitize _user_ input.

[2020-02-03 21:45] #326 closed, assigned to ryelle

[2020-02-03 22:10] ryelle commented on #235
The site will already prompt visitors to install the site-app, assuming they visit within 2 weeks of the WordCamp.

They do, for the banner. I thought you were suggesting we add some extra text into the page, specifically near the schedule, separate from the banner.

[2020-02-05 16:23] ghost commented on #596
[Comment](https://meta.trac.wordpress.org/ticket/3277#comment:11) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #community-events by casiepa. [View the logs](https://wordpress.slack.com/archives/community-events/p1580919810142400)._

[2020-02-06 19:08] ghost commented on #578
[Comment](https://meta.trac.wordpress.org/ticket/1109#comment:20) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1581016137152700)._

[2020-02-06 19:17] ghost commented on #649
[Comment](https://meta.trac.wordpress.org/ticket/1360#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1581016650163000)._

[2020-02-06 19:28] ghost commented on #584
[Comment](https://meta.trac.wordpress.org/ticket/1443#comment:14) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1581017286171600)._

[2020-02-06 19:39] ghost commented on #585
[Comment](https://meta.trac.wordpress.org/ticket/1638#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1581017958186500)._

[2020-02-06 19:47] ghost commented on #586
[Comment](https://meta.trac.wordpress.org/ticket/1707#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1581018448195700)._

[2020-02-07 20:43] coreymckrill opened #358 "Sponsor invoice reminder emails sent from wrong site"
Every site on the network has a cron job set that queries the sponsor invoices index for invoices that have had the "pending" status for a certain amount of time, and sends out email reminders to the camp organizers asking them to follow up with the sponsors.

The problem is, these emails are sent from whichever site happened to trigger the cron job, using the locale of that site. This sometimes c

[2020-02-12 20:34] #336 closed, assigned to ryelle

[2020-02-12 23:16] #306 closed, assigned to coreymckrill

[2020-02-14 16:13] ryelle opened #366 "PWA Offline Template: Notice "Trying to get property 'post_content' of non-object""
The offline page is not really a page. Unfortunately, in rendering the shortcode, `shortcode_schedule`  calls `get_wcpt_anchor_permalink`, which relies on the global `$post` to check if the current post has the relevant content.

Since `$post` isn't actually defined, this function throws a notice.

[2020-02-17 20:20] coreymckrill opened #370 "Speaker Feedback: Network enable/disable doesn't handle the activation/deactivation hooks correctly"
When the activation state of this plugin is changed network-wide, the related activation/deactivation routines that are registered do not appear to be firing, because the Leave Feedback page is not created upon activation, and it's not deleted upon deactivation.

This was partially addressed [here](https://github.com/WordPress/wordcamp.org/pull/357/commits/b999a6a5be08a32bcaae1dbd31f0c9807274c642)

[2020-02-18 17:27] #226 closed, assigned to nobody

[2020-02-18 22:55] ryelle opened #372 "Event Applications: Review fields & metabox display for usefulness"
WordCamp & Meetup applications create new posts in wp-admin when the form is submitted. These posts expose some of the application fields as inputs in the editor, but not all of them. For example, partial screenshots:

**WordCamp**
![Screen Shot 2020-02-18 at 5 46 53 PM](https://user-images.githubusercontent.com/541093/74784801-bdabe880-5276-11ea-9d65-3dffd1a7992c.png)

**Meetup**
![Screen Shot 20

[2020-02-19 12:42] timiwahalahti commented on #372
Most of the data in applications aren't needed anywhere else than in the vetting process, so it does not really make sense to fill other metaboxes with one-use-only fields.

👍👍👍

I can make a list of these for Community Team deputies to review and share their opinions. After we have agreed about fields, I could also work on PR.

[2020-02-19 15:06] ryelle commented on #372
That would be great!

[2020-02-19 15:53] #322 closed, assigned to nobody

[2020-02-20 04:25] bethsoderberg commented on #180
Commenting to say that I found this post because I wanted to know if I _could_ override the Gravatars because right now I have 17 out of 61 speakers (28%!) who don't have them. Speaker wrangling is already a huge job and I can attest to the fact that Gravatar wrangling takes up a lot of organizer/volunteer time. I disagree with relegating this to the "won't fix" pile as a fix for this  would save

[2020-02-20 13:58] ghost commented on #596
[Comment](https://meta.trac.wordpress.org/ticket/3277#comment:12) by [@francina](https://profiles.wordpress.org/francina/):

I think having a central hub for calls (speakers, sponsors, volunteers) would be very helpful for all parties involved :)
This, combined with a good use of social media, would probably amplify the outreach efforts immensely.
@iandunn do you think this particular topic needs

[2020-02-20 18:03] ghost commented on #587
[Comment](https://meta.trac.wordpress.org/ticket/1794#comment:11) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582221774259500)._

[2020-02-20 18:05] ghost commented on #588
[Comment](https://meta.trac.wordpress.org/ticket/1817#comment:6) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582221942262300)._

[2020-02-20 18:07] ghost commented on #650
[Comment](https://meta.trac.wordpress.org/ticket/1845#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582222066263100)._

[2020-02-20 18:11] ghost commented on #651
[Comment](https://meta.trac.wordpress.org/ticket/1921#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582222284266600)._

[2020-02-20 18:13] ghost commented on #589
[Comment](https://meta.trac.wordpress.org/ticket/1933#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582222389267700)._

[2020-02-20 18:27] ghost commented on #590
[Comment](https://meta.trac.wordpress.org/ticket/2027#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582223239283200)._

[2020-02-20 18:30] ghost commented on #652
[Comment](https://meta.trac.wordpress.org/ticket/2144#comment:2) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by coreymckrill. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1582223417285700)._

[2020-02-20 22:56] ghost commented on #651
[Comment](https://meta.trac.wordpress.org/ticket/1921#comment:10) by @coreymckrill:

This unfortunately needs to be rebased again @hlashbrooke. Sorry it got overlooked. At this point, I think it would be better to submit this as a pull request to the [GitHub repo](https://github.com/WordPress/wordcamp.org/).

[2020-02-20 23:13] coreymckrill opened #373 "Tagregator: Determine how many WordCamps are actually using it"
This issue is for followup on [a Slack discussion](https://wordpress.slack.com/archives/C08M59V3P/p1582222389267700) in #meta-wordcamp. It would be useful to find out how many camps are actually making it through the process of setting up Tagregator with API keys for various social media platforms and using the functionality.

This could probably be done by writing a script that cycles through all

[2020-02-20 23:38] coreymckrill opened #374 "CampTix: Issues with the [camptix_attendees] shortcode"
Coming out of [a Slack discussion](https://wordpress.slack.com/archives/C08M59V3P/p1582224263294100) in #meta-wordcamp, this issue is to collect various problems with `[camptix_attendees]` from Meta Trac ([meta-2282](https://meta.trac.wordpress.org/ticket/2282), [meta-2413](https://meta.trac.wordpress.org/ticket/2413)) and elsewhere.

Some problems are:

* For larger WordCamps (200+), having all o

[2020-02-21 00:01] #358 closed, assigned to coreymckrill

[2020-02-21 08:17] timiwahalahti opened #375 "CampTix Badge Generator: Gravatar Hovercards should be disabled"
_This ticket was moved from [Trac](https://meta.trac.wordpress.org/ticket/2145)_

They get in the way and don't add any value.

[2020-02-21 08:19] timiwahalahti opened #376 "Email receipt after submitting WordCamp talk"
_This ticket was moved from [Trac](https://meta.trac.wordpress.org/ticket/1946)_

When you submit a talk to a WordCamp, it would be great to receive some kind of "receipt" in your email with your form submission data. This will help people keep track of what talks they've submitted to WordCamps, and when.

There has been a Community Team [P2 discussion](https://make.wordpress.org/community/2016/09

[2020-02-21 08:23] timiwahalahti commented on #374
Related from Trac: [#2940 WordCamp Attendee JSON](https://meta.trac.wordpress.org/ticket/2940)

[2020-02-21 08:32] timiwahalahti commented on #376
Related ticket from the Trac: [#3914 Automatically send confirmation email for WordCamp talk submissions to applicants ](https://meta.trac.wordpress.org/ticket/3914)

[2020-02-26 14:18] francescamarano commented on #180
Because not everyone wants to register for a Gravatar :)
Since the function is not part of WP Core or WordCamp functionality, I think we should find a different solution that doesn't require people to signup for third party services.

[2020-02-26 20:36] NewYorkerLaura commented on #180
I feel like part of this is a bit of a the old[ Zen Cat Story. :](http://truecenterpublishing.com/zenstory/ritualcat.html)

**"When the spiritual teacher and his disciples began their evening meditation, the cat who lived in the monastery made such noise that it distracted them. So the teacher ordered that the cat be tied up during the evening practice.**

**Years later, when the teacher died, the

[2020-02-27 13:59] timiwahalahti opened #377 "Send email about GPL vetting after first call has been published"
There have been some discussions on tracking when each WordCamp has their calls (sponsors, speakers, volunteers) open.

After this feature has been made and pushed out, it would be awesome to send an automated email outlining the importance of GPL vetting and practical instructions for that after the first call has been opened.

The email could be sent to lead organizer, sponsors wrangler and spea

[2020-02-28 01:19] iandunn commented on #180
😆, I like that story too. My favorite version of it is from [Company](https://www.indiebound.org/book/9781400079377).

<img width="464" alt="Screen Shot 2020-02-27 at 5 10 10 PM" src="https://user-images.githubusercontent.com/484068/75501174-128ce480-5984-11ea-9bd0-ed58b4299f06.png">

I don't think that's what's going on here, but if you'd like to propose it, I think posting on the Community p2 wo

[2020-02-28 18:01] ryelle commented on #332
This is also letting spam submissions through, so fixing it should be a higher priority.

[2020-02-28 18:10] ryelle opened #378 "Call for Speakers: Invalid wp.org usernames cause incorrect speaker->session attachments"
If a speaker submits an invalid wp.org username in the Call for Speakers form, it will create a speaker post with an empty username (Alex), and attach that speaker to that session. Any submissions with an  invalid username following that will now default to that first speaker (Alex), and will not create a speaker post for the new speaker (Beck), so it will look like Alex submitted many talks, and

[2020-03-04 20:52] #337 closed, assigned to coreymckrill

[2020-03-04 21:00] coreymckrill commented on #343
Should the feedback form also be inactive _before_ the session has happened?

[2020-03-04 21:01] coreymckrill commented on #340
This also needs to include ensuring that feedback comments are not included in responses to `GET` requests to the standard comments REST endpoint.

[2020-03-06 22:17] ryelle opened #385 "CampTix: Add "remote" ticket type, update required question"
From https://meta.trac.wordpress.org/ticket/4344

The allergy question is unnecessary, the accommodations one might still be, but the examples in the text of the question don't apply. So we could also update the text for this question to reflect remote/livestream needs.

See https://wordpress.slack.com/archives/C08M59V3P/p1583522483036700

To address this, we'll create ticket types, starting with

[2020-03-06 23:22] iandunn commented on #107
This is working for me in JS now, but I think it'd also be nice to set it up for PHP.

[2020-03-09 23:46] coreymckrill commented on #339
Checking some assumptions here:

The way I'm reading the description of this issue, it sounds like the idea is that feedback comments would appear mixed in with other types of comments on the **wp-admin/edit-comments.php** screen. And then perhaps the comment meta for feedback would be injected into the list table rows via JS.

I think this would be pretty challenging to pull off in a non-hacky wa

[2020-03-10 14:47] ryelle commented on #339
I had a few vague thoughts, nothing too researched, and I'm not tied to any of it, but for argument's sake, this is what I'd been thinking:

We'd filter feedbacks out of the general comments screen somehow, and only show them when showing a single session's replies, `/edit-comments.php?p=43` where 43 is a session ID… maybe figure out some other query param to show all feedbacks. This idea of "anyo

[2020-03-10 18:24] #332 closed, assigned to ryelle

[2020-03-10 18:24] #378 closed, assigned to nobody

[2020-03-11 21:08] ryelle opened #387 "PHP Code Standards: Disable `Squiz.Commenting.InlineComment.InvalidEndChar`"
This rule requires that all comments end in a `.`, `!`, or `?`. I think it's intended to make sure comments are full sentences? We have a lot of places where that just doesn't make sense - comments as [section-labels](https://github.com/WordPress/wordcamp.org/blob/01937b16eae76c4238d719bf1e6ccf627425657c/public_html/wp-content/mu-plugins/camptix-tweaks/addons/accommodations.php#L41) & [ID labels,]

[2020-03-11 23:08] coreymckrill commented on #387
I've been trying to train myself to add those full stops to section and ID labels, but... I'd be fine if we disabled it. One less ubiquitous phpcs error cluttering up legacy files.

[2020-03-11 23:12] iandunn commented on #387
I don't have a strong opinion either way.

[2020-03-12 17:30] coreymckrill opened #388 "Reports: Generate a list of sponsor details for a given WordCamp"
My initial thought here is to just have one parameter for generating the report, which would be the name of a specific WordCamp, choosable from a Select2-style control. The output should be an exportable CSV file.

Fields:

* WordCamp Name & Year
* WordCamp Start Date
* Sponsor Name
* Sponsorship level
* Sponsorship amount
* Sponsorship currency (USD, EUR, etc.)
* Sponsorship status (submitted, pa

[2020-03-13 19:02] #388 closed, assigned to coreymckrill

[2020-03-16 18:03] #385 closed, assigned to ryelle

[2020-03-17 18:50] ryelle opened #392 "Payments: Add "Refunded" status"
Like #282/#291, we need a status to track refunded invoices.

- Add "Refunded" as action link to invoices
- Mark refunded invoices in the list table
- Add "Refunded" tab to network dashboard (maybe)

This is just for internal tracking, no need to interact with QBO/other 3rd party.

[2020-03-18 18:19] ryelle opened #394 "Speaker Feedback: "Break" sessions don't need feedback"
Sessions that are classified as "Break, Lunch, etc." currently show the feedback form when you add `/feedback` to the session URL. While someone might want to leave feedback on the lunch, we probably don't need to allow this 😆

It's probably easier to conditionally display the form, vs trying to conditionally add the endpoint.

[2020-03-18 19:55] #392 closed, assigned to ryelle

[2020-03-19 17:13] ghost commented on #573
[Comment](https://meta.trac.wordpress.org/ticket/3493#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1584638001084600)._

[2020-03-19 17:20] ghost commented on #653
[Comment](https://meta.trac.wordpress.org/ticket/2849#comment:15) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1584638447091000)._

[2020-03-19 17:41] ghost commented on #654
[Comment](https://meta.trac.wordpress.org/ticket/2940#comment:9) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1584639697109500)._

[2020-03-19 17:46] ghost commented on #591
[Comment](https://meta.trac.wordpress.org/ticket/2974#comment:6) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by ryelle. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1584639974112800)._

[2020-03-19 21:21] #339 closed, assigned to coreymckrill

[2020-03-19 21:21] #340 closed, assigned to coreymckrill

[2020-03-19 21:29] coreymckrill commented on #335
Hard-coded questions have now been implemented here:
https://github.com/WordPress/wordcamp.org/blob/production/public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php#L269-L301

Can this issue be closed?

[2020-03-19 21:32] coreymckrill commented on #341
As of 69d9e1f0647c9ac6f5c258dd20fa6414ba3ecb16 all of the feedback comments from a particular session can be viewed by clicking on the comment bubble in a new Speaker Feedback column in the Sessions list table. Will that be sufficient, or should we still consider adding a Session dropdown?

I would personally prefer to skip the dropdown since there's an alternative solution and modifying the Comme

[2020-03-19 21:32] ryelle commented on #335
Yep! I think that answers the issue here.

[2020-03-19 21:32] #335 closed, assigned to nobody

[2020-03-19 23:53] coreymckrill opened #395 "Sponsor Invoices: QBO does not accept company names that have non-Latin characters"
Copied from [Meta Trac](https://meta.trac.wordpress.org/ticket/2938):

When a WordCamp submits a sponsor invoice, it goes into a queue to be approved by someone on the Global Community Team. Once it has been approved, it gets packaged up and submitted to Quickbooks Online (QBO, used by WPCS for invoicing) via the **wordcamp-qbo-client** plugin.

The problem is that QBO's API does not accept an inv

[2020-03-20 00:28] coreymckrill commented on #347
As of 69d9e1f0647c9ac6f5c258dd20fa6414ba3ecb16, bulk moderation of feedback comments by site admins/editors is possible. I can't tell if we actually made a decision on this issue (so I guess that means no!) My preference would be to show _approved_ feedback comments to the logged in speaker when they view the front end single session post (possibly with another custom endpoint tacked on the URL, s

[2020-03-20 00:30] coreymckrill commented on #342
Maybe instead of having two options, we just have a "Helpful" button. Speakers would only click the button for things that were truly helpful to them. Then we could measure the _percentage_ of feedback that was deemed helpful on each individual session.

I've seen similar schemes on things like Yelp reviews. You can mark something as "Cool" or "Helpful", but there aren't any negative options.

[2020-03-20 00:47] CdrMarks opened #396 "Upcoming Events Widget not honoring status changes for canceled and postponed WordCamps"
**Describe the bug**

In the WordPress Events and News dashboard box, WordCamp events that have been cancelled
 or postponed by changing the status from WordCamp Scheduled to Canceled or In Pre-Planning are still showing in the box.

**To reproduce**

1. Browse to https://central.wordcamp.org/wp-admin/ or any WordPress install with the WordPress Events and News dashboard box available
2. Change yo

[2020-03-20 16:10] ryelle commented on #342
I like that idea. There's probably a lot of overlap between actively unhelpful comments & spam (or otherwise moderated-away content).

Would we also want to track percentage of moderated comments, to keep an eye on negativity? that might need a separate status (since they'd be trashed now).

[2020-03-20 16:20] ryelle commented on #341
Hm, I do think it would be helpful for organizers going through and moderating content - could moderate one session's feedback at a time, without jumping back and forth to the Sessions list. But it _definitely_ doesn't need to be a priority.

[2020-03-20 16:53] coreymckrill commented on #341
Oh, I just realized you can also filter the list to just show unapproved comments for a particular session by clicking the comment bubble in the `In Response To` column on the Feedback list table. And also sort by that column so feedback for each session gets grouped together.

[2020-03-20 17:49] ryelle commented on #341
oh, true! sounds like the dropdown is not necessary, then 👍

[2020-03-20 17:52] coreymckrill commented on #341
🎉

[2020-03-20 17:52] #341 closed, assigned to nobody

[2020-03-20 20:09] coreymckrill commented on #347
Related: #342

[2020-03-20 21:35] rocket-martue opened #397 "The list of plugins currently installed on a local environment seems to be different to 2020.our.wordcamp.org"
[View in Slack](https://wordpress.slack.com/archives/C08M59V3P/p1582898747016100)

[2020-03-23 15:04] ryelle opened #398 "WordCamp Post Type: Add virtual event fields to WordCamps"
We want to be able to manage & track virtual events. We'll need the following added to the WordCamp "Venue Information" metabox:

- A checkbox to indicate a virtual event: "Virtual event only"
- A dropdown to indicate which Crowdcast account:
  - Crowdcast WordCamp 1
  - Crowdcast WordCamp 2
  - Other

If "Virtual event only" is checked, the physical address is not required.

[2020-03-23 22:30] ryelle commented on #396
@CdrMarks This should be fixed now, though you might still see locally cached items for another few hours. I'm going to close this issue, but feel free to re-open if you're still seeing unexpected WordCamps in the list.

[2020-03-23 22:36] ryelle opened #400 "Events Page: Add page for all "online" meetups & wordcamps"
Like http://make.wordpress.org/community/events

We can search through our cached events for "online" events using Meetup's naming guideline:

 ⚠️ Check if ^ is still applicable, I don't see that in [these docs.](https://help.meetup.com/hc/en-us/articles/360040609112-Hosting-an-online-event-on-Meetup)

Maybe add some indication of language, to allow for language filtering?

[2020-03-23 23:21] CdrMarks commented on #396
@ryelle I no longer see WordCamp Antwerp, a canceled event.

I am still seeing WordCamp Paris, a postponed event, when using Antwerp as my current location.  Paris changed status from WordCamp Scheduled to In Pre Planning on March 11.  I am still seeing their event listed as occuring in the Dashboard box on April 17.

WC Paris 2020: https://central.wordcamp.org/wp-admin/post.php?post=3095584&actio

[2020-03-24 14:14] #398 closed, assigned to ryelle

[2020-03-25 16:42] iandunn opened #402 "CampTix: Prevent broken Tickets pages when shortcode removed"
Removing the shortcode from the page breaks the ability to refund tickets, etc.

From https://wordpress.slack.com/archives/C08M59V3P/p1585075640140900:

<blockquote>
Ian Dunn: Aside to ^: we could add some code that would prevent removing the shortcode from the page after a ticket has been purchased<br/><br/>

Kevin Cristiano: Good idea. I just recreated the page with the proper slug, looks like i

[2020-03-25 18:30] ryelle commented on #400
- Events were updated to sync "offline" status in [r9625,](https://meta.trac.wordpress.org/changeset/9625) using the "offline" venue ID
- [r9632](https://meta.trac.wordpress.org/changeset/9632) added the UTC offset back into the database (there's a col for it, we just didn't use it)
- [r9633](https://meta.trac.wordpress.org/changeset/9633) adds the shortcode to display online events - either tagge

[2020-03-26 00:49] coreymckrill opened #403 "Payments: Wires and ACH transfer files can't contain non-ASCII characters"
Copied from [Meta Trac](https://meta.trac.wordpress.org/ticket/2972):

The character set that our bank will accept in an upload file for wires or ACH transfers is quite limited. When we upload a file with any payment instructions that contain so-called "special characters," the bank rejects the payment and the process to fix the payment instructions is quite clunky*.

It would save a large amount

[2020-03-27 19:41] ryelle opened #407 "WCPT: "Streaming account to use" does not save the "none" value"
Saving "None, not streaming" triggers the "other" value to be used, because it's not in the available streaming services list.

We'll also want to run through existing WC posts to check for streaming=other with an empty custom value, and set those back to the none value.

[2020-03-27 19:43] ryelle opened #408 "WCPT: Virtual events still require physical address"
The status check for "WordCamp Scheduled" requires the Physical Address, even when "Virtual event only" is checked — but the address input is hidden.

If the event is virtual, the address should not be required here.

[2020-03-27 19:46] ryelle commented on #400
This page should also show online WordCamps.

- Make sure the virtual event value is exposed in the API
- Add the first scheduled session time for each WordCamp into the wcpt endpoint for a real start time
- Sync virtual WordCamps over with `location=online`? Or some other method?
- These events _should_ show up on the events page by default, but make sure 🤞🏻

[2020-03-27 23:50] #346 closed, assigned to coreymckrill

[2020-03-28 00:13] coreymckrill commented on #347
Taking this a step further. Speakers aren't going to leave feedback for themselves. Could we use the same endpoint, but if the logged in user is a speaker for the session, it shows them the UI for viewing their feedback instead of the form to leave feedback?

[2020-03-30 19:24] #407 closed, assigned to ryelle

[2020-03-30 20:03] #408 closed, assigned to ryelle

[2020-03-30 20:11] ryelle commented on #396
I've manually updated WordCamp Paris — it seems that WordCamps still need to have dates in order for them to be synced down to the API, even if they're set back into pre-planning mode. I don't think this requires a code change, since this flow is a bit of an outlier, but if you see more WordCamps like this, leave a comment here & I'll reopen the issue.

[2020-03-31 03:33] CdrMarks commented on #396
I've reviewed the [Tracking Upcoming WordCamp](https://docs.google.com/spreadsheets/d/1XFccGP1a8kU5lw94a_yWGzVOFgk55KE3ZkQ-jMOCiBo/edit#gid=0) Google Sheet and added column L, `Upcoming Events?`, to the sheet with my findings.

[2020-03-31 22:11] ryelle commented on #400
- [r9661](https://meta.trac.wordpress.org/changeset/9661) syncs "Virtual event only" WordCamps as location = "online"
- [r9662](https://meta.trac.wordpress.org/changeset/9662) syncs over the first session time as start time (if it exists)

[2020-03-31 22:28] coreymckrill opened #411 "Speaker Feedback: Send reminder email to organizers to moderate feedback and notify speakers"
From #343:

Splitting this out from the other issue, which is actually about turning off the form after a certain amount of time.

[2020-04-01 15:47] ryelle commented on #400
Virtual WordCamps were not syncing over because they have no latitude/longitude - I've added a(nother) workaround for online events, to sync with the lat/long 1,1 ([r9675](https://meta.trac.wordpress.org/changeset/9675)). I'll check back when the sync next runs ~45min from now.

None of these online WordCamps should show up on the core events widget, since 1,1 is >400km from any city. Getting thos

[2020-04-01 17:09] ryelle commented on #400
WordCamps now show up on the [Online Events](https://make.wordpress.org/community/events/online/) page ✅

[2020-04-02 00:07] #400 closed, assigned to ryelle

[2020-04-02 17:20] ghost commented on #655
[Comment](https://meta.trac.wordpress.org/ticket/3199#comment:12) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585848021039700)._

[2020-04-02 17:22] ghost commented on #592
[Comment](https://meta.trac.wordpress.org/ticket/3201#comment:13) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585848138041100)._

[2020-04-02 17:29] ghost commented on #656
[Comment](https://meta.trac.wordpress.org/ticket/3203#comment:3) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585848539046300)._

[2020-04-02 17:34] ghost commented on #657
[Comment](https://meta.trac.wordpress.org/ticket/3217#comment:4) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585848849048700)._

[2020-04-02 17:39] ghost commented on #594
[Comment](https://meta.trac.wordpress.org/ticket/3246#comment:6) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585849166054900)._

[2020-04-02 17:49] ghost commented on #595
[Comment](https://meta.trac.wordpress.org/ticket/3259#comment:14) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585849766063200)._

[2020-04-02 17:51] ghost commented on #596
[Comment](https://meta.trac.wordpress.org/ticket/3277#comment:13) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1585849871064200)._

[2020-04-02 17:59] #321 closed, assigned to nobody

[2020-04-02 19:31] iandunn opened #413 "Redact email & physical addresses from WRX exports"
_Migrated from https://meta.trac.wordpress.org/ticket/3253_

[2020-04-03 14:10] ryelle commented on #374
[meta-3217](https://meta.trac.wordpress.org/ticket/3217) is another we could add to this batch, to allow organizers to assign a default gravatar image (the potential attendee block could have an image upload attached).

[2020-04-03 17:59] #343 closed, assigned to coreymckrill

[2020-04-03 17:59] #394 closed, assigned to coreymckrill

[2020-04-03 20:43] #334 closed, assigned to ryelle

[2020-04-03 20:54] ryelle commented on #347
So, a logged-in speaker would go to `some.wordcamp.org/sessions/my-session/feedback`, and (assuming everything's hooked up), we know they're the speaker for that session, so we can show them the "comments list" of feedback in place of the form? I think that's a good solution 👍

We'll probably want a designer's input on this, before building anything if possible, but definitely on the PR.

[2020-04-03 20:58] coreymckrill commented on #347
Yep, that's what I'm envisioning.

Agreed. If this is on the front end, it might not make sense to use the List Table UI for this, so we definitely need some design help.

[2020-04-03 21:02] coreymckrill commented on #342
If we wanted to track comments that aren't spam, but still aren't worth showing to speakers, then a separate status would probably be the way to go. But I'm not sure I understand what we'd gain by tracking that specifically.

[2020-04-03 21:06] ryelle commented on #342
Whether people are being jerks, really…

Is the "helpful" button only for the speaker(s)? I'm wondering if it would only be on the frontend view we're talking about in #347, or also in the wp-admin list.

[2020-04-03 21:34] ryelle commented on #370
As of #363, there is a skip feature flag (but AFAIK it's not applied to any sites yet), and the page is not (only) created as part of the activation but should also be created when the site is first loaded, so that piece should still work for all sites.

The outstanding issue is rewrites— the `/session/blah/feedback` endpoint doesn't exist without flushing rewrites for the individual sites. This'l

[2020-04-03 21:48] coreymckrill commented on #342
I was thinking that it was. I think it would be weird if the organizers could mark which feedback was "helpful" for the speakers.

[2020-04-03 21:54] coreymckrill commented on #342
So, like to track if specific people are consistently jerks, or more just what percentage of submitted feedback is mean-spirited garbage that isn't worth passing on to speakers?

[2020-04-03 22:05] ryelle commented on #342
Initially I was thinking the latter, but the former might be good for some audit-log style tracking for any possible CoC violations.

[2020-04-03 22:30] coreymckrill opened #414 "Speaker Feedback: Add a comment status for feedback that has been reviewed, but won't be sent to the speaker"
Originally the idea was that if a feedback moderator reviewed a comment that was inappropriate to send on to the session speaker (i.e. not spam, but still mean-spirited or off-topic), they would just trash it. However, there are multiple reasons a comment could be in the trash, so it's too ambiguous if we want to be able to track what percentage of all feedback is inappropriate and/or be able to s

[2020-04-03 22:30] coreymckrill commented on #342
Ok, I've split out this idea of having a new comment status into its own issue: https://github.com/WordPress/wordcamp.org/issues/414

[2020-04-03 23:54] coreymckrill commented on #342
Since the button to toggle "Helpful" for a feedback comment will be [on the front end](https://github.com/WordPress/wordcamp.org/issues/347), that means we'll probably need to be able to do that toggle action via a REST API call. Which means extending our current REST controller to also have `update_item` functionality.

We'll also have to store a value for comments that are "helpful", most likely

[2020-04-04 00:08] ryelle commented on #342
Maybe `POST` to `/feedback` could do the create, while `POST` to `/feedback/<id>` only sets a helpful value? I think the update vs create would be different callbacks, so we can do whatever we want… but I can do more thinking on this next week.

What do we do for multiple speakers on a session? This is probably a pretty edge-case scenario, but what if they disagree about helpfulness?

[2020-04-04 01:08] coreymckrill commented on #342
Yep, this is what I'm thinking too. What I'm getting at is that the set of valid meta values from our `get_schema` function would be different between those two endpoints.

Oh interesting. This makes me wonder if "helpfulness" should be a comment meta value, or a _user_ meta value.

I guess it depends on what we want to do with the data. If we want to measure what percentage of comments are deemed

[2020-04-06 17:34] ryelle commented on #347
My first thought about what this could be, very hacked-together: a straight list of feedback using a similar layout to regular comments. Still needs ratings added, and maybe an aggregate rating at the top (across from feedback?) Sharing as a jumping-off point, but all this could be changed if necessary 🙂

![Screen Shot 2020-04-06 at 1 25 38 PM](https://user-images.githubusercontent.com/541093/7858

[2020-04-06 18:10] coreymckrill commented on #347
Oh interesting. In this case, maybe we could use `wp_list_comments` with a custom walker class to include the meta data in the output, and then the theme would handle some/most of the styling.

[2020-04-06 20:32] enriquesanchez commented on #347
Here's a mockup iteraring on @ryelle's initial idea:

<img width="768" alt="Frame 1" src="https://user-images.githubusercontent.com/3276087/78601947-382aca80-781b-11ea-81a7-e03ee3603860.png">

Please let know what y'all think. Happy to make any necessary changes.

I'm listing under the speaker and session names the number of approved and pending reviews. I think this text could be a bit more clear

[2020-04-06 20:34] enriquesanchez commented on #347
I'm thinking it may also be a good idea to show the date of the talk/session somewhere on this page. I think those could be particularly useful when a speaker gives the same talk at different events/dates.

[2020-04-06 20:55] ryelle commented on #347
Thanks for the quick turnaround, I really like this! I'm about to have a bunch of nitpicks though.

So, ideally the top part of the session page wouldn't change, since we're trying to stay within the current session template. Using WCUS last year as a "real example", this is what we're working with:

![Screen Shot 2020-04-06 at 4 41 38 PM](https://user-images.githubusercontent.com/541093/78603759-

[2020-04-06 20:58] enriquesanchez commented on #347
@ryelle thanks for the clarification. I'll work on these changes.

[2020-04-06 21:32] #349 closed, assigned to ryelle

[2020-04-06 21:48] enriquesanchez commented on #347
Hi @ryelle

Here's an iteration based on your feedback:

<img width="940" alt="Frame 2" src="https://user-images.githubusercontent.com/3276087/78607465-b8096280-7824-11ea-9f4f-7dcef5b53938.png">

I'm now using the WC2019 website layout and style. Let me know if this works better.

I've updated this and kept the theme's style. Let me know how this feels to you.

I added both to the mockup, I think

[2020-04-06 21:51] enriquesanchez commented on #347
How many feedback submissions are we expecting to have shown here? I'm wondering if we should be thinking about cases where there are too many. Should show a few and collapse the rest, for example, show 5 and then a "View 23 more" link that expands them?

[2020-04-06 22:03] coreymckrill commented on #347
Really no idea how many a session will typically get, but I imagine at larger events there could be 50+ feedback comments for one session. In that case, I'm hoping we can either use pagination or something like you're describing, with a Load More button that loads the next batch.

[2020-04-06 22:04] coreymckrill commented on #347
I wonder if it would be worth having filtering and sorting options here as well. I could see speakers wanting to filter to only show comments they've marked as "Helpful", or sort by the rating.

[2020-04-06 23:02] enriquesanchez commented on #347
Did some overall tightening of spacing and colors. Also updated the user's name to be a link that directs to their profile. Are we using profiles?

<img width="409" alt="Screen Shot 2020-04-06 at 18 00 57" src="https://user-images.githubusercontent.com/3276087/78613180-bd6caa00-7830-11ea-9dfb-36b08da73a42.png">

[2020-04-06 23:03] enriquesanchez commented on #347
@coreymckrill I think this is a great idea. I'll work on this tomorrow 👍

[2020-04-07 02:14] CdrMarks opened #418 "Comma in Select option treated a separator and creates new option"
**Describe the bug**
When a comma is used in a Form's Select option, the portion of the option after the comma is treated as a new option.

**To reproduce**
Steps to reproduce the behavior:
1. Create a page with a Form and a Select block
2. Add three options as seen below in my screenshot.

**Expected behavior**
Three options

**Screenshots**
Editor View:
![image](https://user-images.githubusercon

[2020-04-07 13:51] ryelle commented on #418
It looks like this is actually an issue in Jetpack— https://github.com/Automattic/jetpack/issues/7633, and goes back to the shortcode https://github.com/Automattic/jetpack/issues/2917 . If you can work around it by not using commas, that's probably your best bet.

[2020-04-07 14:06] CdrMarks commented on #418
Yes, we were able to remove the comma from the value to workaround this.

Thank you for reporting this on the Jetpack repo.  I knew Forms were part of Jetpack and should have looked there first.

[2020-04-07 20:07] enriquesanchez commented on #347
@coreymckrill @ryelle here's a little update showing sorting/filtering options. I feel we should keep these as simple and basic as possible. I'm thinking the the 'Sort by' dropdown, we could include a few options such as `Oldest first`, `Newest first`, `Highest rated first`, etc. What do you think?

<img width="966" alt="Screen Shot 2020-04-07 at 15 05 24" src="https://user-images.githubuserconten

[2020-04-08 17:07] coreymckrill commented on #411
I actually think this could be achieved using the existing Organizer Reminders plugin, and won't require any additional code, except maybe adding a new placeholder shortcode that outputs the URL to the Feedback screen in the specified WordCamp.

The reminder details would look like this:

![reminder-details](https://user-images.githubusercontent.com/916023/78812267-fe270900-797f-11ea-8a3f-8883ac7e

[2020-04-08 21:55] coreymckrill opened #422 "Speaker Feedback: Inform speakers when they have approved feedback comments"
[The scope](https://docs.google.com/document/d/1-qeTPpRTRV4zXtEaMNjcyfDN_ks-USjT6h8NgZJZlLA/edit) and #411 both mention that organizers should somehow notify speakers manually when they have feedback comments available.

Manually doing this for each speaker sounds like a hassle, and even automating the process so that it's one click of a button on a screen somewhere still sounds like something tha

[2020-04-09 10:12] hlashbrooke commented on #422
I like the daily cron job idea that sends an email if there are new comments to read. I imagine the 1a option might just cause frustration for speakers if they keep getting emails and organisers aren't moderating the comment - I get the intent and I like where it's headed, but I don't know if that's a good practical option.

We could even couple that with option 2 as a final "you have feedback and

[2020-04-09 18:28] coreymckrill opened #425 "Speaker Feedback: Allow logged-in speakers with no role on a site to view their feedback"
Speakers who are logged into the WordCamp.org network should be able to view their feedback on a WordCamp site without the organizer needing to add them as a user. Right now our meta capabilities mapping specifies that if the current user is a speaker for the current session, the only capability they need is `read`, but this still implies that they have been added as a user on the site.

A couple

[2020-04-09 22:14] ryelle commented on #425
Another issue I noticed today is that site admins can view speaker feedback too— I haven't tested enough to see if this is just a super-admin power, though. We'll want to make sure organizers see the form, not the feedback list.

[2020-04-09 22:23] coreymckrill commented on #425
🤔 Organizers have to see the feedback list so they can approve each comment before it's shown to speakers...

[2020-04-09 22:37] ryelle commented on #425
In wp-admin, right— but on the frontend (in the PR I haven't pushed yet 🤦🏼‍♀️) I'm checking `if ( current_user_can( 'read_post_' . COMMENT_TYPE, $post->ID ) ) {` to decide whether to show the feedback form or the feedback list. Maybe I should just check the speaker IDs agains the session directly?

[2020-04-09 22:45] coreymckrill commented on #425
Oh, gotcha. Yeah, I would just check against the session directly. All the meta caps assume that site admins can see stuff too.

[2020-04-10 17:38] coreymckrill commented on #414
It looks like there is zero support in Core for custom comment statuses. There aren't even any filters available that could be used to inject them. As a workaround, I'm going to look into adding `inappropriate` as a comment meta value instead.

[2020-04-10 19:49] ryelle commented on #342
@coreymckrill Can this issue be closed since #420 was merged, or do you think there's still something that needs to be done here? #347 covers the frontend UI, and #425 covers the issue about non-site speakers.

[2020-04-10 20:01] coreymckrill commented on #342
I was thinking that since this is ultimately about "tracking" helpfulness, we should leave this open until we have some sort of reporting mechanism.

[2020-04-10 20:22] ryelle commented on #342
Ah, when I wrote the issue I meant track as "keep track of, store somewhere". Are you picturing something different than the reporting in https://github.com/WordPress/wordcamp.org/issues/344?

[2020-04-10 21:06] coreymckrill commented on #342
Ah, no, good point. I'll just add it as another bullet point there.

[2020-04-10 21:06] #342 closed, assigned to coreymckrill

[2020-04-10 21:06] coreymckrill commented on #344
* % of feedback marked as "helpful" by the speaker

[2020-04-13 16:04] ryelle opened #430 "Speaker Feedback: Indicate that feedback helpfulness can be un-marked"
From https://github.com/WordPress/wordcamp.org/pull/428#discussion_r406959820

[2020-04-13 16:14] #347 closed, assigned to ryelle

[2020-04-13 17:30] ryelle commented on #344
From above, I've pulled out this as the data we want per-event:

- Count of feedbacks per session as a percentage of total attendees marked attended
- Average star rating of all talks
- How many speakers look at the feedback page (as a percentage of all speakers)
  - We'll need to track speakers viewing feedback, could be a boolean post meta per speaker?
- Percentage of feedbacks that have been ap

[2020-04-13 17:47] coreymckrill commented on #344
I think the on-demand generated reports make the most sense here. The snapshots are good for 5ftf because it's an ongoing process with no distinct beginning or end. Here, the beginning of the event is a distinctive "start" and 2-4 weeks out is the "end".

I'm not sure this particular stat provides a lot of value, and I'm leery of keeping a bunch of worthless data stored in the database just so we

[2020-04-14 22:37] coreymckrill opened #432 "Speaker Feedback: "Comments" sidebar menu incorrectly gets a "pending comment count" badge when unapproving a feedback using a row action"
In the Feedback list table, when unapproving a feedback that has already been approved, the view counts at the top of the table are correctly updated, but then the "Comments" sidebar menu item also gets a new count, shown as a red badge, because the list table script is incorrectly assuming that the feedback is a normal comment. Refreshing the screen removes this erroneous badge.

The culprit is t

[2020-04-14 23:41] coreymckrill commented on #411
The organizer reminder has now been created on WC Central, but it hasn't been activated (published) yet. Maybe let's keep this issue open but marked as blocked until we're ready to activate it.

[2020-04-15 09:08] NobNob opened #434 "Camptix: Require a selection in the country dropdown field"
In our team we've detected a problem with the country selection dropdown field when registering a ticket. Since "Afghanistan" appears as the first option, even though users don't select any country, they submit the form with that country selected, and that isn't really their country. This could be solved by adding as first option something like "--Select a country--", and that this option cannot b

[2020-04-15 14:43] ryelle opened #435 "WC Post Types: Sessions can't be updated due to permissions error"
When a non-admin tries to edit a session, they can't save it:

The full API response:

[code]

[2020-04-15 20:18] #435 closed, assigned to ryelle

[2020-04-16 17:01] ghost commented on #597
[Comment](https://meta.trac.wordpress.org/ticket/3283#comment:8) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587056469114000)._

[2020-04-16 17:14] ghost commented on #658
[Comment](https://meta.trac.wordpress.org/ticket/3286#comment:7) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587057246134900)._

[2020-04-16 17:16] ghost commented on #598
[Comment](https://meta.trac.wordpress.org/ticket/3301#comment:7) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587057372136200)._

[2020-04-16 17:17] ghost commented on #599
[Comment](https://meta.trac.wordpress.org/ticket/3306#comment:5) by slackbot:

_This ticket was mentioned in [Slack](https://make.wordpress.org/chat/) in #meta-wordcamp by iandunn. [View the logs](https://wordpress.slack.com/archives/meta-wordcamp/p1587057461137200)._